{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Destinatario-Remitente{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Nuevo Destinatario-Remitente') %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('exh_externos.new', fid='exh_externo_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.estado) %}{% endcall %}
            {% call f.form_group(form.api_key) %}{% endcall %}
            {% call f.form_group(form.endpoint_consultar_materias) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_exhorto) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_exhorto_archivo) %}{% endcall %}
            {% call f.form_group(form.endpoint_consultar_exhorto) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_respuesta_exhorto) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_respuesta_exhorto_archivo) %}{% endcall %}
            {% call f.form_group(form.endpoint_actualizar_exhorto) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_promocion) %}{% endcall %}
            {% call f.form_group(form.endpoint_recibir_promocion_archivo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
