{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('EXH AREAS') %}
            {{ topbar.button('Áreas', url_for('exh_areas.list_active'), 'mdi:office-building-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH EXHORTOS') %}
            {{ topbar.button('Exhortos', url_for('exh_exhortos.list_active'), 'mdi:email-fast') }}
        {% endif %}
        {% if current_user.can_view('EXH EXTERNOS') %}
            {{ topbar.button('Externos', url_for('exh_externos.list_active'), 'mdi:home-map-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH TIPOS DILIGENCIAS') %}
            {{ topbar.button('Tipos Diligencias', url_for('exh_tipos_diligencias.list_active'), 'mdi:label') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('exh_exhortos_respuestas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('exh_exhortos_respuestas.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros exh_exhortos_respuestas -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosExhExhortosRespuestas.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroRespuestaOrigenId" type="text" class="form-control" aria-label="Respuesta Origen ID">
                            <label for="filtroRespuestaOrigenId">Respuesta Origen ID</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroNumeroExhorto" type="text" class="form-control" aria-label="No. Exhorto">
                            <label for="filtroNumeroExhorto">No. Exhorto</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosExhExhortosRespuestas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosExhExhortosRespuestas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable exh_exhortos_respuestas -->
        <table id="exh_exhortos_respuestas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Respuesta Origen ID</th>
                    <th>No. Exhorto</th>
                    <th>Tipo diligenciado</th>
                    <th>Remitente</th>
                    <th>Estado</th>
                    <th>Creado</th>
                    <th>Exhorto Origen ID</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable exh_exhortos_respuestas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTExhExhortosRespuestas = constructorDataTable.config();
        configDTExhExhortosRespuestas['ajax']['url'] = '/exh_exhortos_respuestas/datatable_json';
        configDTExhExhortosRespuestas['ajax']['data'] = {{ filtros }};
        configDTExhExhortosRespuestas['columns'] = [
            { data: 'detalle' },
            { data: 'numero_exhorto' },
            { data: 'tipo_diligenciado_nombre' },
            { data: 'remitente' },
            { data: 'estado' },
            { data: 'creado' },
            { data: 'exhorto_origen_id' }
        ];
        configDTExhExhortosRespuestas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.respuesta_origen_id + '</a>';
                }
            },
            {
                targets: 4, // estado
                data: null,
                render: function(data, type, row, meta) {
                    let bgcolor = "bg-dark";
                    let icon = "circle-small";
                    switch (data)    {
                        case "CANCELADO":  bgcolor = "bg-secondary";         icon="close-circle";    break;
                        case "ENVIADO":    bgcolor = 'bg-primary';           icon="send";            break;
                        case "PENDIENTE":  bgcolor = 'bg-warning text-dark'; icon="note-edit";       break;
                        case "POR ENVIAR": bgcolor = 'bg-warning text-dark'; icon="package-up";      break;
                        case "RECHAZADO":  bgcolor = "bg-danger";            icon="hand-back-left";  break;
                    }
                    let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                    return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                }
            }
        ];
        // Filtros exh_exhortos_respuestas
        const filtrosExhExhortosRespuestas = new FiltrosDataTable('#exh_exhortos_respuestas_datatable', configDTExhExhortosRespuestas);
        filtrosExhExhortosRespuestas.agregarInput('filtroRespuestaOrigenId', 'respuesta_origen_id');
        filtrosExhExhortosRespuestas.agregarInput('filtroNumeroExhorto', 'numero_exhorto');
        filtrosExhExhortosRespuestas.precargar();
    </script>
{% endblock %}
