{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {# Si viene la autoridad #}
        {% if autoridad %}
            {{ topbar.button_previous('Todos las Glosas', url_for('glosas.list_active')) }}
            {# Entonces pasar la autoridad como parametro #}
            {{ topbar.button_upload('Subir Glosa para ' + autoridad.clave, url_for('glosas.new_with_autoridad_id', autoridad_id=autoridad.id)) }}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('glosas.list_inactive') + '?autoridad_clave=' + autoridad.clave) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('glosas.list_active') + '?autoridad_clave=' + autoridad.clave) }}{% endif %}
            {{ topbar.button_dashboard('Tablero', url_for('glosas.dashboard') + '?autoridad_clave=' + autoridad.clave) }}
        {% else %}
            {# De lo contrario no se tiene #}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('glosas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('glosas.list_active')) }}{% endif %}
            {{ topbar.button_dashboard('Tablero', url_for('glosas.dashboard')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Glosas -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDTGlosas.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroAutoridadClave" type="text" class="form-control" aria-label="Autoridad clave" style="text-transform: uppercase;">
                            <label for="filtroAutoridadClave">Autoridad clave</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaDesde" type="date" class="form-control" aria-label="Fecha Desde">
                            <label for="filtroFechaDesde">Fecha Desde</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaHasta" type="date" class="form-control" aria-label="Fecha Hasta">
                            <label for="filtroFechaHasta">Fecha Hasta</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroExpediente" type="text" class="form-control" aria-label="Expediente" style="text-transform: uppercase;">
                            <label for="filtroExpediente">Expediente</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDTGlosas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDTGlosas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Glosas -->
        <table id="glosas_datatable" class="table {% if estatus == 'B' %}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Creado</th>
                    <th>Autoridad</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Expediente</th>
                    <th>Tipo de Juicio</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Glosas
        const constructorDataTable = new ConfigDataTable('{{ csrf_token() }}');
        let configDTGlosas = constructorDataTable.config();
        configDTGlosas['ajax']['url'] = '/glosas/admin_datatable_json';
        configDTGlosas['ajax']['data'] = {{ filtros }};
        configDTGlosas['columns'] = [
            {data: 'detalle'},
            {data: 'creado'},
            {data: 'autoridad_clave'},
            {data: 'fecha'},
            {data: 'descripcion'},
            {data: 'expediente'},
            {data: 'tipo_juicio'}
        ];
        configDTGlosas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function (data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // creado
                data: null,
                render: function (data, type, row, meta) {
                    return moment.utc(data).local().format('YYYY-MM-DD HH:mm');
                }
            },
            {
                targets: 3, // fecha
                type: "date",
                render: function (data, type, row) {
                    return moment(data).format('YYYY-MM-DD');
                }
            },
            {
                targets: 4, // descripcion
                data: null,
                render: function (data, type, row, meta) {
                    if (data.length > 24) {
                        return '<span title="' + data + '">' + data.substring(0, 24) + '…</span>';
                    }
                    return data;
                }
            }
        ];
        // Filtros Glosas
        const filtrosDTGlosas = new FiltrosDataTable('#glosas_datatable', configDTGlosas);
        filtrosDTGlosas.agregarInput('filtroAutoridadClave', 'autoridad_clave');
        filtrosDTGlosas.agregarInput('filtroFechaDesde', 'fecha_desde');
        filtrosDTGlosas.agregarInput('filtroFechaHasta', 'fecha_hasta');
        filtrosDTGlosas.agregarInput('filtroDescripcion', 'descripcion');
        filtrosDTGlosas.agregarInput('filtroExpediente', 'expediente');
        filtrosDTGlosas.precargar();
    </script>
{% endblock %}
