{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Municipio {{ municipio.clave }} {{ municipio.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Municipio ' + municipio.clave + ' ' + municipio.nombre) %}
        {{ topbar.button_previous('Municipios', url_for('municipios.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=municipio.estatus) %}
        {{ detail.label_value_big('Clave', municipio.clave) }}
        {{ detail.label_value('Estado', municipio.estado.nombre) }}
        {{ detail.label_value('Nombre', municipio.nombre) }}
    {% endcall %}
    {% if current_user.can_view('AUTORIDADES') %}
        {% call detail.card('Autoridades') %}
            <!-- Filtros autoridades -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosAutoridades.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                                <label for="filtroClave">Clave</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripcion" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosAutoridades.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosAutoridades.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable autoridades -->
            <table id="autoridades_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Descripción corta</th>
                        <th>Distrito</th>
                        <th>Extinto</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('AUTORIDADES') %}
        <script>
            // DataTable autoridades
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTable = constructorDataTable.config();
            configDataTable['ajax']['url'] = '/autoridades/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'municipio_id': {{ municipio.id}} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "descripcion_corta" },
                { data: "distrito" },
                { data: "es_extinto" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
                {
                    targets: 2, // distrito
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url != '') {
                            return '<a href="' + data.url + '">' + data.nombre_corto + '</a>';
                        }
                        return data.nombre_corto;
                    }
                }
            ];
            // Filtros autoridades
            const filtrosAutoridades = new FiltrosDataTable('#autoridades_datatable', configDataTable);
            filtrosAutoridades.agregarInput('filtroClave', 'clave');
            filtrosAutoridades.agregarInput('filtroDescripcion', 'descripcion');
            filtrosAutoridades.precargar();
        </script>
    {% endif %}
{% endblock %}
