{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/requisiciones/detail.jinja2' as detail_requisiciones %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Requisiciones{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(req_requisicion.observaciones) %}
        {{ topbar.button_previous('Requisiciones', url_for('req_requisiciones.list_active')) }}

        {% if req_requisicion.estado in ['BORRADOR', 'SOLICITADO', 'CANCELADO POR SOLICITANTE', 'AUTORIZADO', 'CANCELADO POR AUTORIZANTE', 'REVISADO', 'CANCELADO POR REVISANTE'] %}
            {{ topbar.button_print('Imprimir', url_for('req_requisiciones.detail_print', req_requisicion_id=req_requisicion.id)) }}
        {% endif %}
        {% if req_requisicion.archivo_pdf_url is none %}
            {{ topbar.button('Crear PDF', url_for('req_requisiciones.create_pdf', req_requisicion_id=req_requisicion.id), 'mdi:file-pdf-box') }}
        {% endif %}

        {% if req_requisicion.estado == "BORRADOR" and "REQUISICIONES SOLICITANTES" in current_user_roles %}
            {{ topbar.button('Solicitar', url_for('req_requisiciones.step_2_request', req_requisicion_id=req_requisicion.id),'mdi:check') }}
        {% endif %}
        {% if req_requisicion.estado == "SOLICITADO" and req_requisicion.estatus == 'A' and "REQUISICIONES AUTORIZANTES" in current_user_roles %}
            {{ topbar.button_authorize('Autorizar', url_for('req_requisiciones.step_3_authorize',req_requisicion_id=req_requisicion.id)) }}
        {% endif %}
        {% if req_requisicion.estado == "SOLICITADO" and req_requisicion.estatus == 'A' and "REQUISICIONES SOLICITANTES" in current_user_roles %}
            {{ topbar.button('Cancelar solicitado', url_for('req_requisiciones.cancel_2_request',req_requisicion_id=req_requisicion.id), 'mdi:close') }}
        {% endif %}
        {% if req_requisicion.estado == "AUTORIZADO" and req_requisicion.estatus == 'A' and "REQUISICIONES REVISANTES" in current_user_roles %}
            {{ topbar.button_review('Revisar', url_for('req_requisiciones.step_4_review', req_requisicion_id=req_requisicion.id)) }}
        {% endif %}
        {% if req_requisicion.estado == "AUTORIZADO" and req_requisicion.estatus == 'A' and "REQUISICIONES AUTORIZANTES" in current_user_roles %}
            {{ topbar.button('Cancelar Autorizado', url_for('req_requisiciones.cancel_3_authorize',req_requisicion_id=req_requisicion.id)) }}
        {% endif %}
        {% if req_requisicion.estado == "REVISADO" and req_requisicion.estatus == 'A' and "REQUISICIONES REVISANTES" in current_user_roles%}
            {{ topbar.button('Cancelar Revisado', url_for('req_requisiciones.cancel_4_review',req_requisicion_id=req_requisicion.id)) }}
        {% endif %}
        {% if current_user.can_edit('REQ REQUISICIONES') and req_requisicion.estado == "BORRADOR" %}
            {{ topbar.button_edit('Editar', url_for('req_requisiciones.edit', req_requisicion_id=req_requisicion.id)) }}
            {% if req_requisicion.estatus == 'A' %}
                {{ topbar.button_delete('Eliminar', url_for('req_requisiciones.delete', req_requisicion_id=req_requisicion.id)) }}
            {% endif %}
            {% if req_requisicion.estatus == 'B' %}
                {{ topbar.button_recover('Recuperar', url_for('req_requisiciones.recover', req_requisicion_id=req_requisicion.id)) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

        {% block content %}
            {% call detail.card(title='Estado actual', estatus=req_requisicion.estatus) %}
            {{ detail.label_value('Estado', req_requisicion.estado) }}
            {{ detail.label_value('Firma simple', req_requisicion.firma_simple) }}
            {% endcall %}

            {% if req_requisicion.estado in ['BORRADOR', 'SOLICITADO', 'CANCELADO POR SOLICITANTE', 'AUTORIZADO', 'CANCELADO POR
            AUTORIZANTE', 'REVISADO', 'CANCELADO POR REVISANTE'] %}
            {% call detail.card(title='Usuario que creo Borrador', estatus=req_requisicion.estatus) %}
            {{ detail.label_value('Nombre', usuario.nombres) }}
            {{ detail.label_value('Puesto', usuario.puesto) }}
            {{ detail.label_value('e-mail', usuario.email) }}
            {{ detail.label_value('Oficina', usuario.oficina.clave + ': ' + usuario.oficina.descripcion) }}
            {{ detail.label_value('Tiempo', moment(req_requisicion.creado).format('llll')) }}
        {% endcall %}
{% endif %}



{% call detail.card(title='Requisición', estatus=req_requisicion.estatus) %}
<div class="container-fluid">
    <div class="row d-flex justify-content-end">
        <div class="col-md-3">
            {{ detail_requisiciones.labeldown_valueup('Gasto', req_requisicion.gasto) }}
        </div>
        <div class="col-md-3">
            {{ detail_requisiciones.labeldown_valueup('Fecha de captura', req_requisicion.fecha) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            {{ detail_requisiciones.labeldown_valueup('Área solicitante', autoridad.descripcion) }}
        </div>
        <div class="col-md-5">
            {{ detail_requisiciones.labeldown_valueup('Glosa', req_requisicion.glosa) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ detail_requisiciones.labeldown_valueup('Programa', req_requisicion.programa) }}
        </div>
        <div class="col-md-6">
            {{ detail_requisiciones.labeldown_valueup('Fuente de financiamiento', req_requisicion.fuente_financiamiento) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            {{ detail_requisiciones.labeldown_valueup('Area final a quien se entregara', req_requisicion.area) }}
        </div>
        <div class="col-md-3">
            {{ detail_requisiciones.labeldown_valueup('Fecha requerida', req_requisicion.fecha_requerida) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ detail_requisiciones.labeldown_valueup('Observaciones', req_requisicion.observaciones) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ detail_requisiciones.labeldown_valueup('Justificación', req_requisicion.justificacion) }}
        </div>
    </div>

</div>

{% endcall %}


{% call detail.card() %}
<div class="row">
    <div class="col-md-12" id="divArticulos">

        <div class="row" style="border-bottom:1px solid #666">
            <div class="col-md-1"><label>No. código</label></div>
            <div class="col-md-4"><label>Descripción</label></div>
            <div class="col-md-1"><label>U. medida</label></div>
            <div class="col-md-1"><label>Clave</label></div>
            <div class="col-md-1"><label>Cantidad</label></div>
            <div class="col-md-4"><label>Detalle</label></div>
        </div>
        {% if req_requisicion_registro %}
        {% for campos in req_requisicion_registro %}
        <div class="row" style="border-bottom:0px solid #666;" id="div">
            <div class="col-md-1">{{ detail_requisiciones.value_only( campos.req_catalogo.id) }}</div>
            <div class="col-md-4">{{ detail_requisiciones.value_only( campos.req_catalogo.descripcion) }}</div>
            <div class="col-md-1">{{ detail_requisiciones.value_only( campos.req_catalogo.unidad_medida) }}</div>
            <div class="col-md-1">{{ detail_requisiciones.value_only( campos.req_catalogo.clave) }}</div>
            <div class="col-md-1"> {{ detail_requisiciones.value_only( campos.cantidad) }}</div>
            <div class="col-md-2"> {{ detail_requisiciones.value_only( campos.detalle) }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                No hay registros
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center mt-5">

    </div>
</div>
{% endcall %}

{% call detail.card(title='Firmas') %}
<div class="row">
    <div class="col-md-4 text-center mt-5 pt-5">
        Solicita
        <br><br>
        <hr>
        {% if req_requisicion.estado in ['SOLICITADO', 'CANCELADO POR SOLICITANTE', 'AUTORIZADO', 'CANCELADO POR
        AUTORIZANTE', 'ENTREGADO','REVISADO', 'CANCELADO POR REVISANTE',] %}
        {{usuario_solicito.nombre}}<br>
        {{moment(req_requisicion.solicito_tiempo).format('llll') }}
        {% endif %}
    </div>
    <div class="col-md-4 text-center mt-5 pt-5">
        Autoriza
        <br><br>
        <hr>
        {% if req_requisicion.estado in ['AUTORIZADO', 'CANCELADO POR AUTORIZANTE', 'ENTREGADO','REVISADO', 'CANCELADO
        POR REVISANTE',] %}
        {{usuario_autorizo.nombre}}<br>
        {{moment(req_requisicion.autorizo_tiempo).format('llll') }}
        {% endif %}
    </div>
    <div class="col-md-4 text-center mt-5 pt-5">
        Revisó
        <br><br>
        <hr>
        {% if req_requisicion.estado in ['ENTREGADO','REVISADO', 'CANCELADO POR REVISANTE',] %}
        {{usuario_reviso.nombre}}<br>
        {{moment(req_requisicion.reviso_tiempo).format('llll') }}
        {% endif %}
    </div>
</div>

    {% if req_requisicion.archivo_pdf_url %}
        {{ detail.button_md('Descargar PDF', url_for('req_requisiciones.download_file_pdf', req_requisicion_id=req_requisicion.id), 'mdi:download', "_blank", color_class='btn-success') }}
    {% endif %}
{% endcall %}

{% endblock %}



{% block custom_javascript %}
    {% if current_user.can_edit('REQ REQUISICIONES') %}
    {% if req_requisicion.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la requisición' +
    req_requisicion.gasto + '?') }}{% endif %}
    {% if req_requisicion.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' +
    req_requisicion.gasto + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}