
{% import 'macros/detail.jinja2' as detail %}

{% block content %}
    <div style=' font-family:Helvetica'>
        <table style='width:70%; margin:0 auto;'>
            <tr>
                <td><img src='/static/img/escudo.png' width='120'></td>
                <td align='center'>
                    <b>PODER JUDICIAL DEL ESTADO DE COAHUILA DE ZARAGOZA</b>
                    <br>
                    Dirección de Recursos Materiales<br>
                    Blvd. Isidro López Zertuche 2791 Col. Los Maestros<br>
                    C.P. 25236 Saltillo, Coahuila, Tel. (844) 438 03 50 Ext. 6991<br>  
                </td>
                <td> 
                    {{ moment(req_requisicion.creado).format('ll') }}
                </td>
            </tr>
        </table>
        <h1 style='text-align:center'>Requisición</h1>
        <table border=0 width='70%' cellspacion=0 cellpadding=10 style='margin:0 auto'>
            <tr>
                <td colspan='6' style='background-color:#777; color:#fff'>ÁREA SOLICITANTE</td>
                <td colspan='6' style='background-color:#777; color:#fff'>GLOSA</td>
            </tr>
            <tr>
                <td colspan='6'>{{req_requisicion.area}}</td>
                <td colspan='6'>{{req_requisicion.glosa}}</td>
            </tr>
            <tr>
                <td colspan='6' style='background-color:#777; color:#fff'>PROGRAMA</td>
                <td colspan='6' style='background-color:#777; color:#fff'>FUENTE DE FINANCIAMIENTO</td>
            </tr>
            <tr>
                <td colspan='6'>{{req_requisicion.programa}}</td>
                <td colspan='6'>{{req_requisicion.fuente}}</td>
            </tr>
            <tr>
                <td colspan='6' style='background-color:#777; color:#fff'>ÁREA FINAL A QUIEN SE ENTREGARA</td>
                <td colspan='6' style='background-color:#777; color:#fff'>FECHA REQUERIDA</td>
            </tr>
            <tr>
                <td colspan='6'>{{req_requisicion.area}}</td>
                <td colspan='6'>{{req_requisicion.fecha_requerida}}</td>
            </tr>
            <tr>
                <td colspan='12' style='background-color:#777; color:#fff'>OBSERVACIONES</td>
            </tr>
            <tr>
                <td colspan='12'>{{req_requisicion.observaciones}}</td>
            </tr>
            <tr>
                <td colspan='12' style='background-color:#777; color:#fff'>JUSTIFICACION</td>
            </tr>
            <tr>
                <td colspan='12'>{{req_requisicion.justificacion}}</td>
            </tr>
            <tr>
                <td colspan=3 style='background-color:#777; color:#fff'>CODIGO</td>
                <td colspan=5 style='background-color:#777; color:#fff'>DESCRIPCION</td>
                <td style='background-color:#777; color:#fff'>U. MEDIDA</td>
                <td style='background-color:#777; color:#fff'>CANTIDAD</td>
                <td style='background-color:#777; color:#fff'>CLAVE</td>
                <td style='background-color:#777; color:#fff'>DETALLE</td> 
            </tr>

            {% if req_requisicion_registro %}
                {% for campos in req_requisicion_registro %}
                    <tr>
                        <td colspan=3>{{ campos.ReqCatalogo.id }}</td>
                        <td colspan=5>{{ campos.ReqCatalogo.descripcion }}</td>
                        <td>{{ campos.ReqCatalogo.unidad_medida }}</td>
                        <td>{{ campos.ReqRequisicionRegistro.cantidad }}</td>
                        <td>{{ campos.ReqCatalogo.clave }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan=3></td>
                    <td colspan=5></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                </tr>
            {% endif %}
            
        </table>
    </div>

    <div style='font-family:helvetica;'>
        <table style='width:70%;  margin: 0 auto; text-align:center'>
            <tr>
                <td colspan='3'><br><hr style='border: double'><br></td>
            </tr>
            <tr>
                <td>
                    SOLICITA
                    <br><br><br>
                    {{req_requisicion.area}}
                    <br>
                    ________________________________
                </td>
                <td>
                    AUTORIZA
                    <br><br><br><br>
                    ________________________________
                </td>
                <td>
                    REVISÓ
                    <br><br><br><br>
                    ________________________________
                </td>
            </tr>
        </table>
    </div>
  
    <div id="" style='margin-top:40px; font-family: helvetica; display:none'>
        <table style='margin:0 auto'>
            <tr>
                <td colspan="2">
                    Este documento tiene <strong>firma electrónica.</strong> Su estado es <strong>{{ req_requisicion.estado }}.</strong> Para validarlo:
                </td>
            </tr>
            <tr>
                <td>1. Con su teléfono celular <strong>lea este QR</strong> y cargue la página.</td>
            </tr>
            <tr>
                <td>2. Revise que el <strong>Sello digital</strong> sea igual.</td>
            </tr>
            <tr>
                <td style="text-align: center;"><img class="imagenQR" src="{{ efirma_qr_url }}" alt="QR"></td>
                <td class="textoSelloDigital"> {{ efirma_sello_digital }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    3. Y verifique que en <strong>Cadena original</strong> aparezca la misma información.
                </td>
            </tr>
        </table>
    </div>
    
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
