{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Autorizar Requisición{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Autorizar Requisición ' + req_requisicion.glosa | string) }}
    {% call topbar.page_buttons('Requisición: ' + req_requisicion.folio) %}
        {{ topbar.button_previous('Requisiciones', url_for('req_requisiciones.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Creado') %}
        {{ detail.label_value('Nombre', req_requisicion.usuario.nombre) }}
        {{ detail.label_value('Puesto', req_requisicion.usuario.puesto) }}
        {{ detail.label_value('e-mail', req_requisicion.usuario.email) }}
        {{ detail.label_value('Fecha de captura', moment(req_requisicion.creado).format('llll')) }}
        {{ detail.label_value('Glosa', req_requisicion.glosa) }}
    {% endcall %}

{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
