.directory
.DS_Store
.~lock.*

*.csv
*.html
*.log
*.py[cod]
*.sql
*.sqlite3
*.sqlite3-journal
*.session.sql
*.txt
*.xls
*.xlsx
*.XLS
*.XLSX

.bashrc
.env
poetry.lock

__pycache__/
*.egg-info/

/.venv/
/seed/
/venv/
