{% extends 'layouts/app.jinja2' %}
{% import 'macros/card.jinja2' as card %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Plataforma Web{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Inicio') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% if mostrar_recibos_nomina %}
                {% call card.card(title='Cuenta personal', img_top='https://storage.googleapis.com/pjecz-informatica/static/images/inicio_recibos_de_nomina.jpg', img_top_alt='Recibos de nómina') %}
                    Hola <strong>{{ current_user.nombres }}.</strong>
                    La descarga de recibos de nómina se puede hacer desde cualquier computadora o teléfono inteligente con la seguridad de tu cuenta de correo electrónico.
                    Tus recibos de nómina (desde diciembre de 2023) están disponibles para su <a href="{{ url_for('usuarios_nominas.list') }}">descarga aquí.</a>
                {% endcall %}
            {% else %}
                {% call card.card(title='Cuenta operativa', img_top='https://storage.googleapis.com/pjecz-informatica/static/images/inicio_cuenta.jpg', img_top_alt='Bienvenido') %}
                    Tu cuenta <strong>{{ current_user.email }}</strong> sirve para consultar y administrar información.
                    En cambio, si es personal con <strong>coahuila.gob.mx</strong> y no puedes obtener recibos de nómina,
                    levanta un ticket con una cuenta personal donde vas a escribir tu nombre completo, e-mail, CURP, oficina, puesto y teléfono celular solicitando el cambio.
                {% endcall %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if mostrar_tickets_soporte %}
                {% call card.card(title='Tickets de soporte', img_top='https://storage.googleapis.com/pjecz-informatica/static/images/inicio_soporte_tecnico.jpg', img_top_alt='Tickets de soporte') %}
                    El sistema de tickets para soporte técnico es esencial para gestionar eficientemente los problemas tecnológicos.
                    Su propósito es asegurar que cada problema sea documentado, priorizado y atendido oportunamente.
                    <a href="{{ url_for('soportes_tickets.list_active') }}">Levanta un ticket</a> o
                    <a href="{{ url_for('soportes_tickets.list_active') }}">revisa tus tickets aquí.</a>
                {% endcall %}
            {% else %}
                {% call card.card(title='Justicia cercana, moderna y pronta', img_top='https://storage.googleapis.com/pjecz-informatica/static/images/inicio_trabajo.jpg', img_top_alt='No dejes de...') %}
                    La publicación de información oportuna y de alta calidad es fundamental para el funcionamiento efectivo de una sociedad democrática.
                    Cuando los justiciables tienen acceso a datos precisos y actualizados en el momento adecuado, sus vidas tendrán los elementos para participar de manera más efectiva en el sistema de justicia.
                {% endcall %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% call card.card(title='Modernización de la Plataforma Web', img_top='https://storage.googleapis.com/pjecz-informatica/static/images/inicio_plataforma_web.jpg', img_top_alt='Usar la Plataforma es ser sustentable') %}
                Diseñado con tecnologías de vanguardia y arquitecturas escalables, está preparado para adaptarse a las crecientes demandas y cambios tecnológicos del futuro.
                Al digitalizar procesos y documentos, se logra una drástica reducción en los costos asociados a las impresiones, no solo aliviando la carga financiera,
                sino también contribuyendo a la conservación del medio ambiente.
            {% endcall %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% call card.card(title='Sistema Integral de Calidad y Gestión Documental') %}
                <h4>Política Integral</h4>
                <p class="lead">
                    El Poder Judicial del Estado de Coahuila de Zaragoza
                    basado en los principios de una justicia
                    <span class="roboto-bold">
                    Abierta y Transparente, de Calidad, Eficiente, Cercana, Innovadora y Profesional,
                    </span>
                    que brinda certeza jurídica, confianza e imparcialidad a la ciudadanía,
                    comprometido a proporcionar atención y servicios bajo una cultura de calidad,
                    gestión documental y mejora contínua,
                    con un enfoque centrado en la persona y sus derechos humanos.
                </p>
            {% endcall %}
        </div>
    </div>
    {% if mostrar_tableros %}
        <div class="row">
            <div class="col-md-4">
                {% call card.card(title='Edictos') %}
                    <div style="height: 300px">
                        <div class="my-4">
                            <canvas id="canvasEdictos"></canvas>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if autoridad %}{{ card.button_md(label='Listado', url=url_for('edictos.list_active')+'?autoridad_clave='+autoridad.clave, icon='mdi:file-check', color_class='btn-outline-secondary') }}{% endif %}
                            </div>
                            <div class="col">
                                {% if autoridad %}{{ card.button_md(label='Tablero', url=url_for('edictos.dashboard')+'?autoridad_clave='+autoridad.clave, icon='mdi:file-check', color_class='btn-outline-secondary') }}{% endif %}
                            </div>
                        </div>
                    </div>
                {% endcall %}
            </div>
            <div class="col-md-4">
                {% call card.card(title='Listas de acuerdos') %}
                    <div style="height: 150px"></div>
                {% endcall %}
            </div>
            <div class="col-md-4">
                {% call card.card(title='V.P. de Sentencias') %}
                    <div style="height: 300px">
                        <div class="my-4">
                            <canvas id="canvasSentencias"></canvas>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if autoridad %}{{ card.button_md(label='Listado', url=url_for('sentencias.list_active')+'?autoridad_clave='+autoridad.clave, icon='mdi:gavel', color_class='btn-outline-secondary') }}{% endif %}
                            </div>
                            <div class="col">
                                {% if autoridad %}{{ card.button_md(label='Tablero', url=url_for('sentencias.dashboard')+'?autoridad_clave='+autoridad.clave, icon='mdi:gavel', color_class='btn-outline-secondary') }}{% endif %}
                            </div>
                        </div>
                    </div>
                {% endcall %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    <script>
        // Cuando se haya cargado la página
        $(document).ready(function() {
            // Obtener los canvas
            const ctxEdictos = document.getElementById('canvasEdictos')
            const ctxSentencias = document.getElementById('canvasSentencias')
            // Preparar los parámetros
            const getParams = new URLSearchParams({
                {% if autoridad %}autoridad_clave: '{{ autoridad.clave }}',{% endif %}
                cantidad_dias: 5,
            })
            // Graficar Edictos
            fetch(`/edictos/tablero_cantidades_por_dia_json?${getParams}`)
                .then(response => response.json())
                .then(data => {
                    const configChart = {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Edictos',
                                data: data.data,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            animation: false,
                            plugins: {
                                legend: {
                                    display: false
                                }
                            },
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    }
                    const chart = new Chart(ctxEdictos, configChart)
                })
                .catch(error => console.error('Error:', error));
            // Graficar Sentencias
            fetch(`/sentencias/tablero_cantidades_por_dia_json?${getParams}`)
                .then(response => response.json())
                .then(data => {
                    const configChart = {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'V.P. de Sentencias',
                                data: data.data,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            animation: false,
                            plugins: {
                                legend: {
                                    display: false
                                }
                            },
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    }
                    const chart = new Chart(ctxSentencias, configChart)
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}
