{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Plataforma Web{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Plataforma Web') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% call detail.card(title='Recibos de nómina') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
        <div class="col-md-4">
            {% call detail.card(title='Tickets de soporte') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
        <div class="col-md-4">
            {% call detail.card(title='Encuesta de satisfacción') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% call detail.card(title='Sistema Integral de Calidad y Gestión Documental') %}
                <h4>Política Integral</h4>
                <p class="lead">
                    El Poder Judicial del Estado de Coahuila de Zaragoza
                    basado en los principios de una justicia
                    <span class="roboto-bold">
                    Abierta y Transparente, de Calidad, Eficiente, Cercana, Innovadora y Profesional,
                    </span>
                    que brinda certeza jurídica, confianza e imparcialidad a la ciudadanía,
                    comprometido a proporcionar atención y servicios bajo una cultura de calidad,
                    gestión documental y mejora contínua,
                    con un enfoque centrado en la persona y sus derechos humanos.
                </p>
            {% endcall %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% call detail.card(title='Agenda de audiencias') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
        <div class="col-md-3">
            {% call detail.card(title='Edictos') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
        <div class="col-md-3">
            {% call detail.card(title='Listas de acuerdos') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
        <div class="col-md-3">
            {% call detail.card(title='V.P. de Sentencias') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% call detail.card(title='Recomendaciones sobre ciberseguridad') %}
                <div style="height: 150px"></div>
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
