{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Equipo {{ inv_equipo.id }} es {{ inv_equipo.descripcion }}{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Equipo ' + inv_equipo.id | string + ' ' + inv_equipo.descripcion) }}
{% endblock %}

{% block content %}
    {% call detail.card('Custodia') %}
        {{ detail.label_value('ID', inv_equipo.inv_custodia.id) }}
        {{ detail.label_value('Usuario', inv_equipo.inv_custodia.nombre_completo + ' (' + inv_equipo.inv_custodia.usuario.email + ')') }}
        {# detail.label_value('CURP', inv_equipo.inv_custodia.curp) #}
        {{ detail.label_value('Puesto', inv_equipo.inv_custodia.usuario.puesto) }}
        {{ detail.label_value('Oficina', inv_equipo.inv_custodia.usuario.oficina.descripcion_corta + ' (' + inv_equipo.inv_custodia.usuario.oficina.clave + ')') }}
        {{ detail.label_value('Edificio', inv_equipo.inv_custodia.usuario.oficina.domicilio.edificio) }}
        {{ detail.label_value('Fecha', moment(inv_equipo.inv_custodia.fecha, local=True).format("DD MMM YYYY")) }}
    {% endcall %}
    {% call f.card(title='Equipo') %}
        {% set form_kwargs = {'inv_equipo_id': inv_equipo.id} %}
        {% call f.form_tag('inv_equipos.edit', fid='inv_equipo_form', **form_kwargs) %}
            <div class="row">
                <div class="col-md-6">
                    {% call f.form_group(form.inv_modelo) %}{% endcall %}
                    {% call f.form_group(form.descripcion) %}{% endcall %}
                    {% call f.form_group(form.tipo) %}{% endcall %}
                    {% call f.form_group(form.fecha_fabricacion_anio) %}{% endcall %}
                    {% call f.form_group(form.numero_serie) %}{% endcall %}
                    {% call f.form_group(form.numero_inventario) %}{% endcall %}
                </div>
                <div class="col-md-6">
                    {% call f.form_group(form.inv_red) %}{% endcall %}
                    {% call f.form_group(form.direccion_ip) %}{% endcall %}
                    {% call f.form_group(form.direccion_mac) %}{% endcall %}
                    {% call f.form_group(form.numero_nodo) %}{% endcall %}
                    {% call f.form_group(form.numero_switch) %}{% endcall %}
                    {% call f.form_group(form.numero_puerto) %}{% endcall %}
                </div>
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#inv_modelo').addClass("js-data-ajax js-states form-control");
            $('#inv_modelo').select2({
                ajax: {
                    url: "/inv_modelos/inv_modelos_json",
                    headers: { 'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                    dataType: "json",
                    delay: 300,
                    type: "POST",
                    data: function (params) {
                        return { 'nombre_o_descripcion': params.term.toUpperCase() };
                    }
                },
                minimumInputLength: 3,
                cache: false,
                allowClear: true
            });
        });
    </script>
    {{ detail.moment_js(moment) }}
{% endblock %}
