{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Ticket{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Nuevo Ticket') %}
        {{ topbar.button_manual('Manual', 'https://justiciadigital.gob.mx/plataforma_web/tickets') }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('soportes_tickets.new', fid='ticket_form') %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.oficina, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion, rows=7) %}{% endcall %}
            <input id="clasificacion" name="clasificacion" type="hidden" value="">
            <input id="departamento" name="departamento" type="hidden" value="">
            <div><strong>2. Elija una clasificación</strong></div>
            <div class="form-check form-check-inline">
                <label class="form-check-label"><strong>Informática:</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_01" value="SOPORTE TECNICO">
                <label class="form-check-label" for="radio_informatica_01">SOPORTE TECNICO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_02" value="PAIIJ">
                <label class="form-check-label" for="radio_informatica_02">PAIIJ</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_03" value="SIGE">
                <label class="form-check-label" for="radio_informatica_03">SIGE</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_04" value="SAJI HIPOTECARIO">
                <label class="form-check-label" for="radio_informatica_04">SAJI HIPOTECARIO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_05" value="SAJI LABORAL">
                <label class="form-check-label" for="radio_informatica_05">SAJI LABORAL</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_05" value="SICCED">
                <label class="form-check-label" for="radio_informatica_05">SICCED</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_informatica_06" value="OTRO" checked>
                <label class="form-check-label" for="radio_informatica_06">OTRO</label>
            </div>
            <br/>
            <div class="form-check form-check-inline">
                <label class="form-check-label"><strong>Infraestructura:</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios_categoria" id="radio_infraestructura_01" value="INFRAESTRUCTURA">
                <label class="form-check-label" for="radio_infraestructura_01">INFRAESTRUCTURA</label>
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    <script>
        let dataSet = {{ filtros }};
        /* Filtrar el listado según el radibutton seleccionado */
        function actualizar_lista_instrucciones(valor) {
            dataSet.nombre = valor;
            dataSet.departamento = "";
            if (dataSet.nombre == 'INFRAESTRUCTURA') {
                dataSet.departamento = "INFRAESTRUCTURA";
                dataSet.nombre = "OTRO";
            } else
                dataSet.departamento = "INFORMATICA";
            // Establecer valores de los campos ocultos de formulario de llenado
            document.getElementById('clasificacion').value = dataSet.nombre;
            document.getElementById('departamento').value = dataSet.departamento;
        };

        // Carga el formulario por primera vez
        actualizar_lista_instrucciones("OTRO");
        // Asignamos el cambio de cada radiobutton a la función de actualizar lista
        $('input[type=radio][name=radios_categoria]').change(function() {
            actualizar_lista_instrucciones(this.value);
        });
    </script>
{% endblock %}
