{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Exhorto Actualización {{ exh_exhorto_actualizacion.actualizacion_origen_id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Exhorto Actualización ' + exh_exhorto_actualizacion.actualizacion_origen_id | string) %}
        {{ topbar.button_previous('Exhorto', url_for('exh_exhortos.detail', exh_exhorto_id=exh_exhorto_actualizacion.exh_exhorto_id)) }}
        {% if current_user.can_edit('EXH EXHORTOS ACTUALIZACIONES') and exh_exhorto_actualizacion.estado == "PENDIENTE" %}
            {{ topbar.button_edit('Editar', url_for('exh_exhortos_actualizaciones.edit', exh_exhorto_actualizacion_id=exh_exhorto_actualizacion.id)) }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS ACTUALIZACIONES') %}
            {% if exh_exhorto_actualizacion.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos_actualizaciones.delete', exh_exhorto_actualizacion_id=exh_exhorto_actualizacion.id)) }}{% endif %}
            {% if exh_exhorto_actualizacion.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos_actualizaciones.recover', exh_exhorto_actualizacion_id=exh_exhorto_actualizacion.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=exh_exhorto_actualizacion.estatus) %}
        {{ detail.label_value('Exhorto ID', exh_exhorto_actualizacion.exh_exhorto.exhorto_origen_id, url_for('exh_exhortos.detail', exh_exhorto_id=exh_exhorto_actualizacion.exh_exhorto.id)) }}
        {{ detail.label_value('Origen ID', exh_exhorto_actualizacion.actualizacion_origen_id) }}
        {{ detail.label_value('Tipo Actualizacion', exh_exhorto_actualizacion.tipo_actualizacion) }}
        {{ detail.label_value('Descripción', exh_exhorto_actualizacion.descripcion) }}
        {{ detail.label_value('Fecha Hora', moment(exh_exhorto_actualizacion.fecha_hora, local=True).format('llll')) }}
        {{ detail.label_value_big('Estado', exh_exhorto_actualizacion.estado) }}
        {# Botón #}
        {% if exh_exhorto_actualizacion.estado == "PENDIENTE" and exh_exhorto_actualizacion.estatus == 'A' %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-danger" href="javascript:void(0)" onclick="showModalcancelar_btn('{{url_for('exh_exhortos_actualizaciones.change_to_cancel', exh_exhorto_actualizacion_id=exh_exhorto_actualizacion.id)}}', '¿Desea cancelar la actualización?');">
                        <span class='iconify' data-icon='mdi:cancel'></span> Cancelar
                    </a>
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="showModalsend_btn('{{url_for('exh_exhortos_actualizaciones.launch_task_send', exh_exhorto_actualizacion_id=exh_exhorto_actualizacion.id)}}', '¿Está seguro de querer enviar la actualización?');">
                        <span class='iconify' data-icon='mdi:send'></span> Enviar
                    </a>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('EXH EXHORTOS ACTUALIZACIONES') %}
        {% if exh_exhorto_actualizacion.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + exh_exhorto_actualizacion.actualizacion_origen_id | string + '?') }}{% endif %}
        {% if exh_exhorto_actualizacion.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + exh_exhorto_actualizacion.actualizacion_origen_id | string + '?') }}{% endif %}
    {% endif %}
    <!-- Modales -->
    {% if exh_exhorto_actualizacion.estado == 'PENDIENTE' %}
        {{ modals.custom_javascript('Cancelar', '¿Está seguro de querer Cancelar la actualización?', "cancelar_btn") }}
        {{ modals.custom_javascript('Enviar', '¿Está seguro de querer enviar la actualización?', "send_btn") }}
    {% endif %}
{% endblock %}
