{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Web Unidad{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Web Unidad') %}
        {# topbar.button_previous('Web Unidades', url_for('web_unidades.list_active')) }}
        {% if current_user.can_edit('WEB UNIDADES') %}
            {{ topbar.button_edit('Editar', url_for('web_unidades.edit', web_unidad_id=web_unidad.id)) }}
        {% endif %}
        {% if current_user.can_admin('WEB UNIDADES') %}
            {% if web_unidad.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('web_unidades.delete', web_unidad_id=web_unidad.id)) }}{% endif %}
            {% if web_unidad.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('web_unidades.recover', web_unidad_id=web_unidad.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card() %}
        Hola... Esta es la pagina de un detalle de la Web Unidad con ID {{ web_unidad_id }}.
        {#
        {{ detail.label_value_big('Nombre o Descripción', web_unidad.clave) }}
        {{ detail.label_value('Columna 1', web_unidad.columna_1) }}
        {{ detail.label_value('Columna 2', web_unidad.columna_2) }}
        {{ detail.label_value('Creado', moment(web_unidad.creado, local=True).format('DD MMM YYYY')) }}
        #}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# if current_user.can_admin('WEB UNIDADES') %}
        {% if web_unidad.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + web_unidad.clave + '?') }}{% endif %}
        {% if web_unidad.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + web_unidad.clave + '?') }}{% endif %}
    {% endif #}
    {{ detail.moment_js(moment) }}
{% endblock %}
