{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('EXH AREAS') %}
            {{ topbar.button('Áreas', url_for('exh_areas.list_active'), 'mdi:office-building-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH EXHORTOS') %}
            {{ topbar.button('Exhortos', url_for('exh_exhortos.list_active'), 'mdi:email-fast') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS ACTUALIZACIONES') %}
            {{ topbar.button('E. Actualizaciones', url_for('exh_exhortos_actualizaciones.list_active'), 'mdi:reload') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS') %}
            {{ topbar.button('E. Respuestas', url_for('exh_exhortos_respuestas.list_active'), 'mdi:forum') }}
        {% endif %}
        {% if current_user.can_view('EXH EXTERNOS') %}
            {{ topbar.button('Externos', url_for('exh_externos.list_active'), 'mdi:home-map-marker') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS PROMOCIONES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('exh_exhortos_promociones.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('exh_exhortos_promociones.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros exh_exhortos_promociones -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosExhExhortosPromociones.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroFolioOrigenPromocion" type="text" class="form-control" aria-label="Folio Origen Promoción">
                            <label for="filtroFolioOrigenPromocion">Folio Origen Promoción</label>
                        </div>
                    </div>
                    <div class="col-9 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosExhExhortosPromociones.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosExhExhortosPromociones.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable exh_exhortos_promociones -->
        <table id="exh_exhortos_promociones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Folio Origen Promoción</th>
                    <th>Remitente</th>
                    <th>Estado</th>
                    <th>Creado</th>
                    <th>Exhorto Origen ID</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable exh_exhortos_promociones
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTExhExhortosPromociones = constructorDataTable.config();
        configDTExhExhortosPromociones['ajax']['url'] = '/exh_exhortos_promociones/datatable_json';
        configDTExhExhortosPromociones['ajax']['data'] = {{ filtros }};
        configDTExhExhortosPromociones['columns'] = [
            { data: 'detalle' },
            { data: 'remitente' },
            { data: 'estado' },
            { data: 'creado' },
            { data: 'exhorto_origen_id' }
        ];
        configDTExhExhortosPromociones['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.folio_origen_promocion + '</a>';
                }
            },
            {
                targets: 2, // estado
                data: null,
                render: function(data, type, row, meta) {
                    let bgcolor = "bg-dark";
                    let icon = "circle-small";
                    switch (data)    {
                        case "CANCELADO":  bgcolor = "bg-secondary";         icon="close-circle";    break;
                        case "ENVIADO":    bgcolor = 'bg-primary';           icon="send";            break;
                        case "PENDIENTE":  bgcolor = 'bg-warning text-dark'; icon="note-edit";       break;
                        case "POR ENVIAR": bgcolor = 'bg-warning text-dark'; icon="package-up";      break;
                        case "RECHAZADO":  bgcolor = "bg-danger";            icon="hand-back-left";  break;
                    }
                    let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                    return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                }
            }
        ];
        // Filtros exh_exhortos_promociones
        const filtrosExhExhortosPromociones = new FiltrosDataTable('#exh_exhortos_promociones_datatable', configDTExhExhortosPromociones);
        filtrosExhExhortosPromociones.agregarInput('filtroFolioOrigenPromocion', 'folio_origen_promocion');
        filtrosExhExhortosPromociones.precargar();
    </script>
{% endblock %}
