{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Agregar Destinatarios{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Agregar Destinatarios') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ofi_documento_id': ofi_documento.id} %}
        {% call f.form_tag('ofi_documentos_destinatarios.new_with_ofi_documento', fid='ofi_documento_destinatario_form', **form_kwargs) %}
            <strong>Descripción del Oficio</strong>
            <p>{{ ofi_documento.descripcion }}</p>
            <strong>Folio del Oficio</strong>
            <p>{{ ofi_documento.folio }}</p>
            <!-- Inicia mini-Formulario para agregar un destinatario -->
            <div class="form-group mb-2">
                <label><strong>Agregar un usuario</strong></label>
            </div>
            <div class="row">
                <div class="col-8">
                    <label for="usuario" class="visually-hidden">Usuario</label>
                    <select class="form-control" id="usuario" name="usuario" placeholder="Usuario"></select>
                </div>
                <div class="col-2">
                    <div class="checkbox ">
                        <input id="con_copia" name="con_copia" type="checkbox"> <label for="con_copia">Con Copia</label>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <a class="btn btn-primary" id="guardar" name="guardar" type="submit" onclick="ofi_documento_destinatario_form.submit()"><span class="iconify" data-icon="mdi:plus"></span> Agregar</a>
                </div>
            </div>
            <!-- Termina mini-Formulario para agregar un destinatario -->
            <!-- Iniciar mini-Formulario para agregar una Autoridad -->
            <hr />
            <div class="form-group mb-2">
                <label><strong>Agregar todos los usuarios de una autoridad</strong></label>
            </div>
            <div class="row">
                <div class="col-8">
                    <label for="autoridad" class="visually-hidden">Autoridad</label>
                    <select class="form-control" id="autoridad" name="autoridad" placeholder="Autoridad"></select>
                </div>
                <div class="col-2">
                    <div class="checkbox ">
                        <input id="con_copia_autoridad" name="con_copia_autoridad" type="checkbox"> <label for="con_copia_autoridad">Con Copia</label>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <a class="btn btn-primary" id="guardar" name="guardar" type="submit" onclick="ofi_documento_destinatario_form.submit()"><span class="iconify" data-icon="mdi:account-multiple-plus"></span> Agregar</a>
                </div>
            </div>
            <!-- Termina mini-Formulario para agregar una Autoridad -->
        {% endcall %}
        <hr />
        <!-- DataTable Destinatarios -->
        <table id="ofi_documentos_destinatarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>email</th>
                    <th>Nombre</th>
                    <th>Con Copia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
        <!-- Botones de acción -->
        <div class="row mt-3">
            <div class="col-md-3">{{ detail.button_md('Regresar al Oficio', url_for('ofi_documentos.detail', ofi_documento_id=ofi_documento.id), 'mdi:arrow-left',  color_class='btn-secondary') }}</div>
            <div class="col-md-6"></div>
            <div class="col-md-3 text-end">{{ modals.button_modal_md('Quitar Todos', url_for('ofi_documentos_destinatarios.remove_all', ofi_documento_id=ofi_documento.id), "QuitarTodos", "mdi:trash-can-outline", "¿Desea quitar todos los destinatarios?",  "btn-danger") }}</div>
        </div>
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    {# Modales #}
    {{ modals.custom_javascript("Quitar Todos", "", "QuitarTodos") }}
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#usuario").select2({
                // --- Carga por Ajax --- //
                ajax: {
                    url: '/usuarios/select2_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term, "workspace": "LOCAL" }
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
    <!-- Select2 para Autoridades -->
    <script>
        $(document).ready(function(){
            $("#autoridad").select2({
                // --- Carga por Ajax --- //
                ajax: {
                    url: '/autoridades/select_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'clave': params.term, "es_extinto": false, "es_jurisdiccional": false, "es_notaria": false }
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
    {# Importación de DataTables #}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {# Configuración de DataTables #}
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {# DataTable Destinatarios #}
    <script>
        let configDT_destinatarios = constructorDataTable.config();
        configDT_destinatarios['ajax']['url'] = '/ofi_documentos_destinatarios/datatable_json';
        configDT_destinatarios['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDT_destinatarios['columns'] = [
            { data: 'usuario_email' },
            { data: 'usuario_nombre' },
            { data: 'con_copia' },
            { data: 'acciones' }
        ];
        configDT_destinatarios['columnDefs'] = [
            {
                targets: 0, // email
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: 2, // con_copia
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            },
            {
                targets: 3, // acciones
                data: null,
                render: function(data, type, row, meta) {
                    return '<a class="btn btn-outline-danger btn-sm" href="' + data + '"><span class="iconify" data-icon="mdi:trash-can-outline"></a>';
                }
            },
        ];
        // Filtros Destinatarios
        const filtrosDestinatarios = new FiltrosDataTable('#ofi_documentos_destinatarios_datatable', configDT_destinatarios);
        filtrosDestinatarios.precargar();
    </script>
{% endblock %}