{% extends 'layouts/app.jinja2' %}
{% import 'macros/card.jinja2' as card %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_list_active('Listado', url_for('cid_procedimientos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Exportar Lista Maestra a XLSX -->
    {% if mostrar_boton_exportar_lista_maestra_xlsx %}
        {% call card.card('Lista Maestra') %}
            {% call card.card_body() %}
                {{ card.button_md(
                    label='Exportar XLSX',
                    url=url_for('cid_procedimientos.exportar_xlsx'),
                    icon='google-spreadsheet',
                    target='_blank',
                    color_class='btn-outline-success') }}
            {% endcall %}
        {% endcall %}
    {% endif %}
    <!-- Cantidades de procedimientos por áreas -->
    {% call card.container_row() %}
        {% for clave, nombre, cantidad in cantidad_procedimientos_por_area %}
            {% call card.col_md(3) %}
                {% call card.card(nombre) %}
                    {% call card.card_body() %}
                        {{ card.button_md(
                            label=cantidad | string + ' Procedimientos',
                            url=url_for('cid_procedimientos.list_active') + '?cid_area_clave=' + clave,
                            icon='eye',
                            target='',
                            color_class='btn-outline-secondary') }}
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
