{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/accordion.jinja2' as accordion %}

{% block title %}Procedimiento {{ cid_procedimiento.codigo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Procedimiento ' + cid_procedimiento.codigo) %}
        {{ topbar.button_previous('Procedimientos ', url_for('cid_procedimientos.list_active')) }}
        <!-- Muestra el botón de NUEVA REVISION solo si esta dentro de los roles seleccionados y tambien si el procedimientos esta AUTORIZADO -->
        {% if show_buttom_new_revision %}
            {{topbar.button('Nueva revisión', url_for('cid_procedimientos.copiar_procedimiento_con_revision', cid_procedimiento_id=cid_procedimiento.id),'mdi:content-copy')}}
        {% endif %}
        {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
            {% if not cid_procedimiento.firma %}
                {{ topbar.button_edit('Editar', url_for('cid_procedimientos.edit', cid_procedimiento_id=cid_procedimiento.id)) }}
                {% if current_user.id == cid_procedimiento.usuario_id %}
                    {{ topbar.button_make('Firmar', url_for('cid_procedimientos.sign_for_maker', cid_procedimiento_id=cid_procedimiento.id)) }}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if mostrar_cambiar_area %}
            {{ topbar.button_edit('Editar área', url_for('cid_procedimientos.cambiar_area', cid_procedimiento_id=cid_procedimiento.id)) }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {% if cid_procedimiento.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('cid_procedimientos.delete', cid_procedimiento_id=cid_procedimiento.id)) }}{% endif %}
            {% if cid_procedimiento.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('cid_procedimientos.recover', cid_procedimiento_id=cid_procedimiento.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% if mostrar_boton_archivado %}
        {% call detail.card(estatus=cid_procedimiento.estatus) %}
            <div class="card-title">
                <p>Archivar procedimiento <strong>{{cid_procedimiento.codigo}} </strong>en caso de ser necesario.</p>
            </div>
            {{ topbar.button_delete('Archivar procedimiento', url_for('cid_procedimientos.archivar_procedimiento', cid_procedimiento_id=cid_procedimiento.id),'mdi:archive-arrow-down-outline') }}
            <!-- Modal para confirmar el dar de baja del procedimiento -->
            {{ modals.custom_javascript_delete('Archivar', '¿Desea archivar este procedimiento ' + cid_procedimiento.codigo + '?') }}
        {% endcall %}
    {% endif %}
    {% set accordion_id = 'procedimiento_accordion' %}
    {% call accordion.div(accordion_id, estatus=cid_procedimiento.estatus) %}
        {% call accordion.item('generales_item', 'Generales', accordion_id, expanded=True, estatus=cid_procedimiento.estatus) %}
            {{ detail.label_value('ID', cid_procedimiento.id) }}
            {{ detail.label_value('Título', cid_procedimiento.titulo_procedimiento) }}
            {{ detail.label_value('Código', cid_procedimiento.codigo) }}
            {{ detail.label_value('Revisión', cid_procedimiento.revision) }}
            {{ detail.label_value('Fecha', cid_procedimiento.fecha) }}
            <div class="row">
                <div class="col-md-3 text-end">Seguimiento</div>
                <div class="col-md-9">
                    {% if cid_procedimiento.seguimiento == "EN ELABORACION" %}
                        <span class="badge rounded-pill bg-yellow"><span class="iconify" data-icon="mdi:account-edit"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "ELABORADO" %}
                        <span class="badge rounded-pill bg-warning text-dark"><span class="iconify" data-icon="mdi:account-check"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "EN REVISION" %}
                        <span class="badge rounded-pill bg-blue"><span class="iconify" data-icon="mdi:account-search"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "REVISADO" %}
                        <span class="badge rounded-pill bg-primary"><span class="iconify" data-icon="mdi:file-check"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "EN AUTORIZACION" %}
                        <span class="badge rounded-pill bg-green"><span class="iconify" data-icon="mdi:file-document-check"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "AUTORIZADO" %}
                        <span class="badge rounded-pill bg-success"><span class="iconify" data-icon="mdi:shield-check"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% elif cid_procedimiento.seguimiento == "ARCHIVADO" %}
                        <span class="badge rounded-pill bg-danger"><span class="iconify" data-icon="mdi:archive-arrow-down"></span> {{ cid_procedimiento.seguimiento }} </span>
                    {% else %}
                        <strong>{{ cid_procedimiento.seguimiento }}</strong>
                    {% endif %}
                </div>
            </div>
                <div class="row">
                <div class="col-md-3 text-end">Seguimiento posterior</div>
                <div class="col-md-9">
                    {% if cid_procedimiento.seguimiento_posterior == "EN ELABORACION" %}
                        <span class="badge rounded-pill bg-yellow"><span class="iconify" data-icon="mdi:account-edit"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% elif cid_procedimiento.seguimiento_posterior == "ELABORADO" %}
                        <span class="badge rounded-pill bg-warning text-dark"><span class="iconify" data-icon="mdi:account-check"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% elif cid_procedimiento.seguimiento_posterior == "EN REVISION" %}
                        <span class="badge rounded-pill bg-blue"><span class="iconify" data-icon="mdi:account-search"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% elif cid_procedimiento.seguimiento_posterior == "REVISADO" %}
                        <span class="badge rounded-pill bg-primary"><span class="iconify" data-icon="mdi:file-check"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% elif cid_procedimiento.seguimiento_posterior == "EN AUTORIZACION" %}
                        <span class="badge rounded-pill bg-green"><span class="iconify" data-icon="mdi:file-document-check"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% elif cid_procedimiento.seguimiento_posterior == "AUTORIZADO" %}
                        <span class="badge rounded-pill bg-success"><span class="iconify" data-icon="mdi:shield-check"></span> {{ cid_procedimiento.seguimiento_posterior }} </span>
                    {% else %}
                        <strong>{{ cid_procedimiento.seguimiento_posterior }}</strong>
                    {% endif %}
                </div>
            </div>
            {{ detail.label_value('Usuario', cid_procedimiento.usuario.nombre) }}
            {{ detail.label_value('Firma guardada', cid_procedimiento.firma) }}
            {{ detail.label_value('Firma al vuelo', firma_al_vuelo) }}
            {{ detail.label_value_new_tab('Archivo PDF', cid_procedimiento.archivo, cid_procedimiento.url) }}
            {{ detail.label_value('Distrito', cid_procedimiento.autoridad.distrito.nombre_corto) }}
            {{ detail.label_value('Autoridad', cid_procedimiento.autoridad.descripcion_corta) }}
            {% if current_user.can_view('CID AREAS') %}
                {{ detail.label_value('Área', cid_procedimiento.cid_area.nombre, url_for('cid_areas.detail', cid_area_id=cid_procedimiento.cid_area_id)) }}
            {% else %}
                {{ detail.label_value('Área', cid_procedimiento.cid_area.nombre) }}
            {% endif %}
        {% endcall %}
        {% call accordion.item('objetivos_item', 'Objetivo', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ objetivo }}
        {% endcall %}
        {% call accordion.item('alcance_item', 'Alcance', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ alcance }}
        {% endcall %}
        {% call accordion.item('documentos_item', 'Documentos de Referencia', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ documentos }}
        {% endcall %}
        {% call accordion.item('definiciones_item', 'Definiciones', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ definiciones }}
        {% endcall %}
        {% call accordion.item('responsabilidades_item', 'Responsabilidades', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ responsabilidades }}
        {% endcall %}
        {% call accordion.item('desarrollo_item', 'Desarrollo', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ desarrollo }}
        {% endcall %}
         <!-- Registros -->
        {% call accordion.item('registro_item', 'Registros', accordion_id, estatus=cid_procedimiento.estatus) %}
                <table id="registro_dataTable1_detail" class="table table-striped responsive" width="100%">
                    <thead>
                        <th>Código</th>
                        <th>Nombre registro</th>
                        <th>Responsable</th>
                        <th>Años de retención</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
        {% endcall %}
        {% call accordion.item('control_cambios_item', 'Control de Cambios', accordion_id, estatus=cid_procedimiento.estatus) %}
            <table id="control_dataTable1_detail" class="table table-striped responsive" width="100%">
                <thead>
                    <th>No. Revisión</th>
                    <th>Cambios y/o Actualizaciónes</th>
                    <th>Solicitud de cambio No.</th>
                    <th>Fecha</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        {% endcall %}
        {% call accordion.item('autorizaciones', 'Autorizaciones', accordion_id, estatus=cid_procedimiento.estatus) %}
            {{ detail.label_value('Elaboró nombre', cid_procedimiento.elaboro_nombre) }}
            {{ detail.label_value('Elaboró puesto', cid_procedimiento.elaboro_puesto) }}
            {{ detail.label_value('Elaboró correo', cid_procedimiento.elaboro_email) }}
            {{ detail.label_value('Revisó nombre', cid_procedimiento.reviso_nombre) }}
            {{ detail.label_value('Revisó puesto', cid_procedimiento.reviso_puesto) }}
            {{ detail.label_value('Revisó correo', cid_procedimiento.reviso_email) }}
            {{ detail.label_value('Autorizó nombre', cid_procedimiento.aprobo_nombre) }}
            {{ detail.label_value('Autorizó puesto', cid_procedimiento.aprobo_puesto) }}
            {{ detail.label_value('Autorizó correo', cid_procedimiento.aprobo_email) }}
        {% endcall %}
    {% endcall %}
    {% if mostrar_alerta_formatos %}
        <div class="alert alert-warning" role="alert">
            <p>Cuando esta revisión llegue al seguimiento <strong> AUTORIZADO</strong> los formatos del procedimiento anterior se moveran a éste. Le recomendamos que los revise hasta que llegue al seguimiento <strong> AUTORIZADO</strong>.</p>
        </div>
    {% endif %}
    {% if current_user.can_view('CID FORMATOS') %}
        {% call list.card('Formatos') %}
            <!-- Filtros CID Formatos -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCidFormatos.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroCodigo" type="text" class="form-control" aria-label="Código">
                                <label for="filtroCodigo">Código</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCidFormatos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCidFormatos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable CID Formatos -->
            <table id="cid_formatos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripciones</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CID FORMATOS') and cid_procedimiento.seguimiento != "ARCHIVADO" %}
                <a href="{{ url_for('cid_formatos.new', cid_procedimiento_id=cid_procedimiento.id) }}" class="btn btn-primary">Agregar formato</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('CID PROCEDIMIENTOS') %}
        {% if cid_procedimiento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + cid_procedimiento.titulo_procedimiento + '?') }}{% endif %}
        {% if cid_procedimiento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + cid_procedimiento.titulo_procedimiento + '?') }}{% endif %}
        {{ modals.custom_javascript_make('Firmar', '¿Está seguro de que quiere firmarlo? Ya no podrá cambiarlo después.') }}
    {% endif %}
    <!-- Datatables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <!-- formatos -->
    {% if current_user.can_view('CID FORMATOS') %}
        <script>
            // DataTable CID Formatos
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDTCidFormatos = constructorDataTable.config();
            configDTCidFormatos['ajax']['url'] = '/cid_formatos/datatable_json';
            configDTCidFormatos['ajax']['data'] = { 'estatus': "A", 'cid_procedimiento_id': {{ cid_procedimiento.id}} };
            configDTCidFormatos['columns'] = [
                { data: 'codigo' },
                { data: 'detalle' },
            ];
            configDTCidFormatos['columnDefs'] = [
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.descripcion.length > 52) {
                            return '<a href="' + data.url + '"><span title="' + data.descripcion + '">' + data.descripcion.substring(0, 52) + '…</span></a>';
                        }
                        return '<a href="' + data.url + '">' + data.descripcion + '</a>';
                    }
                }
            ];
            // Filtros CID Formatos
            const filtrosCidFormatos = new FiltrosDataTable('#cid_formatos_datatable', configDTCidFormatos);
            filtrosCidFormatos.agregarInput('filtroCodigo', 'codigo');
            filtrosCidFormatos.agregarInput('filtroDescripcion', 'descripcion');
            filtrosCidFormatos.precargar();
        </script>
    {% endif %}
    <!-- Detalle Registros -->
    <script>
        let datos = {{ registros }};
        $(document).ready(function(){
            var Arrayfinal = [];
            Object.keys(datos).forEach(item =>{
                var tempArr = new Array();
                datos[item].forEach(a => {
                    tempArr.push(a);
                });
                Arrayfinal.push(tempArr);
            });

            $("#registro_dataTable1_detail").DataTable({
                data:Arrayfinal
            });
        });
    </script>
     <!-- Detalle Control de cambios -->
    <script>
        let datos_cambio = {{ control_cambios }};
        $(document).ready(function(){
            var Arrayfinal = [];
            Object.keys(datos_cambio).forEach(item =>{
                var tempArr = new Array();
                datos_cambio[item].forEach(a => {
                    tempArr.push(a);
                });
                Arrayfinal.push(tempArr);
            });

            $("#control_dataTable1_detail").DataTable({
                data:Arrayfinal
            });
        });
    </script>
{% endblock %}
