{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficio {{ ofi_documento.descripcion }}{% endblock %}

{% block custom_head %}
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Oficio ' + ofi_documento.descripcion | truncate(48)) %}
        {{ topbar.button('Ver a Pantalla Completa', url_for('ofi_documentos.fullscreen', ofi_documento_id=ofi_documento.id), "mdi:monitor") }}
        {{ topbar.button('Mi Bandeja de Entrada', url_for('ofi_documentos.list_active_mi_bandeja_entrada'), "mdi:inbox-multiple") }}
        {% if mostrar_boton_mis_oficios %}
            {{ topbar.button_previous('Mis Oficios', url_for('ofi_documentos.list_active_mis_oficios')) }}
        {% endif %}
        {% if mostrar_boton_mi_autoridad %}
            {{ topbar.button('Mi Autoridad', url_for('ofi_documentos.list_active_mi_autoridad'), "mdi:scale-balance") }}
        {% endif %}
        {% if current_user.can_edit('OFI DOCUMENTOS') %}
            {% if mostrar_boton_editar and ofi_documento.estado == "BORRADOR" and not ofi_documento.esta_cancelado %}
                {{ topbar.button_edit('Editar', url_for('ofi_documentos.edit', ofi_documento_id=ofi_documento.id)) }}
            {% endif %}
        {% endif %}
        {% if current_user.can_admin('OFI DOCUMENTOS') %}
            {% if ofi_documento.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ofi_documentos.delete', ofi_documento_id=ofi_documento.id)) }}{% endif %}
            {% if ofi_documento.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ofi_documentos.recover', ofi_documento_id=ofi_documento.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ofi_documento.estatus) %}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 text-end">Descripción</div>
                    <div class="col-md-8">
                        <strong>{{ ofi_documento.descripcion }}</strong>
                    </div>
                    <div class="col-md-1">
                        {% if current_user == ofi_documento.usuario %}
                            <a class="btn btn-outline-warning text-dark btn-sm" href="{{url_for('ofi_documentos.rename', ofi_documento_id=ofi_documento.id)}}" title="Renombrar"><span class="iconify" data-icon="mdi:pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
                {{ detail.label_value('Folio', ofi_documento.folio) }}
                {{ detail.label_value('Fecha de vencimiento', ofi_documento.vencimiento_fecha) }}
                {% if current_user.can_view('USUARIOS') %}
                    {{ detail.label_value('Propietario', ofi_documento.usuario.nombre,  url_for("usuarios.detail", usuario_id=ofi_documento.usuario.id)) }}
                {% else %}
                    {{ detail.label_value('Propietario', ofi_documento.usuario.nombre) }}
                {% endif %}
                {% if ofi_documento.cadena_oficio_id %}
                    {{ detail.label_value('En respuesta al oficio', ofi_documento.cadena_oficio_id, url_for("ofi_documentos.detail", ofi_documento_id=ofi_documento.cadena_oficio_id)) }}
                {% endif %}
                <div class="row">
                    <div class="col-md-3 text-end">Estado</div>
                    <div class="col-md-9">
                        {% if ofi_documento.estado == "BORRADOR" %}
                            <span class="badge rounded-pill bg-warning text-dark">{{ ofi_documento.estado }}</span>
                        {% elif ofi_documento.estado == "FIRMADO" %}
                            <span class="badge rounded-pill bg-success">{{ ofi_documento.estado }}</span>
                        {% elif ofi_documento.estado == "ENVIADO" %}
                            <span class="badge rounded-pill bg-primary">{{ ofi_documento.estado }}</span>
                        {% elif ofi_documento.estado == "CANCELADO" %}
                            <span class="badge rounded-pill bg-danger">{{ ofi_documento.estado }}</span>
                        {% else %}
                            <strong>{{ ofi_documento.estado }}</strong>
                        {% endif %}
                    </div>
                </div>
                {% if ofi_documento.enviado_tiempo %}
                    {{ detail.label_value('Fecha de envío', moment(ofi_documento.enviado_tiempo, local=False).format('DD MMM YYYY HH:mm')) }}
                {% endif %}
                {% if ofi_documento.esta_cancelado %}
                    <div class="row">
                        <div class="col-md-3 text-end">Cancelado</div>
                        <div class="col-md-9">
                            <span class="badge rounded-pill bg-danger">CANCELADO</span>
                        </div>
                    </div>
                {% endif %}
                {% if ofi_documento.esta_archivado %}
                    <div class="row">
                        <div class="col-md-3 text-end">Archivado</div>
                        <div class="col-md-9">
                                <span class="badge rounded-pill bg-secondary">ARCHIVADO</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if ofi_documento.firma_simple %}
                    {% if usuario_firmante %}
                        {% if current_user.can_view('USUARIOS') %}
                            {{ detail.label_value('Firmante', usuario_firmante.nombre, url_for("usuarios.detail", usuario_id=usuario_firmante.id)) }}
                        {% else %}
                            {{ detail.label_value('Firmante', usuario_firmante.nombre) }}
                        {% endif %}
                    {% endif %}
                    {{ detail.label_value('Firma guardada', ofi_documento.firma_simple) }}
                    {{ detail.label_value('Firma al vuelo ', ofi_documento.elaborar_hash()) }}
                    {% if ofi_documento.firma_simple %}
                    <div class="row">
                        <div class="col-md-3 text-end">Integridad</div>
                        {% if ofi_documento.firma_simple == ofi_documento.elaborar_hash() %}
                            <div class="col-md-9">
                                <span class="badge rounded-pill bg-success">VALIDO <span class="iconify" data-icon="mdi:shield-check">></span></span>
                            </div>
                        {% else %}
                            <div class="col-md-9">
                                <span class="badge rounded-pill bg-danger">CORRUPTO <span class="iconify" data-icon="mdi:alert-octagon"></span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {# Inicia Contenido HTML #}
        <hr />
        {% if ofi_documento.contenido_html %}
            {{ ofi_documento.contenido_html | safe }}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>Aviso:</strong> Este oficio no tiene contenido HTML.
            </div>
        {% endif %}
        <hr />
        {# Termina Contenido HTML #}
        {# Botones de acción en estado BORRADOR #}
        {% if ofi_documento.estado == "BORRADOR" and not ofi_documento.esta_cancelado and not ofi_documento.esta_archivado %}
            <div class="row">
                <div class="col-md-5">
                    {% if mostrar_boton_firmar %}
                        {{ detail.button_md('Firmar', url_for('ofi_documentos.sign', ofi_documento_id=ofi_documento.id), 'mdi:file-sign',  color_class='btn-success') }}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if mostrar_boton_editar %}
                        {{ detail.button_md('Editar', url_for('ofi_documentos.edit', ofi_documento_id=ofi_documento.id), 'mdi:file-document-edit-outline',  color_class='btn-warning') }}
                    {% endif %}
                </div>
                <div class="col-md-2 mt-2">
                    {% if ofi_documento.esta_archivado == false %}
                        {{ modals.button_modal_md('Archivar', url_for('ofi_documentos.archive', ofi_documento_id=ofi_documento.id), "Archivar", "mdi:archive-outline", "¿Desea archivar el oficio?",  "btn-secondary") }}
                    {% endif %}
                </div>
                <div class="col-md-2 mt-2">
                    {% if mostrar_boton_editar %}
                        {{ modals.button_modal_md('Cancelar', url_for('ofi_documentos.cancel', ofi_documento_id=ofi_documento.id), "Cancelar", "mdi:cancel", "¿Desea cancelar el oficio?",  "btn-danger") }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {# Botones de acción en estado FIRMADO #}
        {% if ofi_documento.estado == "FIRMADO" and not ofi_documento.esta_cancelado and not ofi_documento.esta_archivado %}
            <div class="row">
                <div class="col-md-4 mt-2">
                    {{ modals.button_modal_md('Enviar', url_for('ofi_documentos.send', ofi_documento_id=ofi_documento.id), "Enviar", "mdi:send-outline", "¿Desea enviar el oficio? Esta acción no puede ser deshecha.",  "btn-primary") }}
                </div>
                <div class="col-md-4">
                    {% if ofi_documento.archivo_pdf_url %}
                        {{ detail.button_md('Descargar PDF', ofi_documento.archivo_pdf_url, 'mdi:download', "_blank", color_class='btn-success') }}
                    {% endif %}
                </div>
                <div class="col-md-2 mt-2">
                    {% if ofi_documento.esta_archivado == false %}
                        {{ modals.button_modal_md('Archivar', url_for('ofi_documentos.archive', ofi_documento_id=ofi_documento.id), "Archivar", "mdi:archive-outline", "¿Desea archivar el oficio?",  "btn-secondary") }}
                    {% endif %}
                </div>
                <div class="col-md-2 mt-2">
                    {{ modals.button_modal_md('Cancelar', url_for('ofi_documentos.cancel', ofi_documento_id=ofi_documento.id), "Cancelar", "mdi:cancel", "¿Desea cancelar el oficio?",  "btn-danger") }}
                </div>
            </div>
        {% endif %}
        {# Botones de acción en CANCELADO #}
        {% if ofi_documento.esta_cancelado and current_user == ofi_documento.usuario %}
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    {% if ofi_documento.archivo_pdf_url %}
                        {{ detail.button_md('Descargar PDF', ofi_documento.archivo_pdf_url, 'mdi:download', "_blank", color_class='btn-success') }}
                    {% endif %}
                </div>
                <div class="col-md-3 mt-2">
                    {{ modals.button_modal_md('Descancelar', url_for('ofi_documentos.uncancel', ofi_documento_id=ofi_documento.id), "Descancelar", "mdi:file-undo-outline", "¿Desea descancelar el oficio?",  "btn-outline-danger") }}
                </div>
            </div>
        {% endif %}
        {# Botones de acción RESPONDER #}
        {% if ofi_documento.esta_cancelado == false %}
            <div class="row">
                <div class="col-md-6">
                    {% if mostrar_boton_responder and ofi_documento.esta_cancelado == false and ofi_documento.esta_archivado == false %}
                        <form class="row g-2" action="{{url_for('ofi_documentos.response', ofi_documento_id=ofi_documento.id)}}" method="GET">
                            <div class="col-auto">
                                <select class="form-select mt-2" aria-label="Default select example" name="plantilla_id">
                                    {% for plantilla in platillas_opciones %}
                                        <option value="{{plantilla.id}}">{{plantilla.descripcion | truncate(32)}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3 mt-2"><span class="iconify" data-icon="mdi:email-sync-outline"></span> Responder</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
                {% if ofi_documento.estado == "ENVIADO" %}
                    <div class="col-md-2">
                        {% if ofi_documento.archivo_pdf_url %}
                            {{ detail.button_md('Descargar PDF', ofi_documento.archivo_pdf_url, 'mdi:download', "_blank", color_class='btn-success') }}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-md-2 mt-2">
                    {% if mostrar_boton_archivar %}
                        {{ modals.button_modal_md('Archivar', url_for('ofi_documentos.archive', ofi_documento_id=ofi_documento.id), "Archivar", "mdi:archive-outline", "¿Desea archivar el oficio?",  "btn-secondary") }}
                    {% endif %}
                    {% if ofi_documento.esta_archivado and mostrar_boton_desarchivar %}
                        {{ modals.button_modal_md('Desarchivar', url_for('ofi_documentos.unarchive', ofi_documento_id=ofi_documento.id), "Desarchivar", "mdi:archive-off-outline", "¿Desea desarchivar el oficio?",  "btn-outline-secondary") }}
                    {% endif %}
                </div>
                {% if ofi_documento.estado == "ENVIADO" and not ofi_documento.esta_cancelado and not ofi_documento.esta_archivado and current_user == ofi_documento.usuario %}
                    <div class="col-md-2 mt-2">
                        {{ modals.button_modal_md('Cancelar', url_for('ofi_documentos.cancel', ofi_documento_id=ofi_documento.id), "Cancelar", "mdi:cancel", "¿Desea cancelar el oficio?",  "btn-danger") }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endcall %}
    {# Card para Archivos Adjuntos #}
    {% call detail.card("Archivos Adjuntos") %}
        <!-- DataTable Archivos_Adjuntos -->
        <table id="ofi_documentos_adjuntos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS ADJUNTOS') %}
            {% if ofi_documento.estado != "ENVIADO" and not ofi_documento.esta_cancelado and not ofi_documento.esta_archivado %}
                <a href="{{ url_for('ofi_documentos_adjuntos.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Archivo Adjunto</a>
            {% endif %}
        {% endif %}
    {% endcall %}
    {# Card para Destinatarios #}
    {% call detail.card("Destinatarios") %}
        <!-- DataTable Destinatarios -->
        <table id="ofi_documentos_destinatarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>email</th>
                    <th>Nombre</th>
                    <th>Leído</th>
                    <th>Con Copia</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS DESTINATARIOS') %}
            {% if ofi_documento.estado != "ENVIADO" and not ofi_documento.esta_cancelado and not ofi_documento.esta_archivado %}
                <a href="{{ url_for('ofi_documentos_destinatarios.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Destinatario</a>
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('OFI DOCUMENTOS') %}
        {% if ofi_documento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar Oficio?') }}{% endif %}
        {% if ofi_documento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar Oficio?') }}{% endif %}
    {% endif %}
    {# Importación de DataTables #}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {# Configuración de DataTables #}
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {# DataTable Archivos Adjuntos #}
    <script>
        let configDT_adjuntos = constructorDataTable.config();
        configDT_adjuntos['ajax']['url'] = '/ofi_documentos_adjuntos/datatable_json';
        configDT_adjuntos['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDT_adjuntos['columns'] = [
            { data: 'detalle' },
            { data: 'nombre' }
        ];
        configDT_adjuntos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id.substring(0, 8) + '</a>';
                }
            }
        ];
        // Filtros Adjuntos
        const filtrosAdjuntos = new FiltrosDataTable('#ofi_documentos_adjuntos_datatable', configDT_adjuntos);
        filtrosAdjuntos.precargar();
    </script>
    {# DataTable Destinatarios #}
    <script>
        let configDT_destinatarios = constructorDataTable.config();
        configDT_destinatarios['ajax']['url'] = '/ofi_documentos_destinatarios/datatable_json';
        configDT_destinatarios['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDT_destinatarios['columns'] = [
            { data: 'detalle' },
            { data: 'usuario_email' },
            { data: 'usuario_nombre' },
            { data: 'fue_leido' },
            { data: 'con_copia' }
        ];
        configDT_destinatarios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id.substring(0, 8) + '</a>';
                }
            },
            {
                targets: 1, // email
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: [3, 4], // fue_leido
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            }
        ];
        // Filtros Destinatarios
        const filtrosDestinatarios = new FiltrosDataTable('#ofi_documentos_destinatarios_datatable', configDT_destinatarios);
        filtrosDestinatarios.precargar();
    </script>
    {# Modales #}
    {{ modals.custom_javascript("Enviar", "", "Enviar") }}
    {{ modals.custom_javascript("Confirmar", "", "Cancelar") }}
    {{ modals.custom_javascript("Descancelar", "", "Descancelar") }}
    {{ modals.custom_javascript("Archivar", "", "Archivar") }}
    {{ modals.custom_javascript("Desarchivar", "", "Desarchivar") }}
{% endblock %}
