{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficio {{ ofi_documento.id | string }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Oficio ' + ofi_documento.id | string) %}
        {{ topbar.button_previous('Mis Oficios', url_for('ofi_documentos.list_active')) }}
        {{ topbar.button('Mi Autoridad', url_for('ofi_documentos.list_active_mi_autoridad'), "mdi:scale-balance") }}
        {{ topbar.button('Mi Bandeja de Entrada', url_for('ofi_documentos.list_active_mi_bandeja_entrada'), "mdi:inbox-multiple") }}
        {% if current_user.can_edit('OFI DOCUMENTOS') %}
            {% if ofi_documento.estado == "BORRADOR" %}
                {{ topbar.button_edit('Editar', url_for('ofi_documentos.edit', ofi_documento_id=ofi_documento.id)) }}
            {% endif %}
        {% endif %}
        {% if current_user.can_admin('OFI DOCUMENTOS') %}
            {% if ofi_documento.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ofi_documentos.delete', ofi_documento_id=ofi_documento.id)) }}{% endif %}
            {% if ofi_documento.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ofi_documentos.recover', ofi_documento_id=ofi_documento.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ofi_documento.estatus) %}
        {{ detail.label_value('Folio', ofi_documento.folio) }}
        {{ detail.label_value('Descripción', ofi_documento.descripcion) }}
        {# detail.label_value('Contenido', ofi_documento.contenido) #}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Usuario', ofi_documento.usuario.nombre,  url_for("usuarios.detail", usuario_id=ofi_documento.usuario.id)) }}
        {% else %}
            {{ detail.label_value('Usuario', ofi_documento.usuario.nombre) }}
        {% endif %}
        {# detail.label_value('Creado', moment(ofi_documento.creado, local=False).format('DD MMM YYYY HH:mm')) #}
        {{ detail.label_value('Modificado', moment(ofi_documento.modificado, local=False).format('DD MMM YYYY HH:mm')) }}
        {{ detail.label_value('Estado', ofi_documento.estado) }}
        <hr />
        {# Botones de acción en estado BORRADOR #}
        {% if ofi_documento.estado == "BORRADOR" %}
            {{ detail.button_md('Firmar', url_for('ofi_documentos.sign', ofi_documento_id=ofi_documento.id), 'mdi:file-sign',  color_class='btn-success') }}
        {% endif %}
        {# Botones de acción en estado FIRMADO #}
        {% if ofi_documento.estado == "FIRMADO" %}
            {{ detail.label_value('Firma Simple', ofi_documento.firma_simple) }}
            {% if current_user.can_view('USUARIOS') %}
                {{ detail.label_value('Firmado por', usuario_firmante.nombre, url_for("usuarios.detail", usuario_id=usuario_firmante.id)) }}
            {% else %}
                {{ detail.label_value('Usuario', usuario_firmante.nombre) }}
            {% endif %}
            {{ modals.button_modal_md('Enviar', url_for('ofi_documentos.send', ofi_documento_id=ofi_documento.id), "Enviar", "mdi:send-outline", "¿Desea enviar el oficio? Esta acción no puede ser deshecha.",  "btn-primary") }}
        {% endif %}
        {# Botones de acción en estado ENVIADO #}
        {% if ofi_documento.estado == "ENVIADO" %}
            {{ detail.label_value('Firma Simple', ofi_documento.firma_simple) }}
            {% if current_user.can_view('USUARIOS') %}
                {{ detail.label_value('Firmado por', usuario_firmante.nombre, url_for("usuarios.detail", usuario_id=usuario_firmante.id)) }}
            {% else %}
                {{ detail.label_value('Usuario', usuario_firmante.nombre) }}
            {% endif %}
        {% endif %}
    {% endcall %}
    {# Card para Archivos Adjuntos #}
    {% call detail.card("Archivos Adjuntos") %}
        <!-- DataTable Archivos_Adjuntos -->
        <table id="ofi_documentos_adjuntos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS ADJUNTOS') %}
            {% if ofi_documento.estado != "ENVIADO" %}
                <a href="{{ url_for('ofi_documentos_adjuntos.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Archivo Adjunto</a>
            {% endif %}
        {% endif %}
    {% endcall %}
    {# Card para Destinatarios #}
    {% call detail.card("Destinatarios") %}
        <!-- DataTable Destinatarios -->
        <table id="ofi_documentos_destinatarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>email</th>
                    <th>Nombre</th>
                    <th>Leído</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS DESTINATARIOS') %}
            {% if ofi_documento.estado != "ENVIADO" %}
                <a href="{{ url_for('ofi_documentos_destinatarios.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Destinatario</a>
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('OFI DOCUMENTOS') %}
        {% if ofi_documento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar Oficio?') }}{% endif %}
        {% if ofi_documento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar Oficio?') }}{% endif %}
    {% endif %}
    {# Importación de DataTables #}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {# Configuración de DataTables #}
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {# DataTable Archivos Adjuntos #}
    <script>
        let configDT_adjuntos = constructorDataTable.config();
        configDT_adjuntos['ajax']['url'] = '/ofi_documentos_adjuntos/datatable_json';
        configDT_adjuntos['ajax']['data'] = {"estatus": "A", "ofi_documento_id": {{ ofi_documento.id }}};
        configDT_adjuntos['columns'] = [
            { data: 'detalle' },
            { data: 'nombre' }
        ];
        configDT_adjuntos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            }
        ];
        // Filtros Adjuntos
        const filtrosAdjuntos = new FiltrosDataTable('#ofi_documentos_adjuntos_datatable', configDT_adjuntos);
        filtrosAdjuntos.precargar();
    </script>
    {# DataTable Destinatarios #}
    <script>
        let configDT_destinatarios = constructorDataTable.config();
        configDT_destinatarios['ajax']['url'] = '/ofi_documentos_destinatarios/datatable_json';
        configDT_destinatarios['ajax']['data'] = {"estatus": "A", "ofi_documento_id": {{ ofi_documento.id }}};
        configDT_destinatarios['columns'] = [
            { data: 'detalle' },
            { data: 'usuario_email' },
            { data: 'usuario_nombre' },
            { data: 'fue_leido' }
        ];
        configDT_destinatarios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 1, // email
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: 3, // fue_leido
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            }
        ];
        // Filtros Destinatarios
        const filtrosDestinatarios = new FiltrosDataTable('#ofi_documentos_destinatarios_datatable', configDT_destinatarios);
        filtrosDestinatarios.precargar();
    </script>
    {# Modal para enviar #}
    {{ modals.custom_javascript("Enviar", "", "Enviar") }}
{% endblock %}
