{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar {{ ofi_documento.descripcion | truncate(48) }}{% endblock %}

{% block custom_head %}
    <!-- CKEditor 5 -->
    <link rel="stylesheet" href="https://storage.googleapis.com/pjecz-informatica/static/css/ckeditor5-editor.css" crossorigin>
    <link rel="stylesheet" href="https://storage.googleapis.com/pjecz-informatica/static/css/ckeditor5-justicia-digital-gob-mx.css">
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Oficio ' + ofi_documento.descripcion | truncate(48)) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ofi_documento_id': ofi_documento.id} %}
        {% call f.form_tag('ofi_documentos.edit', fid='ofi_documento_form', **form_kwargs) %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.folio) %}{% endcall %}
            {% call f.form_group(form.vencimiento_fecha) %}{% endcall %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Si va a "copiar y pegar"</h4>
                <p class="mb-0">
                    Siempre use <strong>pegar sin formato</strong>, de clic con el botón derecho del ratón.
                    Luego use la barra de herramientas para cambiar el formato.
                </p>
            </div>
            <div class="main-container">
                <div class="editor-container editor-container_classic-editor editor-container_include-fullscreen" id="editor-container">
                    <div class="editor-container__editor">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div style="display:none">
                {% call f.form_group(form.contenido_md) %}{% endcall %}
                {% call f.form_group(form.contenido_html) %}{% endcall %}
                {% call f.form_group(form.contenido_sfdt) %}{% endcall %}
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Turndown sirve para convertir el HTML a markdown-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turndown/7.0.0/turndown.js"></script>
    <script>
        var turndownService = new TurndownService();
    </script>
    <!-- CKEditor 5 -->
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5.umd.js" crossorigin></script>
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5_translations/es.umd.js" crossorigin></script>
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5-justicia-digital-gob-mx.js"></script>
    <script>
        // Obtener los elementos del formulario y del componente
        const editorElement = document.getElementById('editor');
        const webPaginaForm = document.getElementById('ofi_documento_form');
        const contenidoHtmlTextArea = document.getElementById('contenido_html');
        const contenidoMdTextArea = document.getElementById('contenido_md');
        // Inicializar el editor
        let ckEditorInstance;
        ClassicEditor
            .create(editorElement, editorConfig)
            .then( editor => {
                ckEditorInstance = editor;
                editor.setData(contenidoHtmlTextArea.value); // Al inicializar copiamos el contenido HTML
            })
            .catch( error => {
                console.error('ERROR al inicializar el editor', error);
            });
        // Cambiar la forma de enviar el formulario
        webPaginaForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir la sumisión inmediata del formulario
            if (ckEditorInstance && typeof turndownService !== 'undefined') {
                const ckEditorContenidoHTML = ckEditorInstance.getData();
                contenidoHtmlTextArea.value = ckEditorContenidoHTML;
                contenidoMdTextArea.value = turndownService.turndown(ckEditorContenidoHTML); // Convertir HTML a Markdown
            } else {
                console.error('ERROR al copiar y convertir el contenido');
            }
            webPaginaForm.submit(); // Enviar el formulario
        });
    </script>
{% endblock %}
