{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Oficio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Oficio') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('ofi_documentos.new', fid='ofi_documento_form') %}
            {% call f.form_group(form.titulo) %}{% endcall %}
            {% call f.form_group(form.contenido) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
