{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Firmar Oficio {{ ofi_documento.descripcion }}{% endblock %}

{% block custom_head %}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Firmar Oficio ' + ofi_documento.descripcion | truncate(48)) }}
{% endblock %}

{% block content %}
    <div class="card bg-warning mb-3">
        <div class="card-header">ADVERTENCIA</div>
        <div class="card-body">
            <h5 class="card-title">Después de firmar ya no podrá hacerle cambios.</h5>
            <p class="card-text">Revise que el contenido y el folio sean correctos.</p>
        </div>
    </div>
    {% call f.card() %}
        {% set form_kwargs = {'ofi_documento_id': ofi_documento.id} %}
        {% call f.form_tag('ofi_documentos.sign', fid='ofi_documento_form', **form_kwargs) %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.folio, readonly=true) %}{% endcall %}
            {% call f.form_group(form.vencimiento_fecha, readonly=true) %}{% endcall %}
            {# Inicia Contenido HTML #}
            <hr />
            {% if ofi_documento.contenido_html %}
                {{ ofi_documento.contenido_html | safe }}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <strong>Aviso:</strong> Este oficio no tiene contenido HTML.
                </div>
            {% endif %}
            <hr />
            {# Termina Contenido HTML #}
            {% call f.form_group(form.tipo) %}{% endcall %}
            {# Botones #}
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-block btn-md btn-warning w-100 my-2" href="{{ url_for('ofi_documentos.edit', ofi_documento_id=ofi_documento.id) }}">
                        <span class="iconify" data-icon="mdi:file-document-edit-outline"></span>
                        Editar
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-block btn-md btn-success w-100 my-2" href="javascript:firmaSimple()">
                        <span class="iconify" data-icon="mdi:file-sign"></span>
                        Firma Simple
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-block btn-md btn-primary w-100 my-2" href="javascript:firmaElectronicaAvanzada()">
                        <span class="iconify" data-icon="mdi:file-sign"></span>
                        Firma Electrónica Avanzada
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-block btn-md btn-outline-info w-100 my-2" href="javascript:history.back()">
                        <span class="iconify" data-icon="mdi:arrow-left"></span>
                        Regresar
                    </a>
                </div>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        // Prevenir el envío del formulario por defecto
        const formElem = document.getElementById('ofi_documento_form')
        formElem.addEventListener('submit', function(event) {
            event.preventDefault();
        });
        // Función para firmar con firma simple
        const tipoHiddenElem = document.getElementById('tipo')
        function firmaSimple() {
            tipoHiddenElem.value = 'simple';
            formElem.submit();
        }
        // Función para firmar con firma electrónica avanzada
        function firmaElectronicaAvanzada() {
            tipoHiddenElem.value = 'avanzada';
            formElem.submit();
        }
    </script>
{% endblock %}
