{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Firmar Oficio {{ ofi_documento.descripcion }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Firmar Oficio ' + ofi_documento.descripcion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ofi_documento_id': ofi_documento.id} %}
        {% call f.form_tag('ofi_documentos.sign', fid='ofi_documento_form', **form_kwargs) %}
            {% call f.form_group(form.titulo, readonly=True) %}{% endcall %}
            {% call f.form_group(form.folio) %}{% endcall %}
            {% call f.form_group(form.firmar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
