{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Componente {{ inv_componente.descripcion }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Componente ' + inv_componente.descripcion) %}
        {# topbar.button_previous('Componentes', url_for('inv_componentes.list_active')) #}
        {% if current_user.can_view('INV EQUIPOS') %}
            {{ topbar.button_previous('Equipo ' + inv_componente.inv_equipo_id | string, url_for('inv_equipos.detail', inv_equipo_id=inv_componente.inv_equipo_id)) }}
        {% endif %}
        {% if current_user.can_edit('INV COMPONENTES') %}
            {{ topbar.button_edit('Editar', url_for('inv_componentes.edit', inv_componente_id=inv_componente.id)) }}
        {% endif %}
        {% if current_user.can_admin('INV COMPONENTES') %}
            {% if inv_componente.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_componentes.delete', inv_componente_id=inv_componente.id)) }}{% endif %}
            {% if inv_componente.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_componentes.recover', inv_componente_id=inv_componente.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% call detail.card('Custodia') %}
                {% if current_user.can_view('INV CUSTODIAS') %}
                    {{ detail.label_value('ID', inv_componente.inv_equipo.inv_custodia.id, url_for('inv_custodias.detail', inv_custodia_id=inv_componente.inv_equipo.inv_custodia.id)) }}
                {% else %}
                    {{ detail.label_value('ID', inv_componente.inv_equipo.inv_custodia.id) }}
                {% endif %}
                {{ detail.label_value('Usuario', inv_componente.inv_equipo.inv_custodia.nombre_completo + ' (' + inv_componente.inv_equipo.inv_custodia.usuario.email + ')') }}
                {# detail.label_value('CURP', inv_componente.inv_equipo.inv_custodia.curp) #}
                {{ detail.label_value('Puesto', inv_componente.inv_equipo.inv_custodia.usuario.puesto) }}
                {{ detail.label_value('Oficina', inv_componente.inv_equipo.inv_custodia.usuario.oficina.descripcion_corta + ' (' + inv_componente.inv_equipo.inv_custodia.usuario.oficina.clave + ')') }}
                {{ detail.label_value('Edificio', inv_componente.inv_equipo.inv_custodia.usuario.oficina.domicilio.edificio) }}
                {{ detail.label_value('Fecha', moment(inv_componente.inv_equipo.inv_custodia.fecha).format("DD MMM YYYY")) }}
            {% endcall %}
        </div>
        <div class="col-md-6">
            {% call detail.card('Equipo') %}
                {% if current_user.can_view('INV EQUIPOS') %}
                    {{ detail.label_value('ID', inv_componente.inv_equipo_id, url_for('inv_equipos.detail', inv_equipo_id=inv_componente.inv_equipo_id)) }}
                {% else %}
                    {{ detail.label_value('ID', inv_componente.inv_equipo_id) }}
                {% endif %}
                {{ detail.label_value('Marca', inv_componente.inv_equipo.inv_modelo.inv_marca.nombre) }}
                {{ detail.label_value('Modelo', inv_componente.inv_equipo.inv_modelo.descripcion) }}
                {{ detail.label_value('Descripción', inv_componente.inv_equipo.descripcion) }}
                {{ detail.label_value('Tipo', inv_componente.inv_equipo.tipo) }}
                {{ detail.label_value('No. serie', inv_componente.inv_equipo.numero_serie) }}
                {{ detail.label_value('No. inventario', inv_componente.inv_equipo.numero_inventario) }}
            {% endcall %}
        </div>
    </div>
    {% call detail.card(title='Componente', estatus=inv_componente.estatus) %}
        {{ detail.label_value_big('ID', inv_componente.id) }}
        {% if current_user.can_view('INV CATEGORIAS') %}
            {{ detail.label_value('Categoría', inv_componente.inv_categoria.nombre, url_for('inv_categorias.detail', inv_categoria_id=inv_componente.inv_categoria.id)) }}
        {% else %}
            {{ detail.label_value('Categoría', inv_componente.inv_categoria.nombre) }}
        {% endif %}
        {{ detail.label_value('Descripción', inv_componente.descripcion) }}
        {{ detail.label_value('Cantidad', inv_componente.cantidad) }}
        {{ detail.label_value('Generación', inv_componente.generacion) }}
        {{ detail.label_value('Versión', inv_componente.version) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('INV COMPONENTES') %}
        {% if inv_componente.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + inv_componente.descripcion + '?') }}{% endif %}
        {% if inv_componente.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + inv_componente.descripcion + '?') }}{% endif %}
    {% endif %}
{% endblock %}
