{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Componente{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Componente') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% call detail.card('Custodia') %}
                {% if current_user.can_view('INV CUSTODIAS') %}
                    {{ detail.label_value('ID', inv_equipo.inv_custodia.id, url_for('inv_custodias.detail', inv_custodia_id=inv_equipo.inv_custodia.id)) }}
                {% else %}
                    {{ detail.label_value('ID', inv_equipo.inv_custodia.id) }}
                {% endif %}
                {{ detail.label_value('Usuario', inv_equipo.inv_custodia.nombre_completo + ' (' + inv_equipo.inv_custodia.usuario.email + ')') }}
                {# detail.label_value('CURP', inv_equipo.inv_custodia.curp) #}
                {{ detail.label_value('Puesto', inv_equipo.inv_custodia.usuario.puesto) }}
                {{ detail.label_value('Oficina', inv_equipo.inv_custodia.usuario.oficina.descripcion_corta + ' (' + inv_equipo.inv_custodia.usuario.oficina.clave + ')') }}
                {{ detail.label_value('Edificio', inv_equipo.inv_custodia.usuario.oficina.domicilio.edificio) }}
                {{ detail.label_value('Fecha', moment(inv_equipo.inv_custodia.fecha).format("DD MMM YYYY")) }}
            {% endcall %}
        </div>
        <div class="col-md-6">
            {% call detail.card('Equipo') %}
                {% if current_user.can_view('INV EQUIPOS') %}
                    {{ detail.label_value('ID', inv_equipo.id, url_for('inv_equipos.detail', inv_equipo_id=inv_equipo.id)) }}
                {% else %}
                    {{ detail.label_value('ID', inv_equipo.id) }}
                {% endif %}
                {{ detail.label_value('Marca', inv_equipo.inv_modelo.inv_marca.nombre) }}
                {{ detail.label_value('Modelo', inv_equipo.inv_modelo.descripcion) }}
                {{ detail.label_value('Descripción', inv_equipo.descripcion) }}
                {{ detail.label_value('Tipo', inv_equipo.tipo) }}
                {{ detail.label_value('No. serie', inv_equipo.numero_serie) }}
                {{ detail.label_value('No. inventario', inv_equipo.numero_inventario) }}
            {% endcall %}
        </div>
    </div>
    {% call f.card('Agregar un nuevo componente al equipo') %}
        {% set form_kwargs = {'inv_equipo_id': inv_equipo.id} %}
        {% call f.form_tag('inv_componentes.new_with_inv_equipo_id', fid='inv_componente_form', **form_kwargs) %}
            {% call f.form_group(form.inv_categoria) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.cantidad) %}{% endcall %}
            {% call f.form_group(form.generacion) %}{% endcall %}
            {% call f.form_group(form.version) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.moment_js(moment) }}
{% endblock %}
