{% extends 'layouts/app.jinja2' %}
{% import 'macros/card.jinja2' as card %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tablero de Custodias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tablero de Custodias') %}
        {{ topbar.button_list_active('Listado', url_for('inv_custodias.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Tarjetas con cantidades por edificio -->
    {% call card.container_row() %}
        {% for domicilio_id, edificio, cantidad in inv_custodias_cantidades_por_edificio %}
            {% call card.col_md(3) %}
                {% call card.card(edificio) %}
                    {% call card.card_body() %}
                        <div class="d-grid gap-2">
                            <a href="{{ url_for('inv_custodias.list_by_domicilio_id', domicilio_id=domicilio_id) }}" class="btn btn-outline-primary">
                                <span class="iconify" data-icon="mdi:eye"></span>
                                Ver <strong>{{ cantidad }}</strong> custodias
                            </a>
                            <a href="{{ url_for('inv_custodias.exportar_reporte_xlsx', domicilio_id=domicilio_id) }}" class="btn btn-outline-success">
                                <span class="iconify" data-icon="mdi:google-spreadsheet"></span>
                                Exportar XLSX
                            </a>
                        </div>
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
