{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Custodia {{ inv_custodia.id }} de {{ inv_custodia.nombre_completo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Custodia ' + inv_custodia.id | string + ' de ' + inv_custodia.nombre_completo) %}
        {{ topbar.button_previous('Custodias', url_for('inv_custodias.list_active')) }}
        {% if current_user.can_edit('INV CUSTODIAS') %}
            {{ topbar.button_edit('Editar', url_for('inv_custodias.edit', inv_custodia_id=inv_custodia.id)) }}
        {% endif %}
        {% if current_user.can_admin('INV CUSTODIAS') %}
            {% if inv_custodia.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('inv_custodias.delete', inv_custodia_id=inv_custodia.id)) }}{% endif %}
            {% if inv_custodia.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('inv_custodias.recover', inv_custodia_id=inv_custodia.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=inv_custodia.estatus) %}
        {# detail.label_value_big('ID', inv_custodia.id) #}
        {% set usuario_str = inv_custodia.nombre_completo + ' (' + inv_custodia.usuario.email + ')' %}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Usuario', usuario_str, url_for('usuarios.detail', usuario_id=inv_custodia.usuario_id)) }}
        {% else %}
            {{ detail.label_value('Usuario', usuario_str) }}
        {% endif %}
        {{ detail.label_value('Puesto', inv_custodia.usuario.puesto) }}
        {% set oficina_str = inv_custodia.usuario.oficina.descripcion_corta + ' (' + inv_custodia.usuario.oficina.clave + ')' %}
        {% if current_user.can_view('OFICINAS') %}
            {{ detail.label_value('Oficina', oficina_str, url_for('oficinas.detail', oficina_id=inv_custodia.usuario.oficina_id)) }}
        {% else %}
            {{ detail.label_value('Oficina', oficina_str) }}
        {% endif %}
        {% set domicilio_str = inv_custodia.usuario.oficina.domicilio.edificio %}
        {% if current_user.can_view('DOMICILIOS') %}
            {{ detail.label_value('Edificio', domicilio_str, url_for('domicilios.detail', domicilio_id=inv_custodia.usuario.oficina.domicilio_id)) }}
        {% else %}
            {{ detail.label_value('Edificio', domicilio_str) }}
        {% endif %}
        {{ detail.label_value('Fecha', moment(inv_custodia.fecha).format("DD MMM YYYY")) }}
    {% endcall %}
    {% if current_user.can_view('INV EQUIPOS') %}
        {% call detail.card('Equipos') %}
            <!-- Filtros InvEquipos -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosInvEquipos.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroId" type="text" class="form-control" aria-label="ID">
                                <label for="filtroId">ID</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroNumeroSerie" type="text" class="form-control" aria-label="No. de Serie" style="text-transform: uppercase;">
                                <label for="filtroNumeroSerie">No. de Serie</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroNumeroInventario" type="text" class="form-control" aria-label="No. Inventario" style="text-transform: uppercase;">
                                <label for="filtroNumeroInventario">No. Inventario</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <select id="filtroTipo" class="form-select" aria-label="Tipo">
                                    <option selected value="">Todos los tipos</option>
                                    <option value="COMPUTADORA">COMPUTADORA</option>
                                    <option value="LAPTOP">LAPTOP</option>
                                    <option value="IMPRESORA">IMPRESORA</option>
                                    <option value="MULTIFUNCIONAL">MULTIFUNCIONAL</option>
                                    <option value="TELEFONIA">TELEFONIA</option>
                                    <option value="SERVIDOR">SERVIDOR</option>
                                    <option value="SCANNER">SCANNER</option>
                                    <option value="SWITCH">SWITCH</option>
                                    <option value="VIDEOGRABACION">VIDEOGRABACION</option>
                                    <option value="OTROS">OTROS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosInvEquipos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosInvEquipos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable InvEquipos -->
            <table id="inv_equipos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Descripción</th>
                        <th>Año F.</th>
                        <th>No. Serie</th>
                        <th>No. Inv.</th>
                        <th>D. IP</th>
                        <th>D. MAC</th>
                        <th>Red</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('INV EQUIPOS') %}
                <a href="{{ url_for('inv_equipos.new_with_inv_custodia_id', inv_custodia_id=inv_custodia.id) }}" class="btn btn-primary">Agregar equipo</a>
            {% endif %}
            {% if current_user.can_edit('INV CUSTODIAS') %}
                <a href="{{ url_for('inv_custodias.move_1_choose_custodia', origen_inv_custodia_id=inv_custodia.id) }}" class="btn btn-primary">Mover equipos a otra custodia</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('INV CUSTODIAS') %}
        {% if inv_custodia.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la custodia ' + inv_custodia.id | string + ' de ' + inv_custodia.nombre_completo + '?') }}{% endif %}
        {% if inv_custodia.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar la custodia ' + inv_custodia.id | string + ' de ' + inv_custodia.nombre_completo + '?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('INV EQUIPOS') %}
        <script>
            // DataTable InvEquipos
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTable = constructorDataTable.config();
            configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'inv_custodia_id': {{ inv_custodia.id }} };
            configDataTable['columns'] = [
                { data: "detalle" },
                { data: "tipo" },
                { data: "inv_marca_nombre" },
                { data: "descripcion" },
                { data: "fecha_fabricacion_anio" },
                { data: "numero_serie" },
                { data: "numero_inventario" },
                { data: "direccion_ip" },
                { data: "direccion_mac" },
                { data: "inv_red_nombre" },
                { data: "estado" }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: [0], // detalle muestra el ID con cinco digitos por ejemplo 00001
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id.toString().padStart(5, '0') + '</a>';
                    }
                },
                {
                    targets: 3, // descripcion
                    data: null,
                    render: function(data, type, row, meta){
                        if (data.length > 16){
                            return '<span title="' + data + '">' + data.substring(0, 16) + '…' + '</span>';
                        }
                        return data;
                    }
                }
            ];
            // DataTable estilos en las filas segun estado
            configDataTable['createdRow'] = function(row, data, dataIndex) {
                switch (data.estado) {
                    case "ALMACENADO":    $(row).addClass('table-light'); break;
                    case "EN USO":        $(row).addClass('table-primary'); break;
                    case "EN REPARACION": $(row).addClass('table-warning'); break;
                    case "INSERVIBLE":    $(row).addClass('table-dark'); break;
                }
            };
            // Filtros InvEquipos
            const filtrosInvEquipos = new FiltrosDataTable('#inv_equipos_datatable', configDataTable);
            filtrosInvEquipos.agregarInput('filtroId', 'inv_equipo_id');
            filtrosInvEquipos.agregarInput('filtroNumeroSerie', 'numero_serie');
            filtrosInvEquipos.agregarInput('filtroNumeroInventario', 'numero_inventario');
            filtrosInvEquipos.agregarInput('filtroDescripcion', 'descripcion');
            filtrosInvEquipos.agregarInput('filtroTipo', 'tipo');
            filtrosInvEquipos.precargar();
        </script>
    {% endif %}
{% endblock %}
