{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('INV CATEGORIAS') %}
            {{ topbar.button('Categorías', url_for('inv_categorias.list_active'),'mdi:car-wrench') }}
        {% endif %}
        {% if current_user.can_view('INV COMPONENTES') %}
            {{ topbar.button('Componentes', url_for('inv_componentes.list_active'),'mdi:expansion-card') }}
        {% endif %}
        {#  if current_user.can_view('INV CUSTODIAS') %}
            {{ topbar.button('Custodias', url_for('inv_custodias.list_active'),'mdi:shield-account') }}
        {% endif #}
        {% if current_user.can_view('INV EQUIPOS') %}
            {{ topbar.button('Equipos', url_for('inv_equipos.list_active'),'mdi:desktop-classic') }}
        {% endif %}
        {% if current_user.can_view('INV EQUIPOS FOTOS') %}
            {{ topbar.button('Fotos', url_for('inv_equipos_fotos.list_active'),'mdi:image-multiple') }}
        {% endif %}
        {% if current_user.can_view('INV MARCAS') %}
            {{ topbar.button('Marcas', url_for('inv_marcas.list_active'),'mdi:bookmark-multiple') }}
        {% endif %}
        {% if current_user.can_view('INV MODELOS') %}
            {{ topbar.button('Modelos', url_for('inv_modelos.list_active'),'mdi:chart-bubble') }}
        {% endif %}
        {% if current_user.can_view('INV REDES') %}
            {{ topbar.button('Redes', url_for('inv_redes.list_active'),'mdi:access-point-network') }}
        {% endif %}
        {% if current_user.can_admin('INV CUSTODIAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('inv_custodias.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('inv_custodias.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('INV CUSTODIAS') %}
            {{ topbar.button_new('Nueva Custodia', url_for('inv_custodias.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros InvCustodias -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosInvCustodias.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroId" type="text" class="form-control" aria-label="ID">
                            <label for="filtroId">ID</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroNombreCompleto" type="text" class="form-control" aria-label="Nombre completo" style="text-transform: uppercase;">
                            <label for="filtroNombreCompleto">Nombre completo</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosInvCustodias.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosInvCustodias.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable InvCustodias -->
        <table id="inv_custodias_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre completo</th>
                    <th>Oficina</th>
                    <th>Fecha</th>
                    <th>C. Equipos</th>
                    <th>C. Fotos</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable InvCustodias
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/inv_custodias/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "nombre_completo" },
            { data: "oficina_clave" },
            { data: "fecha" },
            { data: "equipos_cantidad" },
            { data: "equipos_fotos_cantidad" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id.toString().padStart(5, '0') + '</a>';
                }
            }
        ];
        // Filtros InvCustodias
        const filtrosInvCustodias = new FiltrosDataTable('#inv_custodias_datatable', configDataTable);
        filtrosInvCustodias.agregarInput('filtroId', 'inv_custodia_id');
        filtrosInvCustodias.agregarInput('filtroNombreCompleto', 'nombre_completo');
        filtrosInvCustodias.precargar();
    </script>
{% endblock %}
