{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Mover Equipos 2. Elegir Equipos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Mover Equipos 2. Elegir Equipos') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% call detail.card('Custodia de origen') %}
                {{ detail.label_value('ID', origen_inv_custodia.id, url_for('inv_custodias.detail', inv_custodia_id=origen_inv_custodia.id)) }}
                {{ detail.label_value('Usuario', origen_inv_custodia.nombre_completo + ' (' + origen_inv_custodia.usuario.email + ')') }}
                {{ detail.label_value('Puesto', origen_inv_custodia.usuario.puesto) }}
                {{ detail.label_value('Oficina', origen_inv_custodia.usuario.oficina.descripcion_corta + ' (' + origen_inv_custodia.usuario.oficina.clave + ')') }}
                {{ detail.label_value('Edificio', origen_inv_custodia.usuario.oficina.domicilio.edificio) }}
                {{ detail.label_value('Fecha', moment(origen_inv_custodia.fecha).format("DD MMM YYYY")) }}
            {% endcall %}
        </div>
        <div class="col-md-6">
            {% call detail.card('Custodia de destino') %}
                {{ detail.label_value('ID', destino_inv_custodia.id, url_for('inv_custodias.detail', inv_custodia_id=destino_inv_custodia.id)) }}
                {{ detail.label_value('Usuario', destino_inv_custodia.nombre_completo + ' (' + destino_inv_custodia.usuario.email + ')') }}
                {{ detail.label_value('Puesto', destino_inv_custodia.usuario.puesto) }}
                {{ detail.label_value('Oficina', destino_inv_custodia.usuario.oficina.descripcion_corta + ' (' + destino_inv_custodia.usuario.oficina.clave + ')') }}
                {{ detail.label_value('Edificio', destino_inv_custodia.usuario.oficina.domicilio.edificio) }}
                {{ detail.label_value('Fecha', moment(destino_inv_custodia.fecha).format("DD MMM YYYY")) }}
            {% endcall %}
        </div>
    </div>
    {% call list.card('Equipos en la custodia ' + origen_inv_custodia.id | string + '. Al dar clic en Mover, cambiará prácticamente de inmediato.') %}
        <!-- Filtros InvEquipos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosInvEquipos.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroId" type="text" class="form-control" aria-label="ID">
                            <label for="filtroId">ID</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroNumeroSerie" type="text" class="form-control" aria-label="No. de Serie" style="text-transform: uppercase;">
                            <label for="filtroNumeroSerie">No. de Serie</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroNumeroInventario" type="text" class="form-control" aria-label="No. Inventario" style="text-transform: uppercase;">
                            <label for="filtroNumeroInventario">No. Inventario</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <select id="filtroTipo" class="form-select" aria-label="Tipo">
                                <option selected value="">Todos los tipos</option>
                                <option value="COMPUTADORA">COMPUTADORA</option>
                                <option value="LAPTOP">LAPTOP</option>
                                <option value="IMPRESORA">IMPRESORA</option>
                                <option value="MULTIFUNCIONAL">MULTIFUNCIONAL</option>
                                <option value="TELEFONIA">TELEFONIA</option>
                                <option value="SERVIDOR">SERVIDOR</option>
                                <option value="SCANNER">SCANNER</option>
                                <option value="SWITCH">SWITCH</option>
                                <option value="VIDEOGRABACION">VIDEOGRABACION</option>
                                <option value="OTROS">OTROS</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosInvEquipos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosInvEquipos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable InvEquipos -->
        <table id="inv_equipos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Año F.</th>
                    <th>No. Serie</th>
                    <th>No. Inv.</th>
                    <th>Estado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable InvEquipos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/inv_equipos/datatable_json';
        configDataTable['ajax']['data'] = { 'estatus': 'A', 'inv_custodia_id': {{ origen_inv_custodia.id }} };
        configDataTable['columns'] = [
            { data: "detalle" },
            { data: "tipo" },
            { data: "inv_marca_nombre" },
            { data: "descripcion" },
            { data: "fecha_fabricacion_anio" },
            { data: "numero_serie" },
            { data: "numero_inventario" },
            { data: "estado" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                render: function(data, type, row, meta) {
                    // Boton que llama a la funcion moverEquipo
                    let myId = 'invEquipo' + data.id;
                    return '<button id="' + myId + '" class="btn btn-primary btn-sm" onclick="moverEquipo(\'#' + myId + '\',' + data.id + ')">Mover ' + data.id.toString().padStart(5, '0') + '</button>';
                }
            },
            {
                targets: 3, // descripcion
                data: null,
                render: function(data, type, row, meta){
                    if (data.length > 16){
                        return '<span title="' + data + '">' + data.substring(0, 16) + '…' + '</span>';
                    }
                    return data;
                }
            }
        ];
        // Filtros InvEquipos
        const filtrosInvEquipos = new FiltrosDataTable('#inv_equipos_datatable', configDataTable);
        filtrosInvEquipos.agregarInput('filtroId', 'inv_equipo_id');
        filtrosInvEquipos.agregarInput('filtroNumeroSerie', 'numero_serie');
        filtrosInvEquipos.agregarInput('filtroNumeroInventario', 'numero_inventario');
        filtrosInvEquipos.agregarInput('filtroDescripcion', 'descripcion');
        filtrosInvEquipos.agregarInput('filtroTipo', 'tipo');
        filtrosInvEquipos.precargar();
    </script>
    <script>
        // En cada detalle del DataTable se usa un boton con onClick que ejecuta a esta funcion
        function moverEquipo(id, inv_equipo_id){
            // Deshabilitar boton para evitar multiples clicks
            const thisButton = document.querySelector(id);
            thisButton.disabled = true;
            thisButton.textContent = 'Espere...';
            // URL para mover el equipo
            const url = '/inv_custodias/move_3_move_equipo/{{ origen_inv_custodia.id }}/{{ destino_inv_custodia.id }}';
            // Preparar headers para POST
            const myHeaders = new Headers();
            myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
            myHeaders.append("Content-Type", "application/json");
            // Preparar la peticion
            const myInit = {
                method: 'POST',
                headers: myHeaders,
                body: JSON.stringify({ 'inv_equipo_id': inv_equipo_id })
            };
            // Realizar la peticion
            fetch(url, myInit)
                .then(response => response.json())
                .then(data => {
                    if (data['success'] === true){
                        console.log(data['message']);
                        thisButton.textContent = 'Movido';
                    } else {
                        alert('Error al mover el equipo: ' + data['message']);
                        thisButton.disabled = false;
                        thisButton.textContent = 'Error al mover';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    thisButton.disabled = false;
                    thisButton.textContent = 'Error al mover';
                });
        }
    </script>
{% endblock %}
