{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Custodia: 2. Crear{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Custodia: 2. Crear') }}
{% endblock %}

{% block content %}
    {% call f.card('Verifique que sea el Usuario correcto') %}
        {{ detail.label_value('Usuario', usuario.nombre + ' (' + usuario.email + ')') }}
        {# detail.label_value('CURP', usuario.curp) #}
        {{ detail.label_value('Puesto', usuario.puesto) }}
        {{ detail.label_value('Oficina', usuario.oficina.descripcion_corta + ' (' + usuario.oficina.clave + ')') }}
        {{ detail.label_value('Edificio', usuario.oficina.domicilio.edificio) }}
    {% endcall %}
    {% call f.card('Datos de la Custodia') %}
        {% call f.form_tag('inv_custodias.new', fid='inv_custodias_form') %}
            {% call f.form_group(form.fecha) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
