{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Custodia: 1. Elegir Usuario{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nueva Custodia: 1. Elegir Usuario') }}
{% endblock %}

{% block content %}
    {% call list.card('Elegir Usuario') %}
        <!-- Filtros Usuarios -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosUsuarios.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroEMail" type="text" class="form-control" aria-label="email">
                            <label for="filtroEMail">e-mail</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                            <label for="filtroNombres">Nombres</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroApellidoPaterno" type="text" class="form-control" aria-label="Apellido paterno" style="text-transform: uppercase;">
                            <label for="filtroApellidoPaterno">Primer paterno</label>
                        </div>
                    </div>
                    <div class="col-3 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosUsuarios.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosUsuarios.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable Usuarios -->
        <table id="usuarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                    <th>CURP</th>
                    <th>Puesto</th>
                    <th>Autoridad</th>
                    <th>Oficina</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Usuarios
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/usuarios/datatable_json';
        configDataTable['ajax']['data'] = {estatus: "A", oficina_id_diferente_a: "1"};
        configDataTable['columns'] = [
            { data: "inv_custodia" },
            { data: "nombre" },
            { data: "curp" },
            { data: "puesto" },
            { data: "autoridad" },
            { data: "oficina" }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // inv_custodia
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: [1, 3], // nombre, puesto
                data: null,
                render: function(data, type, row, meta) {
                    return (data.length > 24 ? data.substring(0, 24) + '…' : data);
                }
            },
            {
                targets: 2, // curp
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 4) {
                        return '<span title="' + data + '">' + data.substring(0, 4) + '...</span>';
                    }
                    return data;
                }
            },
            {
                targets: [4, 5], // autoridad, oficina
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            }
        ];
        // Filtros Usuarios
        const filtrosUsuarios = new FiltrosDataTable('#usuarios_datatable', configDataTable);
        filtrosUsuarios.agregarInput('filtroEMail', 'email');
        filtrosUsuarios.agregarInput('filtroNombres', 'nombres');
        filtrosUsuarios.agregarInput('filtroApellidoPaterno', 'apellido_paterno');
        filtrosUsuarios.precargar();
    </script>
{% endblock %}
