{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Plantilla {{ ofi_plantilla.descripcion }}{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
    <!-- CKEditor 5 -->
    <link rel="stylesheet" href="https://storage.googleapis.com/pjecz-informatica/static/css/ckeditor5-editor.css" crossorigin>
    <link rel="stylesheet" href="https://storage.googleapis.com/pjecz-informatica/static/css/ckeditor5-justicia-digital-gob-mx.css">
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + ofi_plantilla.descripcion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ofi_plantilla_id': ofi_plantilla.id} %}
        {% call f.form_tag('ofi_plantillas.edit', fid='ofi_plantilla_form', **form_kwargs) %}
            <div class="row">
                <div class="col-md-9">
                    {% call f.form_group(form.descripcion) %}{% endcall %}
                    {% call f.form_group(form.propietario) %}{% endcall %}
                </div>
                <div class="col-md-3">
                    {% call f.form_group(form.esta_archivado) %}{% endcall %}
                    {% call f.form_group(form.esta_compartida) %}{% endcall %}
                </div>
            </div>
            <p class="my-0">
                <small><strong>Si está compartida estará al alcance de todos,</strong> entonces escriba las direcciones de correo electrónico separados por comas.</small>
            </p>
            {% call f.form_group(form.destinatarios_emails) %}{% endcall %}
            {% call f.form_group(form.con_copias_emails) %}{% endcall %}
            {# call f.form_group(form.remitente_email) %}{% endcall #}
            <p class="my-0">Use estos marcadores en el contenido:</p>
            <ul>
                <li><code>[[DIA]]</code> dia de la fecha actual</li>
                <li><code>[[MES]]</code> mes de la fecha actual</li>
                <li><code>[[AÑO]]</code> año de la fecha actual</li>
                <li><code>[[FOLIO]]</code> folio automático</li>
                <li><code>[[DESTINATARIOS]]</code> nombre, puesto y autoridad a quien se enviará, <strong>si está compartida</strong></li>
                <li><code>[[CON COPIAS]]</code> nombre, puesto y autoridad a quien se le manda una copia, <strong>si está compartida</strong></li>
                <li><code>[[REMITENTE NOMBRE]]</code> nombre del usuario de quien escribe</li>
                <li><code>[[REMITENTE PUESTO]]</code> puesto del usuario de quien escribe</li>
                <li><code>[[REMITENTE AUTORIDAD]]</code> descripción de la autoridad de quien escribe</li>
            </ul>
            <p><strong>MUY IMPORTANTE:</strong> siempre pegue "sin formato" para reducir el tamaño del contenido HTML.</p>
            <div class="main-container">
                <div class="editor-container editor-container_classic-editor editor-container_include-fullscreen" id="editor-container">
                    <div class="editor-container__editor">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div style="display:none">
                {% call f.form_group(form.contenido_md) %}{% endcall %}
                {% call f.form_group(form.contenido_html) %}{% endcall %}
                {% call f.form_group(form.contenido_sfdt) %}{% endcall %}
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Turndown sirve para convertir el HTML a markdown-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turndown/7.0.0/turndown.js"></script>
    <script>
        var turndownService = new TurndownService();
    </script>
    <!-- CKEditor 5 -->
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5.umd.js" crossorigin></script>
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5_translations/es.umd.js" crossorigin></script>
    <script src="https://storage.googleapis.com/pjecz-informatica/static/js/ckeditor5-justicia-digital-gob-mx.js"></script>
    <script>
        // Obtener los elementos del formulario y del componente
        const editorElement = document.getElementById('editor');
        const webPaginaForm = document.getElementById('ofi_plantilla_form');
        const contenidoHtmlTextArea = document.getElementById('contenido_html');
        const contenidoMdTextArea = document.getElementById('contenido_md');
        // Inicializar el editor
        let ckEditorInstance;
        ClassicEditor
            .create(editorElement, editorConfig)
            .then( editor => {
                ckEditorInstance = editor;
                editor.setData(contenidoHtmlTextArea.value); // Al inicializar copiamos el contenido HTML
            })
            .catch( error => {
                console.error('ERROR al inicializar el editor', error);
            });
        // Cambiar la forma de enviar el formulario
        webPaginaForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir la sumisión inmediata del formulario
            if (ckEditorInstance && typeof turndownService !== 'undefined') {
                const ckEditorContenidoHTML = ckEditorInstance.getData();
                contenidoHtmlTextArea.value = ckEditorContenidoHTML;
                contenidoMdTextArea.value = turndownService.turndown(ckEditorContenidoHTML); // Convertir HTML a Markdown
            } else {
                console.error('ERROR al copiar y convertir el contenido');
            }
            webPaginaForm.submit(); // Enviar el formulario
        });
    </script>
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            // --- Carga de la opción elegida --- //
            const newPropietarioOption = new Option('{{ofi_plantilla.usuario.email}}: {{ofi_plantilla.usuario.nombre}} - {{ofi_plantilla.usuario.puesto}}', '{{ofi_plantilla.usuario.id}}', false, false);
            $('#propietario').append(newPropietarioOption).trigger('change');
            $("#propietario").select2({
                // --- Carga por Ajax --- //
                ajax: {
                    url: '/usuarios/select2_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term, "workspace": "LOCAL" }
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
{% endblock %}
