{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Oficio-Plantilla {{ ofi_plantilla.descripcion }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + ofi_plantilla.descripcion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ofi_plantilla_id': ofi_plantilla.id} %}
        {% call f.form_tag('ofi_plantillas.edit', fid='ofi_plantilla_form', **form_kwargs) %}
            {% call f.form_group(form.titulo) %}{% endcall %}
            {% call f.form_group(form.contenido) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
