{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Requisiciones Catálogo {{ req_catalogo.codigo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Requisiciones Catálogo ' + req_catalogo.codigo) %}
        {{ topbar.button_previous('Catálogos', url_for('req_catalogos.list_active')) }}
        {% if current_user.can_edit('REQ CATALOGOS') %}
            {{ topbar.button_edit('Editar', url_for('req_catalogos.edit', req_catalogo_id=req_catalogo.id)) }}
        {% endif %}
        {% if current_user.can_admin('REQ CATALOGOS') %}
            {% if req_catalogo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('req_catalogos.delete', req_catalogo_id=req_catalogo.id)) }}{% endif %}
            {% if req_catalogo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('req_catalogos.recover', req_catalogo_id=req_catalogo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=req_catalogo.estatus) %}
        {{ detail.label_value_big('Código', req_catalogo.codigo) }}
        {{ detail.label_value('Descripción', req_catalogo.descripcion) }}
        {{ detail.label_value('Categoría', req_catalogo.req_categoria.clave_descripcion, url_for('req_categorias.detail', req_categoria_id=req_catalogo.req_categoria.id)) }}
        {{ detail.label_value('Unidad de Medida', req_catalogo.unidad_medida) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('REQ CATALOGOS') %}
        {% if req_catalogo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + req_catalogo.codigo + '?') }}{% endif %}
        {% if req_catalogo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + req_catalogo.codigo + '?') }}{% endif %}
    {% endif %}
{% endblock %}
