{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Catálogo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Catálogo') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('req_catalogos.new', fid='req_catalogo_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.categoria) %}{% endcall %}
            {% call f.form_group(form.unidad_medida) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
