{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Rama {{ web_rama.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Rama ' + web_rama.nombre) %}
        {{ topbar.button_previous('Ramas', url_for('web_ramas.list_active')) }}
        {% if current_user.can_edit('WEB RAMAS') %}
            {{ topbar.button_edit('Editar', url_for('web_ramas.edit', web_rama_id=web_rama.id)) }}
        {% endif %}
        {% if current_user.can_admin('WEB RAMAS') %}
            {% if web_rama.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('web_ramas.delete', web_rama_id=web_rama.id)) }}{% endif %}
            {% if web_rama.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('web_ramas.recover', web_rama_id=web_rama.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# call detail.card(estatus=web_rama.estatus) %}
        {{ detail.label_value('Nombre', web_rama.nombre) }}
        {{ detail.label_value('Clave', web_rama.clave) }}
    {% endcall #}
    {% if current_user.can_view('WEB PAGINAS') %}
        {% call detail.card('Páginas') %}
            <!-- Filtros WebPaginas -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosWebPaginas.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroWebPaginaClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                                <label for="filtroWebPaginaClave">Clave</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="filtroWebPaginaTitulo" type="text" class="form-control" aria-label="Título">
                                <label for="filtroWebPaginaTitulo">Título</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <select id="filtroWebPaginaEstado" class="form-select" aria-label="Estado">
                                    <option value="">Todos</option>
                                    <option value="BORRADOR">BORRADOR</option>
                                    <option value="PUBLICAR">PUBLICAR</option>
                                </select>
                                <label for="filtroWebPaginaEstado">Estado</label>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosWebPaginas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosWebPaginas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable WebPaginas -->
            <table id="web_paginas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Título</th>
                        <th>F. modificación</th>
                        <th>Estado</th>
                        <th>Cuándo publicar</th>
                        <th>Cuándo archivar</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('WEB PAGINAS') %}
                <a href="{{ url_for('web_paginas.new', web_rama_id=web_rama.id) }}" class="btn btn-primary">Agregar página</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('WEB RAMAS') %}
        {% if web_rama.estatus == 'A' %}
            {{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + web_rama.clave + '?') }}{% endif %}
        {% if web_rama.estatus == 'B' %}
            {{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + web_rama.clave + '?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('WEB PAGINAS') %}
        <script>
            // DataTable WebPaginas
            const constructorDataTable = new ConfigDataTable('{{ csrf_token() }}');
            let configDTWebPaginas = constructorDataTable.config();
            configDTWebPaginas['ajax']['url'] = '/web_paginas/datatable_json';
            configDTWebPaginas['ajax']['data'] = {estatus: "A", web_rama_id: {{ web_rama.id}}};
            configDTWebPaginas['columns'] = [
                { data: 'detalle' },
                { data: 'titulo' },
                { data: 'fecha_modificacion' },
                { data: 'estado' },
                { data: 'tiempo_publicar' },
                { data: 'tiempo_archivar' }
            ];
            configDTWebPaginas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function (data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                },
                {
                    targets: 1, // titulo
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.length > 48) {
                            return '<span title="' + data + '">' + data.substring(0, 48) + '…</span>';
                        }
                        return data;
                    }
                }
            ];
            // Filtros WebPaginas
            const filtrosWebPaginas = new FiltrosDataTable('#web_paginas_datatable', configDTWebPaginas);
            filtrosWebPaginas.agregarInput('filtroWebPaginaClave', 'clave');
            filtrosWebPaginas.agregarInput('filtroWebPaginaTitulo', 'titulo', ''); // cambiar caseSensitive a ''
            filtrosWebPaginas.agregarInput('filtroWebPaginaEstado', 'estado');
            filtrosWebPaginas.precargar();
        </script>
    {% endif %}
{% endblock %}
