{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Rama {{ web_rama.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Rama ' + web_rama.clave) %}
        {{ topbar.button_previous('Ramas', url_for('web_ramas.list_active')) }}
        {% if current_user.can_edit('WEB RAMAS') %}
            {{ topbar.button_edit('Editar', url_for('web_ramas.edit', web_rama_id=web_rama.id)) }}
        {% endif %}
        {% if current_user.can_admin('WEB RAMAS') %}
            {% if web_rama.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('web_ramas.delete', web_rama_id=web_rama.id)) }}{% endif %}
            {% if web_rama.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('web_ramas.recover', web_rama_id=web_rama.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=web_rama.estatus) %}
        {{ detail.label_value('Nombre', web_rama.nombre) }}
        {# detail.label_value('Creado', moment(web_rama.creado, local=True).format('llll')) #}
    {% endcall %}
    {% if current_user.can_view('WEB PAGINAS') %}
        {% call detail.card('Paginas') %}
            <!-- Filtros WebPaginas -->
            <!-- DataTable WebPaginas -->
            {% if current_user.can_insert('WEB PAGINAS') %}
            <a href="{{ url_for('web_paginas.new', web_rama_id=web_rama.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('WEB RAMAS') %}
        {% if web_rama.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + web_rama.clave + '?') }}{% endif %}
        {% if web_rama.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + web_rama.clave + '?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('WEB PAGINAS') %}
        <script>
            // { estatus: "A", web_rama_id: {{ web_rama.id}} }
            // DataTable WebPaginas
            // Filtros WebPaginas
        </script>
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
