{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}REPSVM Agresor-Delito {{ repsvm_agresor_delito.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('REPSVM Agresor-Delito ' + repsvm_agresor_delito.nombre) %}
        {{ topbar.button_previous('REPSVM Agresores-Delitos', url_for('repsvm_agresores_delitos.list_active')) }}
        {% if current_user.can_edit('REPSVM AGRESORES DELITOS') %}
            {{ topbar.button_edit('Editar', url_for('repsvm_agresores_delitos.edit', repsvm_agresor_delito_id=repsvm_agresor_delito.id)) }}
        {% endif %}
        {% if current_user.can_admin('REPSVM AGRESORES DELITOS') %}
            {% if repsvm_agresor_delito.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('repsvm_agresores_delitos.delete', repsvm_agresor_delito_id=repsvm_agresor_delito.id)) }}{% endif %}
            {% if repsvm_agresor_delito.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('repsvm_agresores_delitos.recover', repsvm_agresor_delito_id=repsvm_agresor_delito.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=repsvm_agresor_delito.estatus) %}
        {{ detail.label_value_big('Nombre o Descripción', repsvm_agresor_delito.nombre) }}
        {# detail.label_value('Creado', moment(repsvm_agresor_delito.creado).format('llll')) #}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('REPSVM AGRESORES DELITOS') %}
        {% if repsvm_agresor_delito.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + repsvm_agresor_delito.nombre + '?') }}{% endif %}
        {% if repsvm_agresor_delito.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + repsvm_agresor_delito.nombre + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
