{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Video {{ exh_exhorto_video.titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Video ' + exh_exhorto_video.titulo) %}
        {{ topbar.button_previous('Exhorto', url_for('exh_exhortos.detail', exh_exhorto_id=exh_exhorto_respuesta_archivo.exh_exhorto_respuesta.exh_exhorto.id)) }}
        {{ topbar.button_previous('Respuesta', url_for('exh_exhortos_respuestas.detail', exh_exhorto_respuesta_id=exh_exhorto_respuesta_archivo.exh_exhorto_respuesta_id)) }}
        {% if current_user.can_edit('EXH EXHORTOS RESPUESTAS VIDEOS') %}
            {{ topbar.button_edit('Editar', url_for('exh_exhortos_videos.edit', exh_exhorto_video_id=exh_exhorto_video.id)) }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS VIDEOS') %}
            {% if exh_exhorto_video.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos_videos.delete', exh_exhorto_video_id=exh_exhorto_video.id)) }}{% endif %}
            {% if exh_exhorto_video.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos_videos.recover', exh_exhorto_video_id=exh_exhorto_video.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=exh_exhorto_video.estatus) %}
        {{ detail.label_value('Exhorto ID', exh_exhorto_video.exh_exhorto.exhorto_origen_id, url_for('exh_exhortos.detail', exh_exhorto_id=exh_exhorto_video.exh_exhorto_id)) }}
        {{ detail.label_value('Título', exh_exhorto_video.titulo) }}
        {{ detail.label_value('Descripción', exh_exhorto_video.descripcion) }}
        {{ detail.label_value('URL acceso', exh_exhorto_video.url_acceso, exh_exhorto_video.url_acceso) }}
        {% if exh_exhorto_video.fecha != none %}
            {{ detail.label_value('Fecha', moment(exh_exhorto_video.fecha, local=True).format('llll')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS VIDEOS') %}
        {% if exh_exhorto_video.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + exh_exhorto_video.titulo + '?') }}{% endif %}
        {% if exh_exhorto_video.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + exh_exhorto_video.titulo + '?') }}{% endif %}
    {% endif %}
{% endblock %}
