{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/detail.jinja2' as detail %}

{% block title %}Agregar Archivo Adjunto{% endblock %}

{% block custom_head %}
    {{ f.drop_zone_css() }}
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Agregar Archivo Adjunto') }}
{% endblock %}

{% block content %}
    <div class="card bg-primary text-light mb-3">
        <div class="card-header">INFORMACIÓN</div>
        <div class="card-body">
            <h5 class="card-title">Tipos y tamaño de archivos permitidos.</h5>
            <p class="card-text">Solo puede subir archivos de imagen (jpg, jpeg, png) de Office (doc, docx, xls, xlsx) y de pdf.<br />
            El tamaño del archivo no debe superar los 20 MB.</p>
        </div>
    </div>
    {% call f.card() %}
        {% set form_kwargs = {'ofi_documento_id': ofi_documento.id} %}
        {% call f.form_tag_multipart('ofi_documentos_adjuntos.new_with_ofi_documento', fid='ofi_documento_adjunto_form', **form_kwargs) %}
            <strong>Descripción del Oficio</strong>
            <p>{{ ofi_documento.descripcion }}</p>
            <strong>Folio del Oficio</strong>
            <p>{{ ofi_documento.folio }}</p>
            {% call f.form_group(form.descripcion) %}{% endcall %}
            <strong>Agregar Archivo Adjunto</strong>
            {% call f.drop_zone_wrapper() %}
                {% call f.form_group(form.archivo, class="dropzone") %}{% endcall %}
            {% endcall %}
            <div class="row">
                <div class="col-2 mt-2">
                    <a class="btn btn-primary" id="guardar" name="guardar" type="submit" onclick="ofi_documento_adjunto_form.submit()"><span class="iconify" data-icon="mdi:plus"></span> Agregar</a>
                </div>
            </div>
        {% endcall %}
        <hr />
        <!-- DataTable ArchivosAdjuntos -->
        <table id="ofi_documentos_archvios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
        <!-- Botones de acción -->
        <div class="row mt-3">
            <div class="col-md-3">{{ detail.button_md('Regresar al Oficio', url_for('ofi_documentos.detail', ofi_documento_id=ofi_documento.id), 'mdi:arrow-left',  color_class='btn-secondary') }}</div>
            <div class="col-md-6"></div>
            <div class="col-md-3 text-end">{{ modals.button_modal_md('Quitar Todos', url_for('ofi_documentos_adjuntos.remove_all', ofi_documento_id=ofi_documento.id), "QuitarTodos", "mdi:trash-can-outline", "¿Desea quitar todos los archivos adjuntos?",  "btn-danger") }}</div>
        </div>
    {% endcall %}
{% endblock %}


{% block custom_javascript %}
    {{ f.drop_zone_js() }}
    {# Modales #}
    {{ modals.custom_javascript("Quitar Todos", "", "QuitarTodos") }}
    {# Importación de DataTables #}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {# Configuración de DataTables #}
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {# DataTable Destinatarios #}
    <script>
        let configDT_archivos = constructorDataTable.config();
        configDT_archivos['ajax']['url'] = '/ofi_documentos_adjuntos/datatable_json';
        configDT_archivos['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDT_archivos['columns'] = [
            { data: 'detalle' },
            { data: 'descripcion' },
            { data: 'acciones' }
        ];
        configDT_archivos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id.substring(0, 8) + '</a>';
                }
            },
            {
                targets: 2, // acciones
                data: null,
                render: function(data, type, row, meta) {
                    return '<a class="btn btn-outline-danger btn-sm" href="' + data + '"><span class="iconify" data-icon="mdi:trash-can-outline"></a>';
                }
            },
        ];
        // Filtros ArchivosAdjuntos
        const filtrosArchivosAdjuntos = new FiltrosDataTable('#ofi_documentos_archvios_datatable', configDT_archivos);
        filtrosArchivosAdjuntos.precargar();
    </script>
{% endblock %}