{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Archivo del Exhorto{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar Archivo del Exhorto') %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'exh_exhorto_archivo_id': exh_exhorto_archivo.id} %}
        {% call f.form_tag('exh_exhortos_archivos.edit', fid='exh_exhorto_archivo_form', **form_kwargs) %}
            {% call f.form_group(form.exh_exhorto_exhorto_origen_id, readonly=true) %}{% endcall %}
            {% call f.form_group(form.nombre_archivo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tipo_documento) %}{% endcall %}
            {% call f.form_group(form.hash_sha1, readonly=true) %}{% endcall %}
            {% call f.form_group(form.hash_sha256, readonly=true) %}{% endcall %}
            {% call f.form_group(form.url, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tamano, readonly=true) %}{% endcall %}
            {% call f.form_group(form.fecha_hora_recepcion, readonly=true) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
