{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('EXH AREAS') %}
            {{ topbar.button('Áreas', url_for('exh_areas.list_active'), 'mdi:office-building-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH EXHORTOS') %}
            {{ topbar.button('Exhortos', url_for('exh_exhortos.list_active'), 'mdi:email-fast') }}
        {% endif %}
        {% if current_user.can_view('EXH EXTERNOS') %}
            {{ topbar.button('Externos', url_for('exh_externos.list_active'), 'mdi:home-map-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH TIPOS DILIGENCIAS') %}
            {{ topbar.button('Tipos Diligencias', url_for('exh_tipos_diligencias.list_active'), 'mdi:label') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS ARCHIVOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('exh_exhortos_archivos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('exh_exhortos_archivos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- DataTable exh_exhortos_archivos -->
        <table id="exh_exhortos_archivos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Descargar</th>
                    <th>Tipo Documento</th>
                    <th>Tamaño</th>
                    <th>Estado</th>
                    <th>Exhorto Origen ID</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable exh_exhortos_archivos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTExhExhortosArchivos = constructorDataTable.config();
        configDTExhExhortosArchivos['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTExhExhortosArchivos['ajax']['data'] = {{ filtros }};
        configDTExhExhortosArchivos['columns'] = [
            { data: 'detalle' },
            { data: 'descargar_pdf' },
            { data: 'tipo_documento_descripcion' },
            { data: 'tamano' },
            { data: 'estado' },
            { data: 'exhorto_origen_id' }
        ];
        configDTExhExhortosArchivos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                    }
                    return data.nombre_archivo;
                }
            },
            {
                targets: 1, // descargar_pdf
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '" download="' + data.nombre_archivo + '"><span class="iconify" data-icon="mdi:file-pdf-box"></span></a>';
                }
            }
        ];
        // Filtros exh_exhortos_archivos
        const filtrosExhExhortosArchivos = new FiltrosDataTable('#exh_exhortos_archivos_datatable', configDTExhExhortosArchivos);
        filtrosExhExhortosArchivos.precargar();
    </script>
{% endblock %}
