{% extends 'layouts/app.jinja2' %}
{% import 'macros/card.jinja2' as card %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tablero de Sentencias{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tablero de Sentencias') %}
        {{ topbar.button_list_active('Listado', url_for('sentencias.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call card.card('PRUEBA') %}
        {% call card.card_body() %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla vel sollicitudin arcu, a hendrerit lacus.
            Phasellus fringilla luctus orci, at aliquam tellus mattis egestas.
            Nulla ultrices id tortor nec pharetra.
        {% endcall %}
    {% endcall %}
    {% call card.card('PRUEBA') %}
        {% call card.card_body() %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla vel sollicitudin arcu, a hendrerit lacus.
            Phasellus fringilla luctus orci, at aliquam tellus mattis egestas.
            Nulla ultrices id tortor nec pharetra.
        {% endcall %}
    {% endcall %}
    {% call card.card('PRUEBA') %}
        {% call card.card_body() %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla vel sollicitudin arcu, a hendrerit lacus.
            Phasellus fringilla luctus orci, at aliquam tellus mattis egestas.
            Nulla ultrices id tortor nec pharetra.
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
