{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% set title = 'V.P. de Sentencia ' + sentencia.sentencia + ' del ' + sentencia.autoridad.clave %}

{% block title %}{{ title }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(title) %}
        {# Ir al listado activos #}
        {{ topbar.button_previous('V.P. de S.', url_for('sentencias.list_active')) }}
        {# Los administradores pueden subir a la autoridad que tienen a la vista #}
        {% if current_user.can_admin('SENTENCIAS') %}
            {{ topbar.button_previous('V.P. de S. de ' + sentencia.autoridad.clave, url_for('sentencias.list_active') + '?autoridad_clave=' + sentencia.autoridad.clave) }}
            {{ topbar.button_upload('Subir V.P. de S. para ' + sentencia.autoridad.clave, url_for('sentencias.new_with_autoridad_id', autoridad_id=sentencia.autoridad_id)) }}
        {% elif current_user.can_insert('SENTENCIAS') and current_user.autoridad_id == sentencia.autoridad_id %}
            {{ topbar.button_upload('Subir V.P. de S.', url_for('sentencias.new')) }}
        {% else %}
            {{ topbar.button_previous('V.P. de S. de ' + sentencia.autoridad.clave, url_for('sentencias.list_active') + '?autoridad_clave=' + sentencia.autoridad.clave) }}
        {% endif %}
        {# Los usuarios que pueden editar si les pertenece #}
        {% if current_user.can_admin('SENTENCIAS') or (current_user.can_edit('SENTENCIAS') and current_user.autoridad_id == sentencia.autoridad_id) %}
            {{ topbar.button_edit('Editar', url_for('sentencias.edit', sentencia_id=sentencia.id)) }}
        {% endif %}
        {# Los usuarios con permiso para insertar pueden eliminar y recuperar #}
        {% if current_user.can_insert('SENTENCIAS') %}
            {% if sentencia.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('sentencias.delete', sentencia_id=sentencia.id)) }}{% endif %}
            {% if sentencia.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('sentencias.recover', sentencia_id=sentencia.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=sentencia.estatus) %}
        <div class="row">
            <div class="col-md-6">
                {{ detail.label_value('Distrito', sentencia.autoridad.distrito.nombre) }}
                {% if current_user.can_view("AUTORIDADES") %}
                    {{ detail.label_value('Autoridad', sentencia.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=sentencia.autoridad_id)) }}
                {% else %}
                    {{ detail.label_value('Autoridad', sentencia.autoridad.descripcion) }}
                {% endif %}
                {{ detail.label_value('Sentencia', sentencia.sentencia) }}
                {{ detail.label_value('Expediente', sentencia.expediente) }}
                {{ detail.label_value('Descripción', sentencia.descripcion) }}
            </div>
            <div class="col-md-6">
                {{ detail.label_value('F. de la sentencia', moment(sentencia.sentencia_fecha).format("llll")) }}
                {{ detail.label_value('F. de publicación', moment(sentencia.fecha).format("llll")) }}
                {{ detail.label_value('Materia', sentencia.materia_tipo_juicio.materia.nombre) }}
                {% if current_user.can_view("MATERIAS TIPOS JUICIOS") %}
                    {{ detail.label_value('Tipo de Juicio', sentencia.materia_tipo_juicio.descripcion, url_for('materias_tipos_juicios.detail', materia_tipo_juicio_id=sentencia.materia_tipo_juicio_id)) }}
                {% else %}
                    {{ detail.label_value('Tipo de Juicio', sentencia.materia_tipo_juicio.descripcion) }}
                {% endif %}
                {{ detail.label_value_boolean('Es P. de Género', sentencia.es_perspectiva_genero) }}
                {{ detail.label_value('Creado', moment(sentencia.creado, local=True).format('llll')) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ detail.button_md(label='Acuse', url=url_for('sentencias.checkout', id_hashed=sentencia.encode_id()), icon='mdi:printer', target='_blank', color_class='btn-outline-secondary') }}
            </div>
            <div class="col">
                {{ detail.button_md(label='Descargar', url=url_for('sentencias.download_file_pdf', sentencia_id=sentencia.id), icon='mdi:download') }}
            </div>
        </div>
    {% endcall %}
    {% call detail.card() %}
        <object data="{{ url_for('sentencias.view_file_pdf', sentencia_id=sentencia.id) }}" type="application/pdf" width="100%" height="600px">
            <p class="mb-0">El navegador no puede mostrar el archivo PDF o no existe en el depósito.</p>
        </object>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# Los usuarios que pueden insertar registros tienen permiso para eliminar y recuperar #}
    {% set descrito = 'la sentencia del ' + sentencia.fecha.strftime("%Y-%m-%d") + ' de ' + sentencia.autoridad.clave %}
    {% if current_user.can_insert('SENTENCIAS') %}
        {% if sentencia.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + descrito + '?') }}{% endif %}
        {% if sentencia.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + descrito + '?') }}{% endif %}
    {% endif %}
{% endblock %}
