{% extends 'layouts/print_checkout.jinja2' %}

{% block title %}Constancia de Recepción de Documentos{% endblock %}

{% block content %}
    <div class="py-2">
        <p>
            Fecha {{ moment(exh_exhorto.creado, local=False).format('DD MMM YYYY HH:mm') }}<br>
            ID: {{ exh_exhorto.id }}<br>
        </p>
    </div>
    <div class="text-center py-2">
        <h3>P R E S E N T E</h3>
    </div>
    <div class="py-2">
        <p>Por este medio se confirma la recepción de su documento:</p>
        <ul>
            <li>Respuesta Origen Id: <strong>{{ exh_exhorto.respuesta_origen_id }}</strong></li>
            <li>Fecha Hora de Recepción: <strong>{{ exh_exhorto.respuesta_fecha_hora_recepcion }}</strong></li>
            <li>Observaciones: <strong>{{ exh_exhorto.respuesta_observaciones }}</strong></li>
        </ul>
    </div>
    <div class="text-center py-2">
        <p>A T E N T A M E N T E</p>
        <strong>
            SALTILLO, COAHUILA DE ZARAGOZA, A {{ dia }} DE {{ mes }} DE {{ anio }}<br>
            DIRECCIÓN DE INFORMÁTICA
        </strong>
    </div>
{% endblock %}
