{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Exhorto {{ exh_exhorto.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Exhorto para ' + municipio_destino.estado.nombre + ': ' + exh_exhorto.id | string) %}
        {{ topbar.button_previous('Exhortos', url_for('exh_exhortos.list_active')) }}
        {% if current_user.can_edit('EXH EXHORTOS') %}
            {% if exh_exhorto.estado == "PENDIENTE" %}
                {{ topbar.button_edit('Editar', url_for('exh_exhortos.edit', exh_exhorto_id=exh_exhorto.id)) }}
            {% endif %}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS') %}
            {% if exh_exhorto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos.delete', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
            {% if exh_exhorto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos.recover', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card("Datos del exhorto", estatus=exh_exhorto.estatus) %}
        <div class="row">
            <div class="col-md-6">
                {{ detail.label_value('Exhorto Origen ID', exh_exhorto.exhorto_origen_id) }}
                {% if current_user.can_view('MUNICIPIOS') %}
                    {{ detail.label_value('Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre, url_for('municipios.detail', municipio_id=exh_exhorto.municipio_origen_id)) }}
                {% else %}
                    {{ detail.label_value('Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre) }}
                {% endif %}
                {{ detail.label_value('Juzgado Origen ID', exh_exhorto.juzgado_origen_id) }}
                {{ detail.label_value('Juzgado Origen', exh_exhorto.juzgado_origen_nombre) }}
                {{ detail.label_value('No. Expediente', exh_exhorto.numero_expediente_origen) }}
                {{ detail.label_value('No. Oficio', exh_exhorto.numero_oficio_origen) }}
                {{ detail.label_value('Tipo de Juicio', exh_exhorto.tipo_juicio_asunto_delitos) }}
                {{ detail.label_value('Juez Exhortante', exh_exhorto.juez_exhortante) }}
                {{ detail.label_value('Fojas', exh_exhorto.fojas) }}
                {{ detail.label_value('Días en responder', exh_exhorto.dias_responder) }}
                {{ detail.label_value('Tipo de diligenciación', exh_exhorto.tipo_diligenciacion_nombre) }}
                {{ detail.label_value('Fecha de origen', moment(exh_exhorto.fecha_origen).format('llll')) }}
                {{ detail.label_value('Observaciones', exh_exhorto.observaciones) }}
            </div>
            <div class="col-md-6">
                {{ detail.label_value('Materia clave', exh_exhorto.materia_clave) }}
                {{ detail.label_value('Materia nombre', exh_exhorto.materia_nombre) }}
                {% if municipio_destino %}
                    {% if current_user.can_view('MUNICIPIOS') %}
                        {{ detail.label_value('Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre, url_for('municipios.detail', municipio_id=municipio_destino.id)) }}
                    {% else %}
                        {{ detail.label_value('Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre) }}
                    {% endif %}
                {% else %}
                    {{ detail.label_value('Municipio Destino', 'NO DEFINIDO') }}
                {% endif %}
                {{ detail.label_value('Área', exh_exhorto.exh_area.clave + ' - ' + exh_exhorto.exh_area.nombre, url_for("exh_areas.detail", exh_area_id=exh_exhorto.exh_area.id)) }}
                {{ detail.label_value('Remitente', exh_exhorto.remitente) }}
                {{ detail.label_value('Autoridad', exh_exhorto.autoridad.clave + ' - ' + exh_exhorto.autoridad.descripcion_corta, url_for("autoridades.detail", autoridad_id=exh_exhorto.autoridad.id )) }}
                {{ detail.label_value('Número de Exhorto', exh_exhorto.numero_exhorto) }}
                <div class="row">
                    <div class="col-md-3 text-end">Estado</div>
                    <div class="col-md-9"><span id="titulo-estado"> {{ exh_exhorto.estado }}</span></div>
                </div>
                <hr />
                {% if exh_exhorto.acuse_fecha_hora_recepcion %}
                    {{ detail.button_md(label='Acuse de Recepción', url=url_for('exh_exhortos.acuse_reception', id_hashed=exh_exhorto.encode_id()), icon='mdi:printer', target='_blank', color_class='btn-outline-secondary') }}
                {% endif %}
                {% if exh_exhorto.respuesta_origen_id %}
                    {{ detail.button_md(label='Acuse de Respuesta', url=url_for('exh_exhortos.acuse_reponse', id_hashed=exh_exhorto.encode_id()), icon='mdi:printer', target='_blank', color_class='btn-outline-secondary') }}
                {% endif %}
            </div>
        </div>
        {% if exh_exhorto.estado != 'PENDIENTE' %}
        <!-- Se muestran las partes y archvios envíados como bullets -->
        <hr/>
        <div class="row">
            <div class="col-md-12">
            <h6>Partes</h6>
            <ul>
                {% for parte in partes %}
                    <li>{{ parte.nombre_completo }} | {% if parte.es_persona_moral %} ES PERSONA MORAL {% else %} {{ parte.genero_descripcion }} {% endif %} | {{ parte.tipo_parte_descripcion }}</li>
                {% endfor %}
            </ul>
        <hr />
            <h6>Archivos</h6>
            <ul>
                {% for archivo in archivos %}
                    <li>
                    <a href="{{ url_for('exh_exhortos_archivos.detail', exh_exhorto_archivo_id=archivo.id) }}">{{ archivo.nombre_archivo }}</a>
                    | {{ archivo.tipo_documento_nombre }}
                    | {% if archivo.estado == 'PENDIENTE' %}
                        <span class="badge rounded-pill bg-warning text-dark">{{ archivo.estado }}</span>
                    {% else %}
                        <span class="badge rounded-pill bg-primary">{{ archivo.estado }}</span>
                    {% endif %}
                    | {{ archivo.tamano }} Bytes</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        <hr/>
        <!-- Botones de acción en diferentes estados -->
        {% if exh_exhorto.estado == 'PENDIENTE' or exh_exhorto.estado == "POR ENVIAR" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-danger" href="javascript:void(0)" onclick="showModalcancelar_btn('{{url_for('exh_exhortos.cancel', exh_exhorto_id=exh_exhorto.id)}}', '¿Desea cancelar el exhorto?');">
                        <span class='iconify' data-icon='mdi:cancel'></span> Cancelar
                    </a>
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="showModalenviar_btn('{{url_for('exh_exhortos.send', exh_exhorto_id=exh_exhorto.id)}}', '¿Está seguro de enviar el exhorto? Porque una vez enviado ya no podrá ni editarlo ni cancelarlo.');">
                        <span class='iconify' data-icon='mdi:send'></span> Enviar
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "RECIBIDO CON EXITO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="showModalregresar_enviar_btn('{{url_for('exh_exhortos.get_from_externo', exh_exhorto_id=exh_exhorto.id)}}', '¿Quiere consultar desde el PJ?');">
                        <span class='iconify' data-icon='mdi:download'></span> Consultar
                    </a>
                </div>
                <div class="col-md-6 d-grid gap-2">
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "INTENTOS AGOTADOS" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="showModalregresar_enviar_btn('{{url_for('exh_exhortos.back_to_by_send', exh_exhorto_id=exh_exhorto.id)}}', '¿Está seguro de querer reiniciar los intentos de envío y regresar el exhorto al estado POR ENVIAR?');">
                        <span class='iconify' data-icon='mdi:refresh'></span> Reiniciar Intentos
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "RECHAZADO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-warning text-dark" href="javascript:void(0)" onclick="showModalregresar_pendiente_btn('{{url_for('exh_exhortos.back_to_pending', exh_exhorto_id=exh_exhorto.id)}}', '¿Está seguro de querer regresar el estado a PENDIENTE?');">
                        <span class='iconify' data-icon='mdi:refresh'></span> Regresar a Pendiente
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "RECIBIDO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="{{url_for('exh_exhortos.transfer', exh_exhorto_id=exh_exhorto.id)}}">
                        <span class='iconify' data-icon='mdi:swap-horizontal'></span> Transferir a Juzgado
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "TRANSFIRIENDO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-warning text-dark" href="{{url_for('exh_exhortos.process', exh_exhorto_id=exh_exhorto.id)}}">
                        <span class='iconify' data-icon='mdi:recycle'></span> Procesar
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "PROCESANDO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-danger" href="{{url_for('exh_exhortos.refuse', exh_exhorto_id=exh_exhorto.id)}}">
                        <span class='iconify' data-icon='mdi:hand-back-left'></span> Rechazar
                    </a>
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-primary" href="{{url_for('exh_exhortos.diligence', exh_exhorto_id=exh_exhorto.id)}}">
                        <span class='iconify' data-icon='mdi:truck-delivery'></span> Diligenciar
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado == "DILIGENCIADO" %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-success" href="{{url_for('exh_exhortos.response', exh_exhorto_id=exh_exhorto.id)}}">
                        <span class='iconify' data-icon='mdi:check-circle'></span> Contestar
                    </a>
                </div>
            </div>
        {% endif %}
        {% if exh_exhorto.estado in ("DILIGENCIADO", "RESPONDIDO") %}
            <div class="row text-center">
                <div class="col-md-6 d-grid gap-2">
                </div>
                <div class="col-md-6 d-grid gap-2">
                    <a class="btn btn-lg btn-secondary" href="javascript:void(0)" onclick="showModalarchivar_btn('{{url_for('exh_exhortos.archive', exh_exhorto_id=exh_exhorto.id)}}', '¿Está seguro de querer ARCHIVAR el exhorto?');">
                        <span class='iconify' data-icon='mdi:archive'></span> Archivar
                    </a>
                </div>
            </div>
        {% endif %}
    {% endcall %}
    <!-- Tabla de Partes -->
    {% if exh_exhorto.estado == 'PENDIENTE' %}
        {% call detail.card("Partes") %}
            <table id="exh_exhortos_partes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Género</th>
                        <th>Es Persona Moral</th>
                        <th>Tipo Parte</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado == 'PENDIENTE' %}
                {% if current_user.can_insert('EXH EXHORTOS PARTES') %}
                    <a class="btn btn-primary" href="{{url_for('exh_exhortos_partes.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id)}}">Agregar</a>
                {% endif %}
            {% endif %}
        {% endcall %}
        <!-- Tabla de Archivos -->
        {% call detail.card("Archivos") %}
            <table id="exh_exhortos_archivos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Descargar</th>
                        <th>Tipo Documento</th>
                        <th>Estado</th>
                        <th>Recepción</th>
                        <th>Tamaño</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado == 'PENDIENTE' %}
                {% if current_user.can_insert('EXH EXHORTOS ARCHIVOS') %}
                    <a class="btn btn-primary" href="{{url_for('exh_exhortos_archivos.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id, es_respuesta=0)}}">Agregar</a>
                {% endif %}
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- Archvivos de respuesta -->
    {% if exh_exhorto.estado in ('PROCESANDO', 'RESPONDIDO', 'ARCHIVADO') %}
        <div class="card bg-success mb-3">
            <div class="card-header text-light">Archivos de Respuesta</div>
            <div class="card-body bg-light">
                <table id="exh_exhortos_archivos_respuesta_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>Descargar</th>
                            <th>Tipo Documento</th>
                            <th>Estado</th>
                            <th>Recepción</th>
                            <th>Tamaño</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.estado in ('PROCESANDO')  %}
                    <a class="btn btn-success" href="{{url_for('exh_exhortos_archivos.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id, es_respuesta=1)}}">Agregar Archivo de Respuesta</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Archivos de respuesta como Videos -->
    {% if exh_exhorto.estado in ('DILIGENCIADO', 'CONTESTADO', 'PROCESANDO', 'RESPONDIDO', 'ARCHIVADO') %}
        <div class="card bg-primary mb-3">
            <div class="card-header text-light">Enlaces de Video</div>
            <div class="card-body bg-light">
                <table id="exh_exhortos_respuesta_videos_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.estado in ('DILIGENCIADO', 'PROCESANDO') and current_user.can_insert('EXH EXHORTOS VIDEOS')  %}
                    <a class="btn btn-primary" href="{{url_for('exh_exhortos_videos.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id)}}">Agregar Enlace de Video</a>
                {% endif %}
            </div>
        </div>
    <!-- Listado de Actualizaciones -->
        <div class="card bg-success mb-3">
            <div class="card-header text-light">Actualizaciones</div>
            <div class="card-body bg-light">
                <table id="exh_exhortos_actualizaciones_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Origen ID</th>
                            <th>Fecha / Hora</th>
                            <th>Remitente</th>
                            <th>Tipo Actualización</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.estado in ('DILIGENCIADO', 'PROCESANDO', 'RESPONDIDO') and current_user.can_insert('EXH EXHORTOS ACTUALIZACIONES')  %}
                    <a class="btn btn-success" href="{{url_for('exh_exhortos_actualizaciones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id)}}">Agregar Actualización</a>
                {% endif %}
            </div>
        </div>
    <!-- Listado de Promociones -->
        <div class="card bg-primary mb-3">
            <div class="card-header text-light">Promociones</div>
            <div class="card-body bg-light">
                <table id="exh_exhortos_promociones_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Folio Origen</th>
                            <th>Fecha Origen</th>
                            <th>Remitente</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.estado in ('DILIGENCIADO', 'PROCESANDO', 'RESPONDIDO') and current_user.can_insert('EXH EXHORTOS ACTUALIZACIONES')  %}
                    <a class="btn btn-primary" href="{{url_for('exh_exhortos_promociones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id)}}">Agregar Promoción</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('EXH EXHORTOS') %}
        {{ modals.custom_javascript('Consultar', '', 'GetFromExterno') }}
        {{ modals.custom_javascript('Enviar', '', 'SendToExterno') }}
        {% if exh_exhorto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar este exhorto?') }}{% endif %}
        {% if exh_exhorto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar este exhorto?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Tabla de Partes -->
    <script>
        // DataTable Partes
        let configDTPartes = constructorDataTable.config();
        configDTPartes['ajax']['url'] = '/exh_exhortos_partes/datatable_json';
        configDTPartes['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTPartes['columns'] = [
            { data: 'detalle' },
            { data: 'genero' },
            { data: 'es_persona_moral' },
            { data: 'tipo_parte' },
        ];
        configDTPartes['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // genero
                data: null,
                render: function(data, type, row, meta) {
                    switch (data) {
                        case "M": return "<span title='Masculino'>M <span class='iconify' data-icon='mdi:gender-male'></span></span>";
                        case "F": return "<span title='Femenino'>F <span class='iconify' data-icon='mdi:gender-female'></span></span>";
                    }
                    return "-";
                }
            },
            {
                targets: 2, // es_persona_moral
                data: null,
                render: function(data, type, row, meta) {
                    if (data == true) {
                        return "SÍ";
                    }
                    return "-";
                }
            }
        ];
        // Filtros Exhortos Partes
        const filtrosPartes = new FiltrosDataTable('#exh_exhortos_partes_datatable', configDTPartes);
        filtrosPartes.precargar();
    </script>
    <!-- Tabla de Archivos -->
    <script>
        // DataTable Archivos
        let configDTArchivos = constructorDataTable.config();
        configDTArchivos['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTArchivos['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}, "es_respuesta":false};
        configDTArchivos['columns'] = [
            { data: 'detalle' },
            { data: 'descargar_pdf' },
            { data: 'tipo_documento_nombre' },
            { data: 'estado' },
            { data: 'fecha_hora_recepcion' },
            { data: 'tamano' }
        ];
        configDTArchivos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                    } else {
                        return data.nombre_archivo;
                    }
                }
            },
            {
                targets: 1, // descargar_pdf
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '" download="' + data.nombre_archivo + '"><span class="iconify" data-icon="mdi:file-pdf-box" style="font-size:2.0rem"></span></a>';
                }
            }
        ];
        // Filtros Exhortos Archivos
        const filtrosArchivos = new FiltrosDataTable('#exh_exhortos_archivos_datatable', configDTArchivos);
        filtrosArchivos.precargar();
    </script>
    <!-- Tabla de Videos -->
    <script>
        // DataTable Videos
        let configDTVideos = constructorDataTable.config();
        configDTVideos['ajax']['url'] = '/exh_exhortos_videos/datatable_json';
        configDTVideos['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTVideos['columns'] = [
            { data: 'detalle' },
            { data: 'descripcion' },
        ];
        configDTVideos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.titulo + '</a>';
                    } else {
                        return data.titulo;
                    }
                }
            }
        ];
        // Filtros Exhortos Videos
        const filtrosVideos = new FiltrosDataTable('#exh_exhortos_respuesta_videos_datatable', configDTVideos);
        filtrosVideos.precargar();
    </script>
    <!-- Tabla Archivos de respuesta -->
    <script>
        // DataTable Archivos
        let configDTArchivosRespuesta = constructorDataTable.config();
        configDTArchivosRespuesta['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTArchivosRespuesta['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}, "es_respuesta":true};
        configDTArchivosRespuesta['columns'] = [
            { data: 'detalle' },
            { data: 'descargar_pdf' },
            { data: 'tipo_documento_nombre' },
            { data: 'estado' },
            { data: 'fecha_hora_recepcion' },
            { data: 'tamano' }
        ];
        configDTArchivosRespuesta['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                    } else {
                        return data.nombre_archivo;
                    }
                }
            },
            {
                targets: 1, // descargar_pdf
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '" download="' + data.nombre_archivo + '"><span class="iconify" data-icon="mdi:file-pdf-box" style="font-size:2.0rem"></span></a>';
                }
            }
        ];
        // Filtros Exhortos Archivos
        const filtrosArchivosRespuesta = new FiltrosDataTable('#exh_exhortos_archivos_respuesta_datatable', configDTArchivosRespuesta);
        filtrosArchivosRespuesta.precargar();
    </script>
    {% if exh_exhorto.estado in ('DILIGENCIADO', 'CONTESTADO', 'PROCESANDO', 'RESPONDIDO', 'ARCHIVADO') %}
    <!-- Tabla de Actualizaciones -->
    <script>
        let configDTActualizaciones = constructorDataTable.config();
        configDTActualizaciones['ajax']['url'] = '/exh_exhortos_actualizaciones/datatable_json';
        configDTActualizaciones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTActualizaciones['columns'] = [
            { data: 'origen_id' },
            { data: 'fecha_hora' },
            { data: 'remitente' },
            { data: 'tipo_actualizacion' },
            { data: 'descripcion' }
        ];
        configDTActualizaciones['columnDefs'] = [
            {
                targets: 0, // origen_id
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.origen_id + '</a>';
                }
            }
        ];
        // Filtros Exhortos Actualizaciones
        const filtrosActualizaciones = new FiltrosDataTable('#exh_exhortos_actualizaciones_datatable', configDTActualizaciones);
        filtrosActualizaciones.precargar();
    </script>
    <!-- Tabla de Promociones -->
    <script>
        let configDTPromociones = constructorDataTable.config();
        configDTPromociones['ajax']['url'] = '/exh_exhortos_promociones/datatable_json';
        configDTPromociones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTPromociones['columns'] = [
            { data: 'folio_origen_promocion' },
            { data: 'fecha_origen' },
            { data: 'remitente' },
            { data: 'estado' },
            { data: 'observaciones' }
        ];
        configDTPromociones['columnDefs'] = [
            {
                targets: 0, // folio_origen_promocion
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.folio + '</a>';
                }
            },
            {
                targets: 3, // estado
                data: null,
                render: function(data, type, row, meta) {
                    switch(data) {
                        case "PENDIENTE": bgcolor = 'bg-warning text-dark';     icon="note-edit"; break;
                        case "ENVIADO":   bgcolor = 'bg-success';               icon="send";      break;
                    }
                    return '<span class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="mdi:' + icon + '"></span> ' + data + '</span>';
                }
            }
        ];
        // Filtros Exhortos Promociones
        const filtrosPromociones = new FiltrosDataTable('#exh_exhortos_promociones_datatable', configDTPromociones);
        filtrosPromociones.precargar();
    </script>
    {% endif %}
    <!-- Renderizar el campo estado con colores e iconos -->
    <script>
        let titulo_estado = document.getElementById("titulo-estado")
        const valor = "{{ exh_exhorto.estado }}";
        let bgcolor = "bg-dark";
        let icon = "circle-small";
        switch (valor)    {
            case "RECIBIDO":        bgcolor = 'bg-primary';             icon="inbox-arrow-down";    break;
            case "TRANSFIRIENDO":   bgcolor = 'bg-primary';             icon="email-arrow-right";   break;
            case "PROCESANDO":      bgcolor = 'bg-warning text-dark';   icon="sync";                break;
            case "RECHAZADO":       bgcolor = "bg-danger";              icon="hand-back-left";      break;
            case "DILIGENCIADO":    bgcolor = "bg-primary";             icon="truck-delivery";      break;
            case "CONTESTADO":      bgcolor = "bg-success";             icon="check-circle";        break;
            case "PENDIENTE":       bgcolor = 'bg-warning text-dark';   icon="note-edit";           break;
            case "CANCELADO":       bgcolor = "bg-secondary";           icon="close-circle";        break;
            case "POR ENVIAR":      bgcolor = 'bg-warning text-dark';   icon="package-up";          break;
            case "INTENTOS AGOTADOS": bgcolor = 'bg-danger';            icon="alert-decagram";      break;
            case "RECIBIDO CON EXITO": bgcolor = 'bg-primary';          icon="briefcase-check";     break;
            case "NO FUE RESPONDIDO": bgcolor = 'bg-danger';            icon="cancel";              break;
            case "RESPONDIDO":      bgcolor = 'bg-success';             icon="crown-circle";        break;
            case "ARCHIVADO":       bgcolor = 'bg-secondary';           icon="archive";             break;
        }
        html = '<span class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="mdi:' + icon + '"></span> ' + valor + '</span>';
        titulo_estado.innerHTML = html;
    </script>
    <!-- Botones de acción en diferentes estados -->
    {% if exh_exhorto.estado == 'PENDIENTE' or exh_exhorto.estado == 'POR ENVIAR' %}
        {{ modals.custom_javascript('Cancelar', '¿Desear cancelar el exhorto?', "cancelar_btn") }}
        {{ modals.custom_javascript('Enviar', '¿Está seguro de enviar el exhorto? Porque una vez enviado ya no podrá ni editarlo ni cancelarlo.', "enviar_btn") }}
    {% endif %}
    {% if exh_exhorto.estado == 'INTENTOS AGOTADOS' %}
        {{ modals.custom_javascript('Reiniciar Intentos', '¿Está seguro de querer reiniciar los intentos de envío y regresar el exhorto al estado POR ENVIAR?', "regresar_enviar_btn") }}
    {% endif %}
    {% if exh_exhorto.estado == 'RECHAZADO' %}
        {{ modals.custom_javascript('Regresar a Pendiente', '¿Está seguro de querer regresar el estado a PENDIENTE?', "regresar_pendiente_btn") }}
    {% endif %}
    {% if exh_exhorto.estado == 'RECIBIDO' %}
        {{ modals.custom_javascript('Transferir', '', "transferir_btn") }}
    {% endif %}
    {% if exh_exhorto.estado == 'RESPONDIDO' or exh_exhorto.estado == 'DILIGENCIADO' %}
        {{ modals.custom_javascript('Archivar', '¿Está seguro de querer ARCHIVAR el exhorto?', "archivar_btn") }}
    {% endif %}
{% endblock %}
