{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Exhorto {{ exh_exhorto.exhorto_origen_id }} para {{municipio_destino.estado.nombre}}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Exhorto ' + exh_exhorto.exhorto_origen_id + ' para ' + municipio_destino.estado.nombre) %}
        {{ topbar.button_previous('Exhortos', url_for('exh_exhortos.list_active')) }}
        {% if current_user.can_edit('EXH EXHORTOS') %}
            {% if exh_exhorto.estado == "PENDIENTE" %}
                {{ topbar.button_edit('Editar', url_for('exh_exhortos.edit', exh_exhorto_id=exh_exhorto.id)) }}
            {% endif %}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS') %}
            {% if exh_exhorto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos.delete', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
            {% if exh_exhorto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos.recover', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card("Exhorto") %}
        <div class="row">
            <div class="col-md-6">
                {% if current_user.can_view('MUNICIPIOS') %}
                    {{ detail.label_value('Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre, url_for('municipios.detail', municipio_id=exh_exhorto.municipio_origen_id)) }}
                {% else %}
                    {{ detail.label_value('Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre) }}
                {% endif %}
                {{ detail.label_value('Exhorto Origen ID', exh_exhorto.exhorto_origen_id) }}
                {{ detail.label_value('Juzgado Origen ID', exh_exhorto.juzgado_origen_id) }}
                {{ detail.label_value('Juzgado Origen', exh_exhorto.juzgado_origen_nombre) }}
                {{ detail.label_value('No. Expediente', exh_exhorto.numero_expediente_origen) }}
                {{ detail.label_value('No. Oficio', exh_exhorto.numero_oficio_origen) }}
                {{ detail.label_value('Tipo de Juicio', exh_exhorto.tipo_juicio_asunto_delitos) }}
                {{ detail.label_value('Juez Exhortante', exh_exhorto.juez_exhortante) }}
                {{ detail.label_value('Fojas', exh_exhorto.fojas) }}
                {{ detail.label_value('Días en responder', exh_exhorto.dias_responder) }}
                {{ detail.label_value('Tipo de diligenciación', exh_exhorto.tipo_diligenciacion_nombre) }}
                {{ detail.label_value('Fecha de origen', moment(exh_exhorto.fecha_origen).format('llll')) }}
                {{ detail.label_value('Observaciones', exh_exhorto.observaciones) }}
            </div>
            <div class="col-md-6">
                {% if municipio_destino %}
                    {% if current_user.can_view('MUNICIPIOS') %}
                        {{ detail.label_value('Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre, url_for('municipios.detail', municipio_id=municipio_destino.id)) }}
                    {% else %}
                        {{ detail.label_value('Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre) }}
                    {% endif %}
                {% else %}
                    {{ detail.label_value('Municipio Destino', 'NO DEFINIDO') }}
                {% endif %}
                {{ detail.label_value('Materia clave', exh_exhorto.materia_clave) }}
                {{ detail.label_value('Materia nombre', exh_exhorto.materia_nombre) }}
                {{ detail.label_value('Área', exh_exhorto.exh_area.clave + ' - ' + exh_exhorto.exh_area.nombre) }}
                {{ detail.label_value('Remitente', exh_exhorto.remitente) }}
                {{ detail.label_value('Autoridad', exh_exhorto.autoridad.clave + ' - ' + exh_exhorto.autoridad.descripcion_corta) }}
                {{ detail.label_value('Número de Exhorto', exh_exhorto.numero_exhorto) }}
                <div class="row">
                    <div class="col-md-3 text-end">Estado</div>
                    <div class="col-md-9"><span id="titulo-estado">{{ exh_exhorto.estado }}</span></div>
                </div>
                {{ detail.label_value('Folio de Seguimiento', exh_exhorto.folio_seguimiento) }}
                <hr>
                {% if exh_exhorto.estado != 'PENDIENTE' %}
                    <!-- Listado de partes -->
                    <div class="row">
                        <div class="col-md-3 text-end">
                            Partes
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled">
                                {% for parte in exh_exhorto.exh_exhortos_partes %}
                                    <li>{{ parte.nombre_completo }} | {% if parte.es_persona_moral %} ES PERSONA MORAL {% else %} {{ parte.genero_descripcion }} {% endif %} | {{ parte.tipo_parte_descripcion }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Listado de archivos -->
                    <div class="row">
                        <div class="col-md-3 text-end">
                            Archivos
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled">
                                {% for archivo in exh_exhorto.exh_exhortos_archivos %}
                                    <li>
                                    <a href="{{ url_for('exh_exhortos_archivos.detail', exh_exhorto_archivo_id=archivo.id) }}">{{ archivo.nombre_archivo }}</a>
                                    | {{ archivo.tipo_documento_nombre }}
                                    | {% if archivo.estado == 'PENDIENTE' %}
                                        <span class="badge rounded-pill bg-warning text-dark">{{ archivo.estado }}</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-primary">{{ archivo.estado }}</span>
                                    {% endif %}
                                    | {{ archivo.tamano }} Bytes</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if exh_exhorto.acuse_fecha_hora_recepcion %}
                    <hr>
                    <!-- Botón Acuse de Recepción -->
                    {{ detail.button_md(
                        label='Acuse de Recepción',
                        url=url_for('exh_exhortos.acuse_reception', id_hashed=exh_exhorto.encode_id()),
                        icon='mdi:printer',
                        target='_blank',
                        color_class='btn-outline-secondary') }}
                {% endif %}
            </div>
        </div>
        <hr/>
        {% if current_user.can_insert('EXH EXHORTOS') %}
            <!-- Botones Cancelar y Enviar -->
            {% if exh_exhorto.estado == 'PENDIENTE' or exh_exhorto.estado == "POR ENVIAR" %}
                <div class="row">
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Cancelar",
                            onclick="showModalCancelarBtn('" + url_for('exh_exhortos.change_to_cancel', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de CANCELAR este exhorto?');",
                            icon='mdi:cancel',
                            color_class='btn-secondary') }}
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Enviar",
                            onclick="showModalEnviarBtn('" + url_for('exh_exhortos.launch_task_send', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de ENVIAR este exhorto? Una vez enviado ya no podrá ni editarlo ni cancelarlo.');",
                            icon='mdi:send',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botón Consultar -->
            {% if exh_exhorto.estado == "RECIBIDO CON EXITO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Consultar",
                            onclick="showModalConsultarBtn('" + url_for('exh_exhortos.launch_task_query', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de CONSULTAR este exhorto?');",
                            icon='mdi:download',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botón Regresar a Pendiente -->
            {% if exh_exhorto.estado == "RECHAZADO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Regresar a Pendiente",
                            onclick=url_for('exh_exhortos.change_to_pending', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:back',
                            color_class='btn-warning') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botón Transferir a Juzgado -->
            {% if exh_exhorto.estado == "RECIBIDO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Transferir a Juzgado",
                            url=url_for('exh_exhortos.change_to_transfer', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:swap-horizontal',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botón Procesar -->
            {% if exh_exhorto.estado == "TRANSFIRIENDO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Procesar",
                            url=url_for('exh_exhortos.change_to_process', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:recycle',
                            color_class='btn-warning') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones Rechazar y Diligenciar -->
            {% if exh_exhorto.estado == "PROCESANDO" %}
                <div class="row">
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Rechazar",
                            url=url_for('exh_exhortos.change_to_refuse', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:hand-back-left',
                            color_class='btn-danger') }}
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            {% endif %}
            <!-- Botón Archivar -->
            {% if exh_exhorto.estado in ("CONTESTADO", "RESPONDIDO") %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Archivar",
                            onclick="showModalArchivarBtn('" + url_for('exh_exhortos.change_to_archive', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de ARCHIVAR este exhorto?');",
                            icon='mdi:archive',
                            color_class='btn-secondary') }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endcall %}
    <!-- En estado PENDIENTE se muestran los DataTables de partes y archivos -->
    {% if exh_exhorto.estado == 'PENDIENTE' %}
        <!-- DataTable exh_exhortos_partes -->
        {% call detail.card("Partes") %}
            <table id="exh_exhortos_partes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Género</th>
                        <th>Es Persona Moral</th>
                        <th>Tipo Parte</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado == 'PENDIENTE' and current_user.can_insert('EXH EXHORTOS PARTES') %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_partes.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Parte</a>
            {% endif %}
        {% endcall %}
        <!-- DataTable exh_exhortos_archivos -->
        {% call detail.card("Archivos") %}
            <table id="exh_exhortos_archivos_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Descargar</th>
                        <th>Tipo Documento</th>
                        <th>Tamaño</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado == 'PENDIENTE' and current_user.can_insert('EXH EXHORTOS ARCHIVOS') %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_archivos.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Archivo</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- DataTable exh_exhortos_respuestas -->
    {% if exh_exhorto.estado in ('PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') %}
        {% call detail.card("Respuestas") %}
            <table id="exh_exhortos_respuestas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Exhorto</th>
                        <th>Fecha hora recepción</th>
                        <th>Remitente</th>
                        <th>Municipio turnado ID</th>
                        <th>Área turnada ID</th>
                        <th>Área turnada nombre</th>
                        <th>No. exhorto</th>
                        <th>Tipo diligenciado</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS RESPUESTAS') %}
                <a class="btn btn-success" href="{{ url_for('exh_exhortos_respuestas.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Respuesta</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- DataTable exh_exhortos_actualizaciones -->
    {% if exh_exhorto.estado in ('RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') %}
        {% call detail.card("Actualizaciones") %}
            <table id="exh_exhortos_actualizaciones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Origen ID</th>
                        <th>Fecha y Hora</th>
                        <th>Tipo de Actualización</th>
                        <th>Remitente</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS ACTUALIZACIONES')  %}
                <a class="btn btn-warning text-dark" href="{{ url_for('exh_exhortos_actualizaciones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Actualización</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- DataTable de exh_exhortos_promociones -->
    {% if exh_exhorto.estado in ('RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') %}
        {% call detail.card("Promociones") %}
            <table id="exh_exhortos_promociones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Folio Origen</th>
                        <th>Fecha Origen</th>
                        <th>Remitente</th>
                        <th>Estado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS PROMOCIONES')  %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_promociones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Promoción</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Modales para los botones de acción -->
    {% if current_user.can_insert('EXH EXHORTOS') %}
        {{ modals.custom_javascript('Consultar', '', 'GetFromExterno') }}
        {{ modals.custom_javascript('Enviar', '', 'SendToExterno') }}
        {% if exh_exhorto.estado == 'PENDIENTE' or exh_exhorto.estado == 'POR ENVIAR' %}
            {{ modals.custom_javascript('Cancelar en Exhorto', '', "CancelarBtn") }}
            {{ modals.custom_javascript('Enviar al PJ', '', "EnviarBtn") }}
        {% endif %}
        {% if exh_exhorto.estado == 'RECIBIDO CON EXITO' %}
            {{ modals.custom_javascript('Consultar con el PJ', '', "ConsultarBtn") }}
        {% endif %}
        {% if exh_exhorto.estado == 'RESPONDIDO' or exh_exhorto.estado == 'CONTESTADO' %}
            {{ modals.custom_javascript('Archivar', '', "ArchivarBtn") }}
        {% endif %}
    {% endif %}
    <!-- Modales para eliminar y recuperar -->
    {% if current_user.can_admin('EXH EXHORTOS') %}
        {% if exh_exhorto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar este exhorto?') }}{% endif %}
        {% if exh_exhorto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar este exhorto?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <script>
        // DataTable exh_exhortos_partes
        let configDTPartes = constructorDataTable.config();
        configDTPartes['ajax']['url'] = '/exh_exhortos_partes/datatable_json';
        configDTPartes['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTPartes['columns'] = [
            { data: 'detalle' },
            { data: 'genero' },
            { data: 'es_persona_moral' },
            { data: 'tipo_parte' }
        ];
        configDTPartes['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // genero
                data: null,
                render: function(data, type, row, meta) {
                    switch (data) {
                        case "M": return "<span title='Masculino'>M <span class='iconify' data-icon='mdi:gender-male'></span></span>";
                        case "F": return "<span title='Femenino'>F <span class='iconify' data-icon='mdi:gender-female'></span></span>";
                    }
                    return "-";
                }
            },
            {
                targets: 2, // es_persona_moral
                data: null,
                render: function(data, type, row, meta) {
                    if (data == true) {
                        return "SÍ";
                    }
                    return "-";
                }
            }
        ];
        // Filtros exh_exhortos_partes
        const filtrosPartes = new FiltrosDataTable('#exh_exhortos_partes_datatable', configDTPartes);
        filtrosPartes.precargar();
    </script>
    <script>
        // DataTable exh_exhortos_archivos
        let configDTArchivos = constructorDataTable.config();
        configDTArchivos['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTArchivos['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTArchivos['columns'] = [
            { data: 'detalle' },
            { data: 'descargar_pdf' },
            { data: 'tipo_documento_nombre' },
            { data: 'tamano' },
            { data: 'estado' }
        ];
        configDTArchivos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                    } else {
                        return data.nombre_archivo;
                    }
                }
            },
            {
                targets: 1, // descargar_pdf
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '" download="' + data.nombre_archivo + '"><span class="iconify" data-icon="mdi:file-pdf-box" style="font-size:2.0rem"></span></a>';
                }
            }
        ];
        // Filtros exh_exhortos_archivos
        const filtrosArchivos = new FiltrosDataTable('#exh_exhortos_archivos_datatable', configDTArchivos);
        filtrosArchivos.precargar();
    </script>
    <script>
        // DataTable exh_exhortos_respuestas
        let configDTRespuestas = constructorDataTable.config();
        configDTRespuestas['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTRespuestas['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTRespuestas['columns'] = [
            { data: 'detalle' },
            { data: 'exh_exhorto' },
            { data: 'fecha_hora_recepcion' },
            { data: 'remitente' },
            { data: 'municipio_turnado_id' },
            { data: 'area_turnado_id' },
            { data: 'area_turnado_nombre' },
            { data: 'numero_exhorto' },
            { data: 'tipo_diligenciado' },
            { data: 'estado' }
        ];
        configDTRespuestas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            }
        ];
        // Filtros exh_exhortos_respuestas
        const filtrosArchivosRespuesta = new FiltrosDataTable('#exh_exhortos_respuestas_datatable', configDTRespuestas);
        filtrosArchivosRespuesta.precargar();
    </script>
    {% if exh_exhorto.estado in ('CONTESTADO', 'PROCESANDO', 'RESPONDIDO', 'ARCHIVADO') %}
    <script>
        // DataTable exh_exhortos_actualizaciones
        let configDTActualizaciones = constructorDataTable.config();
        configDTActualizaciones['ajax']['url'] = '/exh_exhortos_actualizaciones/datatable_json';
        configDTActualizaciones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTActualizaciones['columns'] = [
            { data: 'detalle' },
            { data: 'origen_id' },
            { data: 'fecha_hora' },
            { data: 'tipo_actualizacion' },
            { data: 'remitente' },
            { data: 'descripcion' },
            { data: 'estado' }
        ];
        configDTActualizaciones['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            }
        ];
        // Filtros exh_exhortos_actualizaciones
        const filtrosActualizaciones = new FiltrosDataTable('#exh_exhortos_actualizaciones_datatable', configDTActualizaciones);
        filtrosActualizaciones.precargar();
    </script>
    <script>
        // DataTable exh_exhortos_promociones
        let configDTPromociones = constructorDataTable.config();
        configDTPromociones['ajax']['url'] = '/exh_exhortos_promociones/datatable_json';
        configDTPromociones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTPromociones['columns'] = [
            { data: 'detalle' },
            { data: 'folio_origen_promocion' },
            { data: 'fecha_origen' },
            { data: 'remitente' },
            { data: 'estado' }
        ];
        configDTPromociones['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 4, // estado
                data: null,
                render: function(data, type, row, meta) {
                    switch(data) {
                        case "CANCELADO": bgcolor = 'bg-danger';            icon="send";      break;
                        case "ENVIADO":   bgcolor = 'bg-success';           icon="send";      break;
                        case "PENDIENTE": bgcolor = 'bg-warning text-dark'; icon="note-edit"; break;
                    }
                    return '<span class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="mdi:' + icon + '"></span> ' + data + '</span>';
                }
            }
        ];
        // Filtros exh_exhortos_promociones
        const filtrosPromociones = new FiltrosDataTable('#exh_exhortos_promociones_datatable', configDTPromociones);
        filtrosPromociones.precargar();
    </script>
    {% endif %}
    <!-- Renderizar el campo estado con colores e iconos -->
    <script>
        let titulo_estado = document.getElementById("titulo-estado")
        const valor = "{{ exh_exhorto.estado }}";
        let bgcolor = "bg-dark";
        let icon = "circle-small";
        switch (valor)    {
            case "RECIBIDO":           bgcolor = 'bg-primary';           icon="inbox-arrow-down";  break;
            case "TRANSFIRIENDO":      bgcolor = 'bg-primary';           icon="email-arrow-right"; break;
            case "PROCESANDO":         bgcolor = 'bg-warning text-dark'; icon="sync";              break;
            case "RECHAZADO":          bgcolor = "bg-danger";            icon="hand-back-left";    break;
            case "CONTESTADO":         bgcolor = "bg-success";           icon="check-circle";      break;
            case "PENDIENTE":          bgcolor = 'bg-warning text-dark'; icon="note-edit";         break;
            case "CANCELADO":          bgcolor = "bg-secondary";         icon="close-circle";      break;
            case "POR ENVIAR":         bgcolor = 'bg-warning text-dark'; icon="package-up";        break;
            case "INTENTOS AGOTADOS":  bgcolor = 'bg-danger';            icon="alert-decagram";    break;
            case "RECIBIDO CON EXITO": bgcolor = 'bg-primary';           icon="briefcase-check";   break;
            case "NO FUE RESPONDIDO":  bgcolor = 'bg-danger';            icon="cancel";            break;
            case "RESPONDIDO":         bgcolor = 'bg-success';           icon="crown-circle";      break;
            case "ARCHIVADO":          bgcolor = 'bg-secondary';         icon="archive";           break;
        }
        html = '<span class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="mdi:' + icon + '"></span> ' + valor + '</span>';
        titulo_estado.innerHTML = html;
    </script>
{% endblock %}
