{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Exhorto {{ exh_exhorto.exhorto_origen_id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Exhorto ' + exh_exhorto.exhorto_origen_id) %}
        {{ topbar.button_previous('Exhortos', url_for('exh_exhortos.list_active')) }}
        {% if current_user.can_edit('EXH EXHORTOS') %}
            {% if exh_exhorto.estado == "PENDIENTE" %}
                {{ topbar.button_edit('Editar', url_for('exh_exhortos.edit', exh_exhorto_id=exh_exhorto.id)) }}
            {% endif %}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS') %}
            {% if exh_exhorto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos.delete', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
            {% if exh_exhorto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos.recover', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card("Exhorto") %}
        <div class="row">
            <div class="col-md-6">
                <!-- Datos de Origen -->
                {{ detail.label_value('Exhorto Origen ID', exh_exhorto.exhorto_origen_id) }}
                {{ detail.label_value_big('Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre, font_size=1.5) }}
                {{ detail.label_value('Juzgado Origen ID', exh_exhorto.juzgado_origen_id) }}
                {{ detail.label_value('Juzgado Origen', exh_exhorto.juzgado_origen_nombre) }}
                {{ detail.label_value('No. Expediente', exh_exhorto.numero_expediente_origen) }}
                {{ detail.label_value('No. Oficio', exh_exhorto.numero_oficio_origen) }}
                {{ detail.label_value('Tipo de Juicio', exh_exhorto.tipo_juicio_asunto_delitos) }}
                {{ detail.label_value('Juez Exhortante', exh_exhorto.juez_exhortante) }}
                {{ detail.label_value('Fojas', exh_exhorto.fojas) }}
                {{ detail.label_value('Días en responder', exh_exhorto.dias_responder) }}
                {% if exh_exhorto.estado != 'PENDIENTE' %}
                    <!-- Listado de partes -->
                    <div class="row">
                        <div class="col-md-3 text-end">
                            Partes
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled my-0">
                                {% for parte in exh_exhorto.exh_exhortos_partes %}
                                    <li>
                                        <a href="{{ url_for('exh_exhortos_partes.detail', exh_exhorto_parte_id=parte.id) }}">{{ parte.nombre_completo }}</a> |
                                        {{ parte.genero_descripcion }} |
                                        {{ parte.tipo_parte_descripcion }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Listado de archivos -->
                    <div class="row">
                        <div class="col-md-3 text-end">
                            Archivos
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled my-0">
                                {% for archivo in exh_exhorto.exh_exhortos_archivos %}
                                    <li>
                                        <a href="{{ url_for('exh_exhortos_archivos.detail', exh_exhorto_archivo_id=archivo.id) }}">{{ archivo.nombre_archivo }}</a> |
                                        {{ archivo.tipo_documento_descripcion }} |
                                        {{ archivo.estado }} |
                                        {{ archivo.tamano }} b
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Listado de promoventes -->
                    <div class="row">
                        <div class="col-md-3 text-end">
                            Promoventes
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled my-0">
                                {% for promovente in exh_exhorto.exh_exhortos_promoventes %}
                                    <li>
                                        <a href="{{ url_for('exh_exhortos_promoventes.detail', exh_exhorto_promovente_id=promovente.id) }}">{{ promovente.nombre_completo }}</a> |
                                        {{ promovente.genero_descripcion }} |
                                        {{ promovente.tipo_parte_descripcion }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <!-- Datos de Destino -->
                {{ detail.label_value('Folio de Seguimiento', exh_exhorto.folio_seguimiento) }}
                {{ detail.label_value_big('Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre, font_size=1.5) }}
                {{ detail.label_value('Materia', exh_exhorto.materia_nombre + ' (' + exh_exhorto.materia_clave + ')') }}
                {{ detail.label_value('Tipo de diligenciación', exh_exhorto.tipo_diligenciacion_nombre + ' (' + exh_exhorto.tipo_diligencia_id + ')') }}
                {{ detail.label_value('Fecha de origen', moment(exh_exhorto.fecha_origen).format('llll')) }}
                {{ detail.label_value('Observaciones', exh_exhorto.observaciones) }}
                <hr>
                <!-- Remitente, Área, Autoridad, Número de Exhorto y Estado -->
                {{ detail.label_value_big('Remitente', exh_exhorto.remitente, font_size=1.5) }}
                {{ detail.label_value('Área', exh_exhorto.exh_area.nombre + ' (' + exh_exhorto.exh_area.clave + ')') }}
                {{ detail.label_value('Autoridad', exh_exhorto.autoridad.descripcion_corta + ' (' + exh_exhorto.autoridad.clave + ')') }}
                {{ detail.label_value('Número de Exhorto', exh_exhorto.numero_exhorto) }}
                <div class="row">
                    <div class="col-md-3 text-end">Estado</div>
                    <div class="col-md-9"><span id="titulo-estado">{{ exh_exhorto.estado }}</span></div>
                </div>
                <!-- Botón Acuse de Recepción -->
                {% if exh_exhorto.acuse_fecha_hora_recepcion %}
                    <hr>
                    {{ detail.button_md(
                        label='Acuse de Recepción',
                        url=url_for('exh_exhortos.acuse_reception', id_hashed=exh_exhorto.encode_id()),
                        icon='mdi:printer',
                        target='_blank',
                        color_class='btn-outline-secondary') }}
                {% endif %}
            </div>
        </div>
        {% if current_user.can_insert('EXH EXHORTOS') %}
            <hr>
            <!-- Botones de acciones "Cancelar" -->
            {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == 'PENDIENTE' %}
                <div class="row">
                    <div class="col-md-3">
                        {{ detail.button_lg_modal(
                            label="Cancelar",
                            onclick="showModalCancelarBtn('" + url_for('exh_exhortos.change_to_cancel', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de CANCELAR este exhorto?');",
                            icon='mdi:cancel',
                            color_class='btn-secondary') }}
                    </div>
                    <div class="col-md-9">
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Cancelar", "Editar" y "Por Enviar" -->
            {% if exh_exhorto.remitente == "INTERNO" and exh_exhorto.estado == 'PENDIENTE' %}
                <div class="row">
                    <div class="col-md-3">
                        {{ detail.button_lg_modal(
                            label="Cancelar",
                            onclick="showModalCancelarBtn('" + url_for('exh_exhortos.change_to_cancel', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de CANCELAR este exhorto?');",
                            icon='mdi:cancel',
                            color_class='btn-secondary') }}
                    </div>
                    <div class="col-md-3">
                        {{ detail.button_lg(
                            label="Editar",
                            url=url_for('exh_exhortos.edit', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:edit',
                            color_class='btn-info') }}
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Por Enviar",
                            onclick="showModalPorEnviarBtn('" + url_for('exh_exhortos.change_to_send', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de cambiar a POR ENVIAR este exhorto? Una vez cambiado ya no podrá editarlo.');",
                            icon='mdi:package-variant-closed',
                            color_class='btn-warning') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Regresar a Pendiente" y "Enviar" -->
            {% if exh_exhorto.remitente == "INTERNO" and (exh_exhorto.estado == "POR ENVIAR" or exh_exhorto.estado == "RECHAZADO") %}
                <div class="row">
                    <div class="col-md-3">
                        {{ detail.button_lg_modal(
                            label="Regresar a Pendiente",
                            onclick="showModalPendienteBtn('" + url_for('exh_exhortos.change_to_pending', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de cambiar a PENDIENTE este exhorto?');",
                            icon='mdi:note-edit',
                            color_class='btn-warning') }}
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Enviar",
                            onclick="showModalEnviarBtn('" + url_for('exh_exhortos.launch_task_send', exh_exhorto_id=exh_exhorto.id) + "', '<strong>¿Está seguro de ENVIAR este exhorto?</strong> Porque una vez enviado ya <strong>NO HAY FORMA</strong> de regresarlo.');",
                            icon='mdi:send',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Regresar a Pendiente" -->
            {% if exh_exhorto.estado == 'CANCELADO' %}
                <div class="row">
                    <div class="col-md-3">
                        {{ detail.button_lg_modal(
                            label="Regresar a Pendiente",
                            onclick="showModalPendienteBtn('" + url_for('exh_exhortos.change_to_pending', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de cambiar a PENDIENTE este exhorto?');",
                            icon='mdi:note-edit',
                            color_class='btn-warning') }}
                    </div>
                    <div class="col-md-9">
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Consultar" -->
            {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == "RECIBIDO CON EXITO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Consultar",
                            onclick="showModalConsultarBtn('" + url_for('exh_exhortos.launch_task_query', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de CONSULTAR este exhorto?');",
                            icon='mdi:download',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Transferir a Juzgado" -->
            {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == "RECIBIDO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Transferir a Juzgado",
                            url=url_for('exh_exhortos.change_to_transfer', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:swap-horizontal',
                            color_class='btn-primary') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Procesar" -->
            {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == "TRANSFIRIENDO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Procesar",
                            url=url_for('exh_exhortos.change_to_process', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:recycle',
                            color_class='btn-warning') }}
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Rechazar" -->
            {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == "PROCESANDO" %}
                <div class="row">
                    <div class="col-md-6">
                        {{ detail.button_lg(
                            label="Rechazar",
                            url=url_for('exh_exhortos.change_to_refuse', exh_exhorto_id=exh_exhorto.id),
                            icon='mdi:hand-back-left',
                            color_class='btn-danger') }}
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            {% endif %}
            <!-- Botones de acciones "Archivar" -->
            {% if exh_exhorto.estado == "CONTESTADO" or exh_exhorto.estado == "RESPONDIDO" %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ detail.button_lg_modal(
                            label="Archivar",
                            onclick="showModalArchivarBtn('" + url_for('exh_exhortos.change_to_archive', exh_exhorto_id=exh_exhorto.id) + "', '¿Está seguro de ARCHIVAR este exhorto?');",
                            icon='mdi:archive',
                            color_class='btn-secondary') }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endcall %}
    <!-- En estado PENDIENTE se muestran los DataTables de partes y archivos -->
    {% if exh_exhorto.estado == 'PENDIENTE' %}
        <!-- DataTable exh_exhortos_partes -->
        {% if current_user.can_view('EXH EXHORTOS PARTES') %}
            {% call detail.card("Partes") %}
                <table id="exh_exhortos_partes_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Género</th>
                            <th>Es Persona Moral</th>
                            <th>Tipo Parte</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.remitente == 'INTERNO' and exh_exhorto.estado == 'PENDIENTE' and current_user.can_insert('EXH EXHORTOS PARTES') %}
                    <a class="btn btn-primary" href="{{ url_for('exh_exhortos_partes.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Parte</a>
                {% endif %}
            {% endcall %}
        {% endif %}
        <!-- DataTable exh_exhortos_archivos -->
        {% if current_user.can_view('EXH EXHORTOS ARCHIVOS') %}
            {% call detail.card("Archivos") %}
                <table id="exh_exhortos_archivos_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>Descargar</th>
                            <th>Tipo Documento</th>
                            <th>Tamaño</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.remitente == 'INTERNO' and exh_exhorto.estado == 'PENDIENTE' and current_user.can_insert('EXH EXHORTOS ARCHIVOS') %}
                    <a class="btn btn-primary" href="{{ url_for('exh_exhortos_archivos.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Archivo</a>
                {% endif %}
            {% endcall %}
        {% endif %}
        <!-- DataTable exh_exhortos_promoventes -->
        {% if current_user.can_view('EXH EXHORTOS PROMOVENTES') %}
            {% call detail.card("Promoventes") %}
                <table id="exh_exhortos_promoventes_datatable" class="table display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Género</th>
                            <th>Es Persona Moral</th>
                            <th>Tipo Parte</th>
                        </tr>
                    </thead>
                </table>
                {% if exh_exhorto.remitente == 'INTERNO' and exh_exhorto.estado == 'PENDIENTE' and current_user.can_insert('EXH EXHORTOS PROMOVENTES') %}
                    <a class="btn btn-primary" href="{{ url_for('exh_exhortos_promoventes.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Promovente</a>
                {% endif %}
            {% endcall %}
        {% endif %}
    {% endif %}
    <!-- DataTable exh_exhortos_respuestas -->
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS RESPUESTAS') %}
        {% call detail.card("Respuestas") %}
            <table id="exh_exhortos_respuestas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Origen ID</th>
                        <th>No. exhorto</th>
                        <th>Tipo diligenciado</th>
                        <th>Remitente</th>
                        <th>Estado</th>
                        <th>Creado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS RESPUESTAS') %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_respuestas.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Respuesta</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- DataTable exh_exhortos_actualizaciones -->
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS ACTUALIZACIONES') %}
        {% call detail.card("Actualizaciones") %}
            <table id="exh_exhortos_actualizaciones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Origen ID</th>
                        <th>Tipo de Actualización</th>
                        <th>Descripción</th>
                        <th>Remitente</th>
                        <th>Estado</th>
                        <th>Creado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS ACTUALIZACIONES')  %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_actualizaciones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Actualización</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- DataTable de exh_exhortos_promociones -->
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS PROMOCIONES') %}
        {% call detail.card("Promociones") %}
            <table id="exh_exhortos_promociones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Folio Origen</th>
                        <th>Remitente</th>
                        <th>Estado</th>
                        <th>Creado</th>
                    </tr>
                </thead>
            </table>
            {% if exh_exhorto.estado != 'ARCHIVADO' and current_user.can_insert('EXH EXHORTOS PROMOCIONES')  %}
                <a class="btn btn-primary" href="{{ url_for('exh_exhortos_promociones.new_with_exh_exhorto', exh_exhorto_id=exh_exhorto.id) }}">Agregar Promoción</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- Paquete enviado y acuse recibido -->
    {% if current_user.can_admin('EXH EXHORTOS') and exh_exhorto.paquete_enviado %}
        {% call detail.card('JSON del paquete enviado y del acuse recibido') %}
            <div class="row">
                <div class="col-md-6"><pre id="elementPaqueteEnviado"></pre></div>
                <div class="col-md-6"><pre id="elementAcuseRecibido"></pre></div>
            </div>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Paquete enviado y acuse recibido -->
    {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS') and exh_exhorto.paquete_enviado %}
        <script>
            let jsonPaqueteEnviado = {{ exh_exhorto.paquete_enviado|tojson }};
            let jsonAcuseRecibido = {{ exh_exhorto.acuse_recibido|tojson }};
            document.getElementById("elementPaqueteEnviado").innerHTML = JSON.stringify(jsonPaqueteEnviado, null, 2);
            document.getElementById("elementAcuseRecibido").innerHTML = JSON.stringify(jsonAcuseRecibido, null, 2);
        </script>
    {% endif %}
    <!-- Modales para los botones de acción -->
    {% if current_user.can_insert('EXH EXHORTOS') %}
        {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == 'PENDIENTE' %}
            {{ modals.custom_javascript('CANCELAR este Exhorto', '', "CancelarBtn") }}
        {% endif %}
        {% if exh_exhorto.remitente == "INTERNO" and exh_exhorto.estado == 'PENDIENTE' %}
            {{ modals.custom_javascript('CANCELAR este Exhorto', '', "CancelarBtn") }}
            {{ modals.custom_javascript('POR ENVIAR este Exhorto', '', "PorEnviarBtn") }}
        {% endif %}
        {% if exh_exhorto.remitente == "INTERNO" and (exh_exhorto.estado == "POR ENVIAR" or exh_exhorto.estado == "RECHAZADO") %}
            {{ modals.custom_javascript('Regresar a PENDIENTE', '', "PendienteBtn") }}
            {{ modals.custom_javascript('ENVIAR el Exhorto al P.J.', '', "EnviarBtn") }}
        {% endif %}
        {% if exh_exhorto.estado == 'CANCELADO' %}
            {{ modals.custom_javascript('Regresar a PENDIENTE', '', "PendienteBtn") }}
        {% endif %}
        {% if exh_exhorto.remitente == "EXTERNO" and exh_exhorto.estado == "RECIBIDO CON EXITO" %}
            {{ modals.custom_javascript('CONSULTAR el Exhorto con el P.J.', '', "ConsultarBtn") }}
        {% endif %}
        {% if exh_exhorto.estado == "CONTESTADO" or exh_exhorto.estado == "RESPONDIDO" %}
            {{ modals.custom_javascript('ARCHIVAR el Exhorto', '', "ArchivarBtn") }}
        {% endif %}
    {% endif %}
    <!-- Modales para eliminar y recuperar -->
    {% if current_user.can_admin('EXH EXHORTOS') %}
        {% if exh_exhorto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar este exhorto?') }}{% endif %}
        {% if exh_exhorto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar este exhorto?') }}{% endif %}
    {% endif %}
    <!-- DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {% if exh_exhorto.estado == 'PENDIENTE' and current_user.can_view('EXH EXHORTOS PARTES') %}
        <script>
            // DataTable exh_exhortos_partes
            let configDTPartes = constructorDataTable.config();
            configDTPartes['ajax']['url'] = '/exh_exhortos_partes/datatable_json';
            configDTPartes['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTPartes['columns'] = [
                { data: 'detalle' },
                { data: 'genero_descripcion' },
                { data: 'es_persona_moral' },
                { data: 'tipo_parte_descripcion' }
            ];
            configDTPartes['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
                {
                    targets: 2, // es_persona_moral
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data == true) {
                            return "SÍ";
                        }
                        return "-";
                    }
                }
            ];
            // Filtros exh_exhortos_partes
            const filtrosPartes = new FiltrosDataTable('#exh_exhortos_partes_datatable', configDTPartes);
            filtrosPartes.precargar();
        </script>
    {% endif %}
    {% if exh_exhorto.estado == 'PENDIENTE' and current_user.can_view('EXH EXHORTOS ARCHIVOS') %}
        <script>
            // DataTable exh_exhortos_archivos
            let configDTArchivos = constructorDataTable.config();
            configDTArchivos['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
            configDTArchivos['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTArchivos['columns'] = [
                { data: 'detalle' },
                { data: 'descargar_pdf' },
                { data: 'tipo_documento_descripcion' },
                { data: 'tamano' },
                { data: 'estado' }
            ];
            configDTArchivos['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data.url != '') {
                            return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                        } else {
                            return data.nombre_archivo;
                        }
                    }
                },
                {
                    targets: 1, // descargar_pdf
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '" download="' + data.nombre_archivo + '"><span class="iconify" data-icon="mdi:file-pdf-box" style="font-size:2.0rem"></span></a>';
                    }
                }
            ];
            // Filtros exh_exhortos_archivos
            const filtrosArchivos = new FiltrosDataTable('#exh_exhortos_archivos_datatable', configDTArchivos);
            filtrosArchivos.precargar();
        </script>
    {% endif %}
    {% if exh_exhorto.estado == 'PENDIENTE' and current_user.can_view('EXH EXHORTOS PROMOVENTES') %}
        <script>
            // DataTable exh_exhortos_promoventes
            let configDTPromoventes = constructorDataTable.config();
            configDTPromoventes['ajax']['url'] = '/exh_exhortos_promoventes/datatable_json';
            configDTPromoventes['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTPromoventes['columns'] = [
                { data: 'detalle' },
                { data: 'genero_descripcion' },
                { data: 'es_persona_moral' },
                { data: 'tipo_parte_descripcion' }
            ];
            configDTPromoventes['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                },
                {
                    targets: 2, // es_persona_moral
                    data: null,
                    render: function(data, type, row, meta) {
                        if (data == true) {
                            return "SÍ";
                        }
                        return "-";
                    }
                }
            ];
            // Filtros exh_exhortos_promoventes
            const filtrosPromoventes = new FiltrosDataTable('#exh_exhortos_promoventes_datatable', configDTPromoventes);
            filtrosPromoventes.precargar();
        </script>
    {% endif %}
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS RESPUESTAS') %}
        <script>
            // DataTable exh_exhortos_respuestas
            let configDTRespuestas = constructorDataTable.config();
            configDTRespuestas['ajax']['url'] = '/exh_exhortos_respuestas/datatable_json';
            configDTRespuestas['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTRespuestas['columns'] = [
                { data: 'detalle' },
                { data: 'numero_exhorto' },
                { data: 'tipo_diligenciado_nombre' },
                { data: 'remitente' },
                { data: 'estado' },
                { data: 'creado' }
            ];
            configDTRespuestas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.respuesta_origen_id + '</a>';
                    }
                },
                {
                    targets: 4, // estado
                    data: null,
                    render: function(data, type, row, meta) {
                        let bgcolor = "bg-dark";
                        let icon = "circle-small";
                        switch (data)    {
                            case "CANCELADO":  bgcolor = "bg-secondary";         icon="close-circle";    break;
                            case "ENVIADO":    bgcolor = 'bg-primary';           icon="send";            break;
                            case "PENDIENTE":  bgcolor = 'bg-warning text-dark'; icon="note-edit";       break;
                            case "POR ENVIAR": bgcolor = 'bg-warning text-dark'; icon="package-up";      break;
                            case "RECHAZADO":  bgcolor = "bg-danger";            icon="hand-back-left";  break;
                        }
                        let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                        return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                    }
                }
            ];
            // Filtros exh_exhortos_respuestas
            const filtrosArchivosRespuesta = new FiltrosDataTable('#exh_exhortos_respuestas_datatable', configDTRespuestas);
            filtrosArchivosRespuesta.precargar();
        </script>
    {% endif %}
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'CONTESTADO', 'PROCESANDO', 'RESPONDIDO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS ACTUALIZACIONES') %}
        <script>
            // DataTable exh_exhortos_actualizaciones
            let configDTActualizaciones = constructorDataTable.config();
            configDTActualizaciones['ajax']['url'] = '/exh_exhortos_actualizaciones/datatable_json';
            configDTActualizaciones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTActualizaciones['columns'] = [
                { data: 'detalle' },
                { data: 'tipo_actualizacion' },
                { data: 'descripcion' },
                { data: 'remitente' },
                { data: 'estado' },
                { data: 'creado' }
            ];
            configDTActualizaciones['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.actualizacion_origen_id + '</a>';
                    }
                },
                {
                    targets: 4, // estado
                    data: null,
                    render: function(data, type, row, meta) {
                        let bgcolor = "bg-dark";
                        let icon = "circle-small";
                        switch (data)    {
                            case "CANCELADO":  bgcolor = "bg-secondary";         icon="close-circle";    break;
                            case "ENVIADO":    bgcolor = 'bg-primary';           icon="send";            break;
                            case "PENDIENTE":  bgcolor = 'bg-warning text-dark'; icon="note-edit";       break;
                            case "POR ENVIAR": bgcolor = 'bg-warning text-dark'; icon="package-up";      break;
                            case "RECHAZADO":  bgcolor = "bg-danger";            icon="hand-back-left";  break;
                        }
                        let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                        return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                    }
                }
            ];
            // Filtros exh_exhortos_actualizaciones
            const filtrosActualizaciones = new FiltrosDataTable('#exh_exhortos_actualizaciones_datatable', configDTActualizaciones);
            filtrosActualizaciones.precargar();
        </script>
    {% endif %}
    {% if exh_exhorto.estado in ('RECIBIDO', 'RECIBIDO CON EXITO', 'PROCESANDO', 'RESPONDIDO', 'CONTESTADO', 'ARCHIVADO') and current_user.can_view('EXH EXHORTOS PROMOCIONES') %}
        <script>
            // DataTable exh_exhortos_promociones
            let configDTPromociones = constructorDataTable.config();
            configDTPromociones['ajax']['url'] = '/exh_exhortos_promociones/datatable_json';
            configDTPromociones['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
            configDTPromociones['columns'] = [
                { data: 'detalle' },
                { data: 'remitente' },
                { data: 'estado' },
                { data: 'creado' }
            ];
            configDTPromociones['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.folio_origen_promocion + '</a>';
                    }
                },
                {
                    targets: 2, // estado
                    data: null,
                    render: function(data, type, row, meta) {
                        let bgcolor = "bg-dark";
                        let icon = "circle-small";
                        switch (data)    {
                            case "CANCELADO":  bgcolor = "bg-secondary";         icon="close-circle";    break;
                            case "ENVIADO":    bgcolor = 'bg-primary';           icon="send";            break;
                            case "PENDIENTE":  bgcolor = 'bg-warning text-dark'; icon="note-edit";       break;
                            case "POR ENVIAR": bgcolor = 'bg-warning text-dark'; icon="package-up";      break;
                            case "RECHAZADO":  bgcolor = "bg-danger";            icon="hand-back-left";  break;
                        }
                        let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                        return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                    }
                }
            ];
            // Filtros exh_exhortos_promociones
            const filtrosPromociones = new FiltrosDataTable('#exh_exhortos_promociones_datatable', configDTPromociones);
            filtrosPromociones.precargar();
        </script>
    {% endif %}
    <!-- Renderizar el campo estado con colores e iconos -->
    <script>
        let titulo_estado = document.getElementById("titulo-estado")
        const valor = "{{ exh_exhorto.estado }}";
        let bgcolor = "bg-dark";
        let icon = "circle-small";
        switch (valor) {
            case "RECIBIDO":           bgcolor = 'bg-primary';           icon="inbox-arrow-down";  break;
            case "TRANSFIRIENDO":      bgcolor = 'bg-primary';           icon="email-arrow-right"; break;
            case "PROCESANDO":         bgcolor = 'bg-warning text-dark'; icon="sync";              break;
            case "RECHAZADO":          bgcolor = "bg-danger";            icon="hand-back-left";    break;
            case "CONTESTADO":         bgcolor = "bg-success";           icon="check-circle";      break;
            case "PENDIENTE":          bgcolor = 'bg-warning text-dark'; icon="note-edit";         break;
            case "CANCELADO":          bgcolor = "bg-secondary";         icon="close-circle";      break;
            case "POR ENVIAR":         bgcolor = 'bg-warning text-dark'; icon="package-up";        break;
            case "RECIBIDO CON EXITO": bgcolor = 'bg-primary';           icon="briefcase-check";   break;
            case "RESPONDIDO":         bgcolor = 'bg-success';           icon="crown-circle";      break;
            case "ARCHIVADO":          bgcolor = 'bg-secondary';         icon="archive";           break;
        }
        html = '<span style="font-size:1.0em" class="badge rounded-pill ' + bgcolor + '"><span class="iconify" data-icon="mdi:' + icon + '"></span> ' + valor + '</span>';
        titulo_estado.innerHTML = html;
    </script>
{% endblock %}
