{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Exhorto {{ exh_exhorto.exhorto_origen_id }}{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar ' + exh_exhorto.exhorto_origen_id | string) %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'exh_exhorto_id': exh_exhorto.id} %}
        {% call f.form_tag('exh_exhortos.edit', fid='exh_exhorto_form', **form_kwargs) %}
            <div class="row">
                <div class="col-md-6">
                    {% call f.form_group(form.exhorto_origen_id, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.estado_origen) %}{% endcall %}
                    {% call f.form_group(form.municipio_origen) %}{% endcall %}
                    {% call f.form_group(form.juzgado_origen) %}{% endcall %}
                    {% call f.form_group(form.numero_expediente_origen) %}{% endcall %}
                    {% call f.form_group(form.numero_oficio_origen) %}{% endcall %}
                    {% call f.form_group(form.tipo_juicio_asunto_delitos) %}{% endcall %}
                    {% call f.form_group(form.juez_exhortante) %}{% endcall %}
                    {% call f.form_group(form.fojas) %}{% endcall %}
                    {% call f.form_group(form.dias_responder) %}{% endcall %}
                    {% call f.form_group(form.tipo_diligenciacion_nombre) %}{% endcall %}
                    {% call f.form_group(form.fecha_origen, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.observaciones) %}{% endcall %}
                </div>
                <div class="col-md-6">
                    {% call f.form_group(form.folio_seguimiento, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.estado_destino) %}{% endcall %}
                    {% call f.form_group(form.municipio_destino) %}{% endcall %}
                    {% call f.form_group(form.materia) %}{% endcall %}
                    {% call f.form_group(form.exh_area, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.remitente, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.estado, readonly=true) %}{% endcall %}
                </div>
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Combo select Estados Destino - Municipios Destino -->
    <script>
        // Llamar a /estados/select_json para cargar el select estados
        fetch('/estados/select_json')
            .then(response => response.json())
            .then(data => {
                const estadoDestinoSelect = document.getElementById('estado_destino');
                data.forEach(estado => {
                    const option = document.createElement('option');
                    option.value = estado.id;
                    option.text = estado.nombre;
                    estadoDestinoSelect.appendChild(option);
                });
                document.getElementById('estado_destino').value = {{ municipio_destino.estado.id }};
                document.getElementById('estado_destino').dispatchEvent(new Event('change'));
            });
        // Llamar a /municipios/select_json para cargar el select municipio, si el municipio cambia
        document.getElementById('estado_destino').addEventListener('change', () => {
            const estadoDestinoId = document.getElementById('estado_destino').value;
            fetch(`/municipios/select_json/${estadoDestinoId}`)
                .then(response => response.json())
                .then(data => {
                    const municipioSelect = document.getElementById('municipio_destino');
                    municipioSelect.innerHTML = '';
                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nombre;
                        municipioSelect.appendChild(option);
                    });
                    document.getElementById('municipio_destino').value = {{ exh_exhorto.municipio_destino_id }};
                });
            // Llamar a /exh_externos/select_materias_json para cambiar las opciones en el select materia
            fetch(`/exh_externos/select_materias_json/${estadoDestinoId}`)
                .then(response => response.json())
                .then(data => {
                    const materiaSelect = document.getElementById('materia');
                    materiaSelect.innerHTML = '';
                    materiaSelect.disabled = false;
                    if (data === null) {
                        materiaSelect.disabled = true;
                        return;
                    }
                    data.forEach(materia => {
                        const option = document.createElement('option');
                        option.value = materia.clave;
                        option.text = materia.nombre;
                        materiaSelect.appendChild(option);
                    })
                    document.getElementById('materia').value = {{ exh_exhorto.materia_clave }};
                    document.getElementById('materia').dispatchEvent(new Event('change'));
                });
        });
    </script>
    <!-- Combo select Estados Origen - Municipios Origen -->
    <script>
        // Llamar a /estados/select_json para cargar el select estados
        fetch('/estados/select_json')
            .then(response => response.json())
            .then(data => {
                const estadoOrigenSelect = document.getElementById('estado_origen');
                data.forEach(estado => {
                    const option = document.createElement('option');
                    option.value = estado.id;
                    option.text = estado.nombre;
                    estadoOrigenSelect.appendChild(option);
                });
                document.getElementById('estado_origen').value = {{ exh_exhorto.municipio_origen.estado.id }};
                document.getElementById('estado_origen').dispatchEvent(new Event('change'));
            });
        // Llamar a /municipios/select_json para cargar el select municipio, si el municipio cambia
        document.getElementById('estado_origen').addEventListener('change', () => {
            const estadoOrigenId = document.getElementById('estado_origen').value;
            fetch(`/municipios/select_json/${estadoOrigenId}`)
                .then(response => response.json())
                .then(data => {
                    const municipioOrigenSelect = document.getElementById('municipio_origen');
                    municipioOrigenSelect.innerHTML = '';
                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nombre;
                        municipioOrigenSelect.appendChild(option);
                    });
                    // Seleccionar el municipio del exhorto
                    document.getElementById('municipio_origen').value = {{ exh_exhorto.municipio_origen_id }};
                });
        });
    </script>
    <!-- Combo select Distrito - Autoridades -->
    <script>
        // Llamar a /distritos/select_json para cargar el select distrito
        fetch('/distritos/select_json?es_distrito=true')
            .then(response => response.json())
            .then(data => {
                const distritoSelect = document.getElementById('distrito');
                data.forEach(distrito => {
                    const option = document.createElement('option');
                    option.value = distrito.id;
                    option.text = distrito.nombre;
                    distritoSelect.appendChild(option);
                });
                // Seleccionar el distrito del usuario
                document.getElementById('distrito').value = {{ exh_exhorto.autoridad.distrito_id }};
                document.getElementById('distrito').dispatchEvent(new Event('change'));
            });
        // Llamar a /autoridades/select_json para cargar el select autoridad, si el distrito cambia
        document.getElementById('distrito').addEventListener('change', () => {
            const distritoId = document.getElementById('distrito').value;
            fetch(`/autoridades/select_json/${distritoId}?es_jurisdiccional=true&es_notaria=false`)
                .then(response => response.json())
                .then(data => {
                    const autoridadSelect = document.getElementById('autoridad');
                    autoridadSelect.innerHTML = '';
                    data.forEach(autoridad => {
                        const option = document.createElement('option');
                        option.value = autoridad.id;
                        option.text = autoridad.descripcion_corta;
                        autoridadSelect.appendChild(option);
                    });
                    // Seleccionar la autoridad del usuario
                    document.getElementById('autoridad').value = {{ exh_exhorto.autoridad_id }};
                });
        });
    </script>
    <!-- Select2 para juzgado de origen -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#juzgado_origen').addClass('js-example-placeholder-single');
            // --- Carga de la opción elegida --- //
            const newJuzgadoOption = new Option('{{juzgado_origen.clave}}', '{{juzgado_origen.id}}', false, false);
            $('#juzgado_origen').append(newJuzgadoOption).trigger('change');
            // --- Carga por Ajax --- //
            $("#juzgado_origen").select2({
                ajax: {
                    url: '/autoridades/juzgados_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'clave': params.term.toUpperCase(), "es_jurisdiccional": true };
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
{% endblock %}
