{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('EXH AREAS') %}
            {{ topbar.button('Áreas', url_for('exh_areas.list_active'), 'mdi:office-building-marker') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS ACTUALIZACIONES') %}
            {{ topbar.button('E. Actualizaciones', url_for('exh_exhortos_actualizaciones.list_active'), 'mdi:reload') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS PROMOCIONES') %}
            {{ topbar.button('E. Promociones', url_for('exh_exhortos_promociones.list_active'), 'mdi:receipt-text-plus') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS RESPUESTAS') %}
            {{ topbar.button('E. Respuestas', url_for('exh_exhortos_respuestas.list_active'), 'mdi:forum') }}
        {% endif %}
        {% if current_user.can_view('EXH EXTERNOS') %}
            {{ topbar.button('Externos', url_for('exh_externos.list_active'), 'mdi:home-map-marker') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('exh_exhortos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('exh_exhortos.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('EXH EXHORTOS') %}
            {{ topbar.button_new('Nuevo Exhorto', url_for('exh_exhortos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros exh_exhortos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosExhExhortos.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroExhortoOrigenId" type="text" class="form-control" aria-label="Exhorto Origen ID">
                            <label for="filtroExhortoOrigenId">Exhorto Origen ID</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroNumeroExpedienteOrigen" type="text" class="form-control" aria-label="No. Exp.">
                            <label for="filtroNumeroExpedienteOrigen">No. Exp.</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosExhExhortos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosExhExhortos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable exh_exhortos -->
        <table id="exh_exhortos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Exhorto Origen ID</th>
                    <th>Origen</th>
                    <th>No. Exp.</th>
                    <th>Destino</th>
                    <th>Remitente</th>
                    <th>Estado</th>
                    <th>Creado</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('EXH EXHORTOS') %}
            <a class="btn btn-primary" href="{{ url_for('exh_exhortos.new') }}">Nuevo Exhorto</a>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable exh_exhortos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTExhExhortos = constructorDataTable.config();
        configDTExhExhortos['ajax']['url'] = '/exh_exhortos/datatable_json';
        configDTExhExhortos['ajax']['data'] = {{ filtros }};
        configDTExhExhortos['columns'] = [
            { data: 'detalle' },
            { data: 'estado_origen' },
            { data: 'numero_expediente_origen' },
            { data: 'estado_destino' },
            { data: 'remitente' },
            { data: 'estado' },
            { data: 'creado' }
        ];
        configDTExhExhortos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.exhorto_origen_id + '</a>';
                }
            },
            {
                targets: 5, // estado
                data: null,
                render: function(data, type, row, meta) {
                    let bgcolor = "bg-dark";
                    let icon = "circle-small";
                    switch (data)    {
                        case "RECIBIDO":           bgcolor = 'bg-primary';           icon="inbox-arrow-down";  break;
                        case "TRANSFIRIENDO":      bgcolor = 'bg-primary';           icon="email-arrow-right"; break;
                        case "PROCESANDO":         bgcolor = 'bg-warning text-dark'; icon="sync";              break;
                        case "RECHAZADO":          bgcolor = "bg-danger";            icon="hand-back-left";    break;
                        case "CONTESTADO":         bgcolor = "bg-success";           icon="check-circle";      break;
                        case "PENDIENTE":          bgcolor = 'bg-warning text-dark'; icon="note-edit";         break;
                        case "CANCELADO":          bgcolor = "bg-secondary";         icon="close-circle";      break;
                        case "POR ENVIAR":         bgcolor = 'bg-warning text-dark'; icon="package-up";        break;
                        case "RECIBIDO CON EXITO": bgcolor = 'bg-primary';           icon="briefcase-check";   break;
                        case "RESPONDIDO":         bgcolor = 'bg-success';           icon="crown-circle";      break;
                        case "ARCHIVADO":          bgcolor = 'bg-secondary';         icon="archive";           break;
                    }
                    let iconHTML = '<span class="iconify" data-icon="mdi:' + icon + '"></span>';
                    return '<span class="badge rounded-pill ' + bgcolor + '">' + iconHTML + data + '</span>';
                }
            }
        ];
        // Filtros exh_exhortos
        const filtrosExhExhortos = new FiltrosDataTable('#exh_exhortos_datatable', configDTExhExhortos);
        filtrosExhExhortos.agregarInput('filtroExhortoOrigenId', 'exhorto_origen_id');
        filtrosExhExhortos.agregarInput('filtroNumeroExpedienteOrigen', 'numero_expediente_origen');
        filtrosExhExhortos.precargar();
    </script>
{% endblock %}
