{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Exhorto{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Nuevo Exhorto') %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('exh_exhortos.new', fid='exh_exhorto_form') %}
            <div class="row">
                <div class="col-md-6">
                    {% call f.form_group(form.exhorto_origen_id, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.estado_origen, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.municipio_origen) %}{% endcall %}
                    {% call f.form_group(form.juzgado_origen) %}{% endcall %}
                    {% call f.form_group(form.numero_expediente_origen) %}{% endcall %}
                    {% call f.form_group(form.numero_oficio_origen) %}{% endcall %}
                    {% call f.form_group(form.tipo_juicio_asunto_delitos) %}{% endcall %}
                    {% call f.form_group(form.juez_exhortante) %}{% endcall %}
                    {% call f.form_group(form.fojas) %}{% endcall %}
                    {% call f.form_group(form.dias_responder) %}{% endcall %}
                    {% call f.form_group(form.tipo_diligenciacion_nombre) %}{% endcall %}
                    {% call f.form_group(form.fecha_origen, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.observaciones) %}{% endcall %}
            </div>
                <div class="col-md-6">
                    {% call f.form_group(form.folio_seguimiento, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.estado_destino) %}{% endcall %}
                    {% call f.form_group(form.municipio_destino) %}{% endcall %}
                    {% call f.form_group(form.materia) %}{% endcall %}
                    {% call f.form_group(form.estado, readonly=true) %}{% endcall %}
                </div>
            </div>
            {% call f.form_group(form.crear) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Combo select Estados Destino - Municipios Destino -->
    <script>
        // Llamar a /estados/select_json para cargar las opciones en el select estados
        fetch('/estados/select_json')
            .then(response => response.json())
            .then(data => {
                const estadoSelect = document.getElementById('estado_destino');
                data.forEach(estado => {
                    const option = document.createElement('option');
                    option.value = estado.id;
                    option.text = estado.nombre;
                    estadoSelect.appendChild(option);
                });
                // Efectuar el cambio de selección
                document.getElementById('estado_destino').dispatchEvent(new Event('change'));
            });
        // Si estado_destino cambia...
        document.getElementById('estado_destino').addEventListener('change', () => {
            const estadoId = document.getElementById('estado_destino').value;
            // Llamar a /municipios/select_json para cambiar las opciones en el select municipio
            fetch(`/municipios/select_json/${estadoId}`)
                .then(response => response.json())
                .then(data => {
                    const municipioSelect = document.getElementById('municipio_destino');
                    municipioSelect.innerHTML = '';
                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nombre;
                        municipioSelect.appendChild(option);
                    });
                });
            // Llamar a /exh_externos/select_materias_json para cambiar las opciones en el select materia
            fetch(`/exh_externos/select_materias_json/${estadoId}`)
                .then(response => response.json())
                .then(data => {
                    const materiaSelect = document.getElementById('materia');
                    materiaSelect.innerHTML = '';
                    materiaSelect.disabled = false;
                    if (data === null) {
                        materiaSelect.disabled = true;
                        return;
                    }
                    data.forEach(materia => {
                        const option = document.createElement('option');
                        option.value = materia.clave;
                        option.text = materia.nombre;
                        materiaSelect.appendChild(option);
                    })
                });
        });
    </script>
    <!-- Combo select Estados Origen - Municipios Origen -->
    <script>
        // Llamar a /estados/select_json para cargar las opciones en el select estados
        fetch('/estados/select_json')
            .then(response => response.json())
            .then(data => {
                const estadoSelect = document.getElementById('estado_origen');
                data.forEach(estado => {
                    const option = document.createElement('option');
                    option.value = estado.id;
                    option.text = estado.nombre;
                    estadoSelect.appendChild(option);
                });
                // Efectuar el cambio de selección
                document.getElementById('estado_origen').dispatchEvent(new Event('change'));
            });
        // Si el municipio cambia...
        document.getElementById('estado_origen').addEventListener('change', () => {
            // Llamar a /municipios/select_json para cargar las opciones en el select municipio
            fetch(`/municipios/select_json/{{ estado_origen_id }}`)
                .then(response => response.json())
                .then(data => {
                    const municipioSelect = document.getElementById('municipio_origen');
                    municipioSelect.innerHTML = '';
                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nombre;
                        municipioSelect.appendChild(option);
                    });
                });
        });
    </script>
    <!-- Select2 para juzgado de origen -->
    <!-- Select2 bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#juzgado_origen').addClass('js-example-placeholder-single');
            $("#juzgado_origen").select2({
                // --- Carga de emails por Ajax --- //
                ajax: {
                    url: '/autoridades/select_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'clave': params.term.toUpperCase(), "es_jurisdiccional": true };
                    }
                },
                placeholder: "{{buscar}}",
                minimumInputLength: 3,
                allowClear: true
            });
        });
    </script>
{% endblock %}
