{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar {{ dgt_deposito.clave }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + dgt_deposito.clave) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'dgt_deposito_id': dgt_deposito.id} %}
        {% call f.form_tag('dgt_depositos.edit', fid='dgt_deposito_form', **form_kwargs) %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.proposito) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
