{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo DGT Depósito{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo DGT Depósito') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('dgt_depositos.new', fid='dgt_deposito_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.proposito) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
