{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Promovente de la Promoción {{ exh_exhorto_promocion_promovente.exh_exhorto_promocion.folio_origen_promocion }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Promovente de la Promoción ' + exh_exhorto_promocion_promovente.exh_exhorto_promocion.folio_origen_promocion) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'exh_exhorto_promocion_promovente_id': exh_exhorto_promocion_promovente.id} %}
        {% call f.form_tag('exh_exhortos_promociones_promoventes.edit', fid='exh_exhorto_promocion_promovente_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.es_persona_moral) %}{% endcall %}
            {% call f.form_group(form.apellido_paterno) %}{% endcall %}
            {% call f.form_group(form.apellido_materno) %}{% endcall %}
            {% call f.form_group(form.genero) %}{% endcall %}
            {% call f.form_group(form.tipo_parte) %}{% endcall %}
            {% call f.form_group(form.tipo_parte_nombre) %}{% endcall %}
            {% call f.form_group(form.correo_electronico) %}{% endcall %}
            {% call f.form_group(form.telefono) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        const checkbox = document.getElementById("es_persona_moral");
        const apellido_paterno_input = document.getElementById("apellido_paterno");
        const apellido_materno_input = document.getElementById("apellido_materno");
        const genero_input = document.getElementById("genero");
        const tipo_parte_input = document.getElementById("tipo_parte");
        const tipo_parte_nombre_input = document.getElementById("tipo_parte_nombre");
        // Deshabilita campos de apellidos cuando es persona moral
        const deshabilitar_es_persona_moral = function() {
            const habilitar = checkbox.checked;

            apellido_paterno_input.disabled = habilitar;
            apellido_materno_input.disabled = habilitar;
        };
        // Deshabilita campo tipo parte nombre cuando No es NO DEFINIDO
        const deshabilitar_tipo_parte = function() {
            if (tipo_parte_input.value == 0) {
                tipo_parte_nombre_input.disabled = false;
            } else {
                tipo_parte_nombre_input.disabled = true;
            }
        };
        // Añadir eventos de cambio
        checkbox.addEventListener('change', deshabilitar_es_persona_moral);
        tipo_parte_input.addEventListener('change', deshabilitar_tipo_parte);
        // Ejecutar por primera vez
        deshabilitar_es_persona_moral();
        deshabilitar_tipo_parte();
    </script>
{% endblock %}
