{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('EXH AREAS') %}
            {{ topbar.button('Áreas', url_for('exh_areas.list_active'), 'mdi:office-building-marker') }}
        {% endif %}
        {% if current_user.can_view('EXH EXHORTOS') %}
            {{ topbar.button('Exhortos', url_for('exh_exhortos.list_active'), 'mdi:email-fast') }}
        {% endif %}
        {% if current_user.can_view('EXH EXTERNOS') %}
            {{ topbar.button('Externos', url_for('exh_externos.list_active'), 'mdi:home-map-marker') }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS PROMOCIONES PROMOVENTES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('exh_exhortos_promociones_promoventes.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('exh_exhortos_promociones_promoventes.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- DataTable exh_exhortos_promociones_promoventes -->
        <table id="exh_exhortos_promociones_promoventes_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Género</th>
                    <th>Es Persona Moral</th>
                    <th>Tipo de Parte</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable exh_exhortos_promociones_promoventes
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTExhExhortosPromocionesPromoventes = constructorDataTable.config();
        configDTExhExhortosPromocionesPromoventes['ajax']['url'] = '/exh_exhortos_promociones_promoventes/datatable_json';
        configDTExhExhortosPromocionesPromoventes['ajax']['data'] = {{ filtros }};
        configDTExhExhortosPromocionesPromoventes['columns'] = [
            { data: 'detalle' },
            { data: 'genero' },
            { data: 'es_persona_moral' },
            { data: 'tipo_parte' },
        ];
        configDTExhExhortosPromocionesPromoventes['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // genero
                data: null,
                render: function(data, type, row, meta) {
                    switch (data) {
                        case "M": return "<span title='Masculino'>M <span class='iconify' data-icon='mdi:gender-male'></span></span>";
                        case "F": return "<span title='Femenino'>F <span class='iconify' data-icon='mdi:gender-female'></span></span>";
                    }
                    return "-";
                }
            },
            {
                targets: 2, // es_persona_moral
                data: null,
                render: function(data, type, row, meta) {
                    if (data == true) {
                        return "SÍ";
                    }
                    return "-";
                }
            }
        ];
        // Filtros exh_exhortos_promociones_promoventes
        const filtrosDTExhExhortosPromocionesPromoventes = new FiltrosDataTable('#exh_exhortos_promociones_promoventes_datatable', configDTExhExhortosPromocionesPromoventes);
        filtrosDTExhExhortosPromocionesPromoventes.precargar();
    </script>
{% endblock %}
