{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block custom_head %}
    <!-- Select2 bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/pjecz-informatica/static/css/select2.css" rel="stylesheet" />
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('MODULOS') %}
            {{ topbar.button('Módulos', url_for('modulos.list_active'), 'mdi:toy-brick') }}
        {% endif %}
        {% if current_user.can_view('ROLES') %}
            {{ topbar.button('Roles', url_for('roles.list_active'), 'mdi:gamepad') }}
        {% endif %}
        {% if current_user.can_view('USUARIOS') %}
            {{ topbar.button('Usuarios', url_for('usuarios.list_active'), 'mdi:account-key') }}
        {% endif %}
        {% if current_user.can_admin('PERMISOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('permisos.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('permisos.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Permisos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosPermisos.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroPermisoNombre" type="text" class="form-control" aria-label="Nombre" style="text-transform: uppercase;">
                            <label for="filtroPermisoNombre">Nombre</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="filtroPermisoRolId" class="form-select js-select2-filter" aria-label="Rol"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="filtroPermisoModuloId" class="form-select js-select2-filter" aria-label="Módulo"></select>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPermisos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPermisos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable Permisos -->
        <table id="permisos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Módulo</th>
                    <th>Nivel</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Permisos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTPermisos = constructorDataTable.config();
        configDTPermisos['ajax']['url'] = '/permisos/datatable_json';
        configDTPermisos['ajax']['data'] = {{ filtros }};
        configDTPermisos['columns'] = [
            { data: "detalle" },
            { data: "rol" },
            { data: "modulo" },
            { data: "nivel" }
        ];
        configDTPermisos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 1, // rol
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        return data.nombre;
                    }
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 2, // modulo
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        return data.nombre;
                    }
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            }
        ];
        // Filtros Permisos
        const filtrosPermisos = new FiltrosDataTable('#permisos_datatable', configDTPermisos);
        filtrosPermisos.agregarInput('filtroPermisoNombre', 'nombre');
        filtrosPermisos.agregarInput('filtroPermisoRolId', 'rol_id');
        filtrosPermisos.agregarInput('filtroPermisoModuloId', 'modulo_id');
        filtrosPermisos.precargar();
    </script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // Cuando esté listo el DOM
        $(document).ready(function(){
            // Preparar Select2 para filtrar por Rol
            $('#filtroPermisoRolId').select2({
                placeholder: {id: "", text: "Todos los roles"},
                allowClear: true,
                minimumInputLength: 4,
                ajax: {
                    url: '/roles/select2_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term }
                    }
                }
            });
            // Preparar Select2 para filtrar por Módulo
            $('#filtroPermisoModuloId').select2({
                placeholder: {id: "", text: "Todos los módulos"},
                allowClear: true,
                minimumInputLength: 4,
                ajax: {
                    url: '/modulos/select2_json',
                    headers: { "X-CSRF-TOKEN": "{{ csrf_token() }}" },
                    dataType: 'json',
                    delay: 250,
                    type: "POST",
                    data: function (params) {
                        return { 'searchString': params.term }
                    }
                }
            });
        });
    </script>
{% endblock %}
