{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nueva Requisición Categoría{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Requisiciones Nueva Categoría') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('req_categorias.new', fid='registro_form') %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
