{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% set title = 'Lista de Acuerdos ' + lista_de_acuerdo.fecha.strftime("%Y-%m-%d") + ' del ' + lista_de_acuerdo.autoridad.clave %}

{% block title %}{{ title }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(title) %}
        {# Ir al listado activos #}
        {{ topbar.button_previous('Listas de Acuerdos', url_for('listas_de_acuerdos.list_active')) }}
        {# Los administradores pueden subir a la autoridad que tienen a la vista #}
        {% if current_user.can_admin('LISTAS DE ACUERDOS') %}
            {{ topbar.button_previous('Listas de Acuerdos del ' + lista_de_acuerdo.autoridad.clave, url_for('listas_de_acuerdos.list_active') + '?autoridad_clave=' + lista_de_acuerdo.autoridad.clave) }}
            {{ topbar.button_upload('Subir Lista de Acuerdos para ' + lista_de_acuerdo.autoridad.clave, url_for('listas_de_acuerdos.new_with_autoridad_id', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
        {% elif current_user.can_insert('LISTAS DE ACUERDOS') and current_user.autoridad_id == lista_de_acuerdo.autoridad_id %}
            {{ topbar.button_upload('Subir Lista de Acuerdos', url_for('listas_de_acuerdos.new')) }}
        {% else %}
            {{ topbar.button_previous('Listas de Acuerdos del ' + lista_de_acuerdo.autoridad.clave, url_for('listas_de_acuerdos.list_active') + '?autoridad_clave=' + lista_de_acuerdo.autoridad.clave) }}
        {% endif %}
        {# Los usuarios con permiso para insertar pueden eliminar y recuperar #}
        {% if current_user.can_insert('LISTAS DE ACUERDOS') %}
            {% if lista_de_acuerdo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('listas_de_acuerdos.delete', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}{% endif %}
            {% if lista_de_acuerdo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('listas_de_acuerdos.recover', lista_de_acuerdo_id=lista_de_acuerdo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=lista_de_acuerdo.estatus) %}
        {# detail.label_value('Fecha', lista_de_acuerdo.fecha) #}
        {{ detail.label_value('Distrito', lista_de_acuerdo.autoridad.distrito.nombre_corto) }}
        {% if current_user.can_view("AUTORIDADES") %}
            {{ detail.label_value('Autoridad', lista_de_acuerdo.autoridad.descripcion, url_for('autoridades.detail', autoridad_id=lista_de_acuerdo.autoridad_id)) }}
        {% else %}
            {{ detail.label_value('Autoridad', lista_de_acuerdo.autoridad.descripcion) }}
        {% endif %}
        {{ detail.label_value('Descripción', lista_de_acuerdo.descripcion) }}
        {{ detail.label_value('Creado', moment(lista_de_acuerdo.creado, local=False).format("DD MMM YYYY HH:mm")) }}
        <div class="row">
            <div class="col">
                {{ detail.button_md(label='Acuse', url=url_for('listas_de_acuerdos.checkout', id_hashed=lista_de_acuerdo.encode_id()), icon='mdi:printer', target='_blank', color_class='btn-outline-secondary') }}
            </div>
            <div class="col">
                {{ detail.button_md(label='Descargar', url=url_for('listas_de_acuerdos.download_file_pdf', lista_de_acuerdo_id=lista_de_acuerdo.id), icon='mdi:download') }}
            </div>
        </div>
    {% endcall %}
    {% call detail.card() %}
        <object data="{{ url_for('listas_de_acuerdos.view_file_pdf', lista_de_acuerdo_id=lista_de_acuerdo.id) }}" type="application/pdf" width="100%" height="600px">
            <p class="mb-0">El navegador no puede mostrar el archivo PDF o no existe en el depósito.</p>
        </object>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# Los usuarios que pueden insertar registros tienen permiso para eliminar y recuperar #}
    {% set descrito = 'la lista de acuerdos del ' + lista_de_acuerdo.fecha.strftime("%Y-%m-%d") + ' de ' + lista_de_acuerdo.autoridad.descripcion_corta %}
    {% if current_user.can_insert('LISTAS DE ACUERDOS') %}
        {% if lista_de_acuerdo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + descrito + '?') }}{% endif %}
        {% if lista_de_acuerdo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + descrito + '?') }}{% endif %}
    {% endif %}
{% endblock %}
