{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {# if current_user.can_insert('LISTAS DE ACUERDOS') %}
            {{ topbar.button_new('Nuevo Lista de Acuerdos', url_for('listas_de_acuerdos.new')) }}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros ListaDeAcuerdo -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosListaDeAcuerdo.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroFechaDesde" type="date" class="form-control" aria-label="Fecha Desde">
                            <label for="filtroFechaDesde">Fecha Desde</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroFechaHasta" type="date" class="form-control" aria-label="Fecha Hasta">
                            <label for="filtroFechaHasta">Fecha Hasta</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosListaDeAcuerdo.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosListaDeAcuerdo.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable ListaDeAcuerdo -->
        <table id="listas_de_acuerdos_datatable" class="table {% if estatus == 'B' %}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Creado</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Municipios
        const constructorDataTable = new ConfigDataTable('{{ csrf_token() }}');
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/listas_de_acuerdos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            {data: 'detalle'},
            {data: 'descripcion'},
            {data: 'creado'},
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // fecha
                data: null,
                render: function (data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.fecha + '</a>';
                },
            },
            {
                targets: 2, // creado
                data: null,
                render: function(data, type, row, meta) {
                    let bandera = 'flag-checkered';
                    let color = 'green';
                    if (data.semaforo === 1) {
                        bandera = 'flag-outline'; color = 'orange';
                    } else if (data.semaforo > 1) {
                        bandera = 'flag'; color = 'red';
                    }
                    return data.tiempo + ' <span style="color: ' + color +  ';" class="iconify" data-icon="mdi:' + bandera + '"></span>';
                }
            }
        ];
        // Filtros ListaDeAcuerdo
        const filtrosListaDeAcuerdo = new FiltrosDataTable('#listas_de_acuerdos_datatable', configDataTable);
        filtrosListaDeAcuerdo.agregarInput('filtroFechaDesde', 'fecha_desde');
        filtrosListaDeAcuerdo.agregarInput('filtroFechaHasta', 'fecha_hasta');
        filtrosListaDeAcuerdo.precargar();
    </script>
{% endblock %}
