{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Archivo {{ web_archivo.descripcion }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Archivo ' + web_archivo.descripcion) %}
        {{ topbar.button_previous('Página ' + web_archivo.web_pagina.titulo, url_for('web_paginas.detail', web_pagina_id=web_archivo.web_pagina_id)) }}
        {% if current_user.can_edit('WEB ARCHIVOS') %}
            {{ topbar.button_edit('Editar', url_for('web_archivos.edit', web_archivo_id=web_archivo.id)) }}
        {% endif %}
        {% if current_user.can_admin('WEB ARCHIVOS') %}
            {% if web_archivo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('web_archivos.delete', web_archivo_id=web_archivo.id)) }}{% endif %}
            {% if web_archivo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('web_archivos.recover', web_archivo_id=web_archivo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=web_archivo.estatus) %}
        {{ detail.label_value('Página', web_archivo.web_pagina.clave + ' - ' + web_archivo.web_pagina.titulo, url_for('web_paginas.detail', web_pagina_id=web_archivo.web_pagina_id)) }}
        {# detail.label_value('Descripción', web_archivo.descripcion) #}
        {{ detail.label_value('Clave', web_archivo.clave) }}
        {{ detail.label_value('Archivo', web_archivo.archivo) }}
        {{ detail.label_value('URL', web_archivo.url, web_archivo.url) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('WEB ARCHIVOS') %}
        {% if web_archivo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + web_archivo.archivo + '?') }}{% endif %}
        {% if web_archivo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + web_archivo.archivo + '?') }}{% endif %}
    {% endif %}
{% endblock %}
