{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo DGT Plataforma Endpoint{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo DGT Plataforma Endpoint') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('dgt_plataformas_endpoints.new', fid='dgt_plataforma_endpoint_form') %}
            {% call f.form_group(form.dgt_plataforma) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.ruta) %}{% endcall %}
            {% call f.form_group(form.proposito) %}{% endcall %}
            {% call f.form_group(form.metodo) %}{% endcall %}
            {% call f.form_group(form.payload_muestra) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
