{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Página {{ web_pagina.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Página ' + web_pagina.clave) %}
        {{ topbar.button_previous('Rama ' + web_pagina.web_rama.nombre, url_for('web_ramas.detail', web_rama_id=web_pagina.web_rama_id)) }}
        {% if current_user.can_edit('WEB PAGINAS') %}
            {{ topbar.button_edit('Editar metadatos', url_for('web_paginas.edit', web_pagina_id=web_pagina.id)) }}
            {{ topbar.button_edit('Editar contenido', url_for('web_paginas.content', web_pagina_id=web_pagina.id)) }}
        {% endif %}
        {% if current_user.can_admin('WEB PAGINAS') %}
            {% if web_pagina.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('web_paginas.delete', web_pagina_id=web_pagina.id)) }}{% endif %}
            {% if web_pagina.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('web_paginas.recover', web_pagina_id=web_pagina.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=web_pagina.estatus) %}
        {{ detail.label_value('Rama', web_pagina.web_rama.clave + ' - ' + web_pagina.web_rama.nombre, url_for('web_ramas.detail', web_rama_id=web_pagina.web_rama_id)) }}
        {{ detail.label_value('Titulo', web_pagina.titulo) }}
        {{ detail.label_value('Ruta', web_pagina.ruta) }}
        {{ detail.label_value('Clave', web_pagina.clave) }}
        {{ detail.label_value('Resumen', web_pagina.resumen) }}
        {{ detail.label_value('Fecha de modificación', web_pagina.fecha_modificacion) }}
        {{ detail.label_value('Responsable', web_pagina.responsable) }}
        {{ detail.label_value('Etiquetas', web_pagina.etiquetas) }}
        {{ detail.label_value('Vista previa', web_pagina.vista_previa) }}
        {{ detail.label_value('Cuándo publicar', web_pagina.tiempo_publicar) }}
        {{ detail.label_value('Cuándo archivar', web_pagina.tiempo_archivar) }}
        {{ detail.label_value('Estado', web_pagina.estado) }}
    {% endcall %}
    {% call detail.card('Contenido') %}
        {{ web_pagina.contenido }}
    {% endcall %}
    {% if current_user.can_view('WEB ARCHIVOS') %}
        {% call detail.card('Archivos') %}
            <!-- Filtros WebArchivos -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosWebArchivos.buscar(); return false;">
                        <div class="col-4">
                            <div class="form-floating">
                                <input id="filtroWebArchivoClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                                <label for="filtroWebArchivoClave">Clave</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="filtroWebArchivoDescripcion" type="text" class="form-control" aria-label="Descripción">
                                <label for="filtroWebArchivoDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosWebArchivos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosWebArchivos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable WebArchivos -->
            <table id="web_archivos_datatable" class="table {% if estatus == 'B' %}table-dark{% endif %} display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th>Archivo</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('WEB ARCHIVOS') %}
                <a href="{{ url_for('web_archivos.new', web_pagina_id=web_pagina.id) }}" class="btn btn-primary">Agregar archivo</a>
            {% endif %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('WEB PAGINAS') %}
        {% if web_pagina.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + web_pagina.titulo + '?') }}{% endif %}
        {% if web_pagina.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + web_pagina.titulo + '?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('WEB ARCHIVOS') %}
        <script>
            // DataTable WebArchivos
            const constructorDataTable = new ConfigDataTable('{{ csrf_token() }}');
            let configDTWebArchivos = constructorDataTable.config();
            configDTWebArchivos['ajax']['url'] = '/web_archivos/datatable_json';
            configDTWebArchivos['ajax']['data'] = {estatus: "A", web_pagina_id: {{ web_pagina.id}}};
            configDTWebArchivos['columns'] = [
                { data: 'detalle' },
                { data: 'descripcion' },
                { data: 'archivo' }
            ];
            configDTWebArchivos['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function (data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.clave + '</a>';
                    }
                }
            ];
            // Filtros WebArchivos
            const filtrosWebArchivos = new FiltrosDataTable('#web_archivos_datatable', configDTWebArchivos);
            filtrosWebArchivos.agregarInput('filtroWebArchivoClave', 'clave');
            filtrosWebArchivos.agregarInput('filtroWebArchivoDescripcion', 'descripcion', ''); // cambiar caseSensitive a ''
            filtrosWebArchivos.precargar();
        </script>
    {% endif %}
{% endblock %}
