{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Página {{ web_pagina.clave }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Página ' + web_pagina.clave) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'web_pagina_id': web_pagina.id} %}
        {% call f.form_tag('web_paginas.edit', fid='web_pagina_form', **form_kwargs) %}
            <div class="row">
                <div class="col-md-12">
                    {% call f.form_group(form.titulo) %}{% endcall %}
                    {% call f.form_group(form.ruta) %}{% endcall %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% call f.form_group(form.clave) %}{% endcall %}
                    {% call f.form_group(form.fecha_modificacion) %}{% endcall %}
                    {% call f.form_group(form.resumen) %}{% endcall %}
                </div>
                <div class="col-md-6">
                    {% call f.form_group(form.responsable) %}{% endcall %}
                    {% call f.form_group(form.etiquetas) %}{% endcall %}
                    {% call f.form_group(form.vista_previa) %}{% endcall %}
                    {% call f.form_group(form.tiempo_publicar) %}{% endcall %}
                    {% call f.form_group(form.tiempo_archivar) %}{% endcall %}
                </div>
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
