{% extends 'layouts/print_checkout.jinja2' %}

{% block title %}Constancia de Recepción de Documentos{% endblock %}

{% block content %}
    <div class="py-2">
        <p>
            Fecha {{ moment(edicto.creado, local=False).format('llll') }}<br>
            ID VPE-{{ edicto.id }}<br>
            <strong>{{ edicto.autoridad.descripcion }}</strong><br>
            <strong>{{ edicto.autoridad.distrito.nombre }}</strong>
        </p>
    </div>
    <div class="text-center py-2">
        <h3>P R E S E N T E</h3>
    </div>
    <div class="py-2">
        <p>
            Se hace constar que en la aplicación electrónica "Edictos en Línea" de la Plataforma Web del
            Poder Judicial del Estado de Coahuila de Zaragoza se recibió el siguiente documento:</p>
        <ul>
            <li><b>{{ edicto.descripcion }}</b></li>
            <li>{{ edicto.archivo }}</li>
        </ul>
        <p>Mismo que estará disponible en el sitio web del Poder Judicial de Coahuila de Zaragoza a la brevedad en:</p>
        <ul>
            <li><a href="{{ edicto.descargar_url }}">{{ edicto.descargar_url }}</a></li>
        </ul>
        <p>Lo anterior para los efectos legales que haya lugar.</p>
    </div>
    <div class="text-center py-2">
        <p>A T E N T A M E N T E</p>
        <strong>
            SALTILLO, COAHUILA DE ZARAGOZA, A {{ dia }} DE {{ mes }} DE {{ anio }}<br>
            DIRECCIÓN DE INFORMÁTICA
        </strong>
    </div>
{% endblock %}
