{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_districts('Distritos', url_for('edictos.list_distritos')) }}
        {% if autoridad %}
            {% if current_user.can_admin('EDICTOS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_autoridad_edictos_inactive', autoridad_id=autoridad.id)) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_autoridad_edictos', autoridad_id=autoridad.id)) }}{% endif %}
            {% endif %}
            {% if current_user.can_admin('EDICTOS') %}
                {{ topbar.button_upload('Nuevo Edicto', url_for('edictos.new_for_autoridad', autoridad_id=autoridad.id)) }}
            {% endif %}
        {% else %}
            {% if current_user.can_edit('EDICTOS') %}
                {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('edictos.list_inactive')) }}{% endif %}
                {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('edictos.list_active')) }}{% endif %}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Edictos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosEdictos.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroAutoridadClave" type="text" class="form-control" aria-label="Autoridad" style="text-transform: uppercase;">
                            <label for="filtroAutoridadClave">Autoridades</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaDesde" type="date" class="form-control" aria-label="Fecha Desde">
                            <label for="filtroFechaDesde">Fecha Desde</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroFechaHasta" type="date" class="form-control" aria-label="Fecha Hasta">
                            <label for="filtroFechaHasta">Fecha Hasta</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-3 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosEdictos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosEdictos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Edictos -->
        <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Creados</th>
                    <th>Autoridades</th>
                    <th>Fechas</th>
                    <th>Descripciones</th>
                    <th>Expedientes</th>
                    <th>No. Pub.</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Edictos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/edictos/datatable_json_admin';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: "creado" },
            { data: "autoridad" },
            { data: "fecha" },
            { data: "detalle" },
            { data: "expediente" },
            { data: "numero_publicacion" },
        ];
        configDataTable['columnDefs'] = [
                {
                    targets: 0,
                    type: "date",
                    render: function (data, type, row) {
                        return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    targets: 2,
                    type: "date",
                    render: function (data, type, row) {
                        return moment(data).format("DD MMM YYYY");
                    }
                },
                {
                    targets: 3,
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' +
                            (data.descripcion.length > 40 ? data.descripcion.substr(0, 40) + '…' : data.descripcion) +
                            '</a>';
                    }
                },
        ];
        // Filtros Edictos
        const filtrosEdictos = new FiltrosDataTable('#edictos_datatable', configDataTable);
        filtrosEdictos.agregarInput('filtroAutoridadClave', 'autoridad_clave');
        filtrosEdictos.agregarInput('filtroFechaDesde', 'fecha_desde');
        filtrosEdictos.agregarInput('filtroFechaHasta', 'fecha_hasta');
        filtrosEdictos.agregarInput('filtroDescripcion', 'descripcion');
        filtrosEdictos.precargar();
    </script>
{% endblock %}
