{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_admin('EDICTOS') %}
            {{ topbar.button_previous('Edictos', url_for('edictos.list_active')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Edictos- distritos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosObjetos.buscar(); return false;">
                    <div class="col-6">
                        <div class="form-floating">
                            <input id="filtroDistritos" type="text" class="form-control" aria-label="Distritos" style="text-transform: uppercase;">
                            <label for="filtroDistritos">Distritos</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosObjetos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosObjetos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Edictos- distritos -->
        <table id="edictos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Distritos</th>
                </tr>
            </thead>
            <tbody>
                {% for distrito in distritos %}
                <tr>
                    <td><a href="{{ url_for('edictos.list_autoridades', distrito_id=distrito.id) }}">{{ distrito.nombre }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Edictos- distritos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '/edictos/datatable_json';
        configDataTable['ajax']['data'] = {{ filtros }};
        configDataTable['columns'] = [
            { data: 'detalle' },
            { data: 'descripcion' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            }
        ];
        // Filtros Edictos- distritos
        const filtrosObjetos = new FiltrosDataTable('#edictos_datatable', configDataTable);
        filtrosObjetos.agregarInput('filtroClave', 'clave');
        filtrosObjetos.agregarInput('filtroDescripcion', 'descripcion');
        filtrosObjetos.precargar();
    </script>
{% endblock %}
